doctype html
head
  title Hello, world!
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width,initial-scale=1')
  meta(name='description' content='')
body
    a(href='demo-book-2.html')
        h1 Hello, world! - 2