#book-download.grid-center  
  .book-download-body.col-6_sm-12.grid-center 
      
    .col-3_sm-hidden
      .frame
        img.cover(src="https://d2sis3lil8ndrq.cloudfront.net/books/4c7f6303-60e8-45dc-a95b-aae08a4f32a3.png") 
    .col-9_sm-12.terms
      
      h3 FREE JavaScript Book 
        a#closeit(href='#0') 
      span.tagline  Valued at $11.95 on Amazon. Yours free!
      form.grid-center-noGutter            
        .col-4 
          input(name='name', type='text', value='', placeholder="Name")
        .col-4
          input(name='email', type='text', value='', placeholder="your@email.com")
        .col-4 
          button(type='submit', value='Submit', class="access") Submit
      

