#modalbase
  dialog#modal-dialog

    //* Send a link
    .linkmodal-body
      h4 Create a link to this paragraph
      p.small.global Anyone with this link can view this section of the book.

      p.linkback.modal-gutter.darker
        a(href='https://www.sitepoint.com/premium/books/the-principles-of-beautiful-web-design-4th-edition/link/kew5dfmo')
          | https://www.sitepoint.com/premium/books/the-principles-of-beautiful-web-design-4th-edition/link/kew5dfmo

      .close-link.closeme
        svg(viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M10.8 2c.3-.4.3-.9 0-1.2a.7.7 0 00-1 0L5.6 5.1 1.7.9a.7.7 0 00-1 0c-.4.3-.4.8 0 1.1l3.9 4.2-4.4 4.5c-.3.4-.3.9 0 1.2.3.3.8.3 1 0l4.5-4.6 4.4 4.6c.3.4.8.4 1 0 .4-.3.4-.8 0-1L6.8 6.1l4-4.3z' fill='#059FF5')

      .button#copy-link Copy Link


    //* Tweet a link
    .tweet-body
      h4 Tweet a link to this paragraph 
      img.avatar(src='images/authors/author-malcurtis.png')
      
      p.modal-avatar-gutter.darker
        span.username 
          strong Mal Curtis 
          | @IntrepidFaux
        a(href='https://www.sitepoint.com/premium/books/the-principles-of-beautiful-web-design-4th-edition/link/kew5dfmo')
          | https://www.sitepoint.com/premium/books/the-principles-of-beautiful-web-design-4th-edition/link/kew5dfmo

      p.small.global Anyone with this link can view this section of the book.

      .close-link.closeme 
        svg(viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M10.8 2c.3-.4.3-.9 0-1.2a.7.7 0 00-1 0L5.6 5.1 1.7.9a.7.7 0 00-1 0c-.4.3-.4.8 0 1.1l3.9 4.2-4.4 4.5c-.3.4-.3.9 0 1.2.3.3.8.3 1 0l4.5-4.6 4.4 4.6c.3.4.8.4 1 0 .4-.3.4-.8 0-1L6.8 6.1l4-4.3z' fill='#059FF5')

      svg(class='twitter-controls' viewBox='0 0 141 16' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M100.6 6.6a1 1 0 100-2 1 1 0 000 2zM105.3 5.6a1 1 0 11-1.9 0 1 1 0 012 0z' fill='#059FF5')
        path(fill-rule='evenodd' clip-rule='evenodd' d='M110 7.5a7.5 7.5 0 11-15 0 7.5 7.5 0 0115 0zm-1.2 0a6.3 6.3 0 11-12.6 0 6.3 6.3 0 0112.6 0z' fill='#059FF5')
        path(d='M102.7 9.4a5.5 5.5 0 01-.3 0c-1.7 0-2.6-.7-2.8-1a.6.6 0 00-.8-.2c-.2.2-.3.5-.1.8.4.6 1.7 1.6 3.7 1.6a7 7 0 00.3 0c2 0 3.3-1 3.7-1.6.2-.3.1-.6-.1-.8a.6.6 0 00-.8.2c-.2.3-1.1 1-2.8 1z' fill='#059FF5')
        path(fill-rule='evenodd' clip-rule='evenodd' d='M31 1.6c0-.9.7-1.6 1.6-1.6h11.8c.9 0 1.6.7 1.6 1.6v11.8c0 .9-.7 1.6-1.6 1.6H32.6c-.9 0-1.6-.7-1.6-1.6V1.6zm1.6-.2c-.1 0-.2 0-.2.2v11.8c0 .1 0 .2.2.2h11.8c.1 0 .2 0 .2-.2V1.6c0-.1 0-.2-.2-.2H32.6z' fill='#059FF5')
        path(d='M36.4 7.1c0-.3-.3-.5-.7-.5-.6 0-1 .4-1 1.2 0 .7.4 1.2 1 1.2.5 0 .8-.3.8-.7h-.8v-.7h1.7v.5c0 1-.7 1.7-1.7 1.7-1.2 0-2-.8-2-2 0-1.3.9-2 2-2 .9 0 1.6.5 1.7 1.3h-1zM39.4 5.8v4h-1v-4h1zM40.5 9.8v-4h2.7v.8h-1.7v.8H43v.8h-1.6v1.6h-1z' fill='#059FF5')
        path(fill-rule='evenodd' clip-rule='evenodd' d='M0 1.6C0 .7.7 0 1.6 0h11.8c.9 0 1.6.7 1.6 1.6v11.8c0 .9-.7 1.6-1.6 1.6H1.6C.7 15 0 14.3 0 13.4V1.6zm1.6-.2c-.1 0-.2 0-.2.2v9.3L5 7.3l1.7 1.4L10 5.4l3.6 3.3V1.6c0-.1 0-.2-.2-.2H1.6zm12 9.1L10 7.3 7.7 9.6l4.6 4h1.1c.1 0 .2 0 .2-.2v-2.9zm-3.3 3.1L5 9.1l-3.6 3.7v.6c0 .1 0 .2.2.2h8.7zM6.3 5a1.4 1.4 0 11-2.7 0 1.4 1.4 0 012.8 0zM65 .5a.5.5 0 10-1 0V14.5a.5.5 0 101 0v-1.6h9.7V9.6h5.4V5.4h-3.2V2H65V.5zm0 2.7v2.2h10.8V3.2H65zm0 3.2v2.2h14V6.4H65.1zm0 3.2v2.2h8.6V9.6h-8.5zM130.6 0c.4 0 .7.3.7.6V1h5.7V.6a.6.6 0 011.3 0V1h.7a2 2 0 012 2v5.3c-.3-.5-.8-.9-1.3-1.2V5h-11.4v7c0 .4.3.8.7.8h2.1l.5 1.2H129a2 2 0 01-2-2V3c0-1.1.9-2 2-2h1V.6c0-.3.3-.6.6-.6zm6.4 2.3a.6.6 0 001.3 0h.7c.4 0 .8.3.8.7v1h-11.6V3c0-.4.4-.8.8-.8h1v.2a.6.6 0 001.3 0v-.1h5.7zm-.5 4.7a4.5 4.5 0 100 9 4.5 4.5 0 000-9zm0 8.1a3.6 3.6 0 110-7.2 3.6 3.6 0 010 7.2zm-.5-6.6v2.8l3 1.7.5-.7L137 11V8.5h-1z' fill='#059FF5')

      .button#copy-link Tweet

    //* Bookmark 
    .bookmark-body
      h4 Bookmark Added!
      .close-link.closeme 
        svg(width='12' height='13' viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M10.8 2c.3-.4.3-.9 0-1.2a.7.7 0 00-1 0L5.6 5.1 1.7.9a.7.7 0 00-1 0c-.4.3-.4.8 0 1.1l3.9 4.2-4.4 4.5c-.3.4-.3.9 0 1.2.3.3.8.3 1 0l4.5-4.6 4.4 4.6c.3.4.8.4 1 0 .4-.3.4-.8 0-1L6.8 6.1l4-4.3z' fill='#059FF5')


    //* Ask a question
    .askquestion-body
      .part-1
        h4 Post a question to the SitePoint Community

        svg.avatar( viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg')
          rect(width='40' height='40' rx='20' fill='#C3002F')
          path(d='M14.7 23.7h-4.1L9.8 26H7.3l4.3-11.4h2.1L18 26h-2.5l-.8-2.3zm-3.5-2h2.9l-1.5-4.2-1.4 4.3zm16.4 1l1.5-8h2.4L28.9 26h-2.3l-1.9-7.6L23 26h-2.4L18 14.6h2.3l1.6 8.1 1.9-8h2l1.8 8z' fill='#fff')


        form.discourse-post.modal-avatar-gutter
          label.minor(for='ask-a-question') What is your question in one brief sentence.
            input#ask-a-question.minor.full(type='text' placeholder=' ')
          
          label.minor(for='question-details') Explain any details here: 
            .post-controls
              svg(viewBox='0 0 186 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                style.
                  a path{
                  fill: #bbb;                  
                  }
                  a:hover path{
                  fill: #666;
                  }
                a(href='#')
                  path.ctrl-b(d='M0 13v-1.2l1-.2V4.4l-1-.2V3h4.4c1.2 0 2.1.2 2.8.7.6.4 1 1.1 1 2 0 .5-.2.9-.4 1.3l-1 .8c.5.1 1 .4 1.3.8.3.4.4 1 .4 1.5 0 1-.3 1.6-1 2.1-.6.5-1.5.8-2.6.8H0zm3-5.8h1.5c.5 0 1-.1 1.2-.4.3-.2.5-.5.5-1 0-.8-.6-1.3-1.8-1.3H3.1v2.7zm0 4.2H5c1 0 1.6-.4 1.6-1.3 0-.5-.1-.9-.3-1.2-.3-.2-.6-.3-1.2-.3H3v2.8z')
                a(href='#')
                  path.ctrl-i(d='M26 13v-1.2l1-.2V4.4l-1-.2V3h4.1v1.2l-1 .2v7.2l1 .2V13H26z')
                a(href='#')
                  path.ctrl-code(d='M102.9 13h1.7l2.8-9h-1.7l-2.8 9zm-.6-7.5v-.4l-.8-.7a.3.3 0 00-.4 0l-3.4 3.4c-.1 0-.1.3 0 .4l3.4 3.4h.4l.8-.8v-.4L99.8 8l2.5-2.5zm10.2 2.3L109 4.4a.3.3 0 00-.4 0l-.8.8c-.1.1-.1.3 0 .4l2.4 2.4-2.4 2.5c-.1 0-.1.3 0 .4l.8.7c0 .1.3.1.4 0l3.4-3.4v-.4z')
                a(href='#')
                  path.ctrl-dl(d='M129 10.2h-1.7l-.4-.1a.5.5 0 01-.2-.4V6H125c-.2 0-.4-.1-.4-.3-.1-.2 0-.3 0-.4l3.3-3.3a.4.4 0 01.6 0l3.3 3.3c.1 0 .1.2 0 .4 0 .2-.1.3-.3.3h-2v4l-.4.1zm4.6-.2v2.4l-.1.4-.4.2h-10c-.1 0-.2 0-.3-.2a.5.5 0 01-.2-.4V10c0-.1 0-.2.2-.3l.3-.2h3v.2c0 .3 0 .6.3.9.2.2.5.3.9.3h1.7c.3 0 .6-.1.8-.3.3-.3.4-.6.4-1h3.3l.1.4zm-2.8 2.2a.4.4 0 000-.6.4.4 0 00-.6 0 .4.4 0 000 .6.4.4 0 00.6 0zm1.4 0a.4.4 0 000-.6.4.4 0 00-.6 0 .4.4 0 000 .6.4.4 0 00.6 0z')
                a(href='#')
                  path.ctrl-ul(d='M153.2 10.7c0-.6-.6-1.2-1.3-1.2-.7 0-1.3.6-1.3 1.2 0 .7.6 1.3 1.3 1.3.7 0 1.3-.6 1.3-1.3zm0-3.2c0-.7-.6-1.3-1.3-1.3-.7 0-1.3.6-1.3 1.3 0 .6.6 1.2 1.3 1.2.7 0 1.3-.6 1.3-1.2zm9.4 2.6s0-.2-.2-.2h-8.1c-.2 0-.3.1-.3.2v1.2c0 .2.1.2.3.2h8.1c.1 0 .2 0 .2-.2v-1.2zm-9.4-6c0-.6-.6-1.1-1.3-1.1-.7 0-1.3.5-1.3 1.2s.6 1.2 1.3 1.2c.7 0 1.3-.5 1.3-1.2zm9.4 2.7s0-.2-.2-.2h-8.1c-.2 0-.3.1-.3.2v1.3s.1.2.3.2h8.1l.2-.2V6.8zm0-3.2c0-.1 0-.2-.2-.2h-8.1c-.2 0-.3 0-.3.2v1.2c0 .1.1.2.3.2h8.1c.1 0 .2 0 .2-.2V3.6z')
                a(href='#')
                  path.ctrl-ol(d='M176.9 12c0-.4-.3-.7-.7-.8l.6-.6V10h-2v.8h.6v-.3h.6l-.7.8.1.3c.3 0 .7 0 .7.3 0 .2-.2.3-.4.3a1 1 0 01-.7-.2l-.4.5c.3.2.7.4 1.1.4.7 0 1.2-.4 1.2-1zm0-3.5h-.7v.3h-.7c0-.4 1.3-.6 1.3-1.4 0-.6-.5-.9-1-.9s-1 .2-1.1.6l.5.3c0-.1.3-.3.5-.3s.3.1.3.3c0 .5-1.4.6-1.4 1.7v.3h2.3v-1zm8.7 1.8c0-.1 0-.2-.2-.2H178c-.1 0-.2 0-.2.2v1c0 .1 0 .2.2.2h7.5c.1 0 .2 0 .2-.2v-1zm-8.7-5h-.7V3h-.6l-.9.7.5.4.3-.3v1.4h-.7v.6h2.1v-.6zm8.7 2h-7.9v1.2l.2.1h7.5l.2-.1V7.4zm0-2.8s0-.2-.2-.2H178l-.2.2v1.1s0 .2.2.2h7.5l.2-.2v-1z')
                a(href='#')
                  path.ctrl-link(d='M54.6 12.8c-.2 0-.4 0-.6-.2L53 11.3a.9.9 0 01-.2-.6c0-.2 0-.4.2-.6l1.6-1.7.6-.3c.2 0 .4.1.5.3-.2.3-.5.5-.5 1 0 .4.3.8.7.8.4 0 .7-.3 1-.6l.2.6-.2.6-1.7 1.8-.5.2zm5.6-6a.7.7 0 01-.6-.3c.3-.3.6-.5.6-1 0-.4-.4-.8-.8-.8s-.6.3-.9.6a.8.8 0 01-.2-.6c0-.2 0-.4.2-.6L60 2.3l.6-.2c.2 0 .4 0 .5.2l1.2 1.3.2.6c0 .2 0 .4-.2.6l-1.7 1.7c-.1.2-.3.3-.5.3zm-5.6 7.7c.6 0 1.1-.3 1.6-.8l1.6-1.7c.5-.5.7-1.1.7-1.8s-.2-1.3-.7-1.8l.7-.7c.4.4 1 .7 1.7.7.6 0 1.2-.2 1.6-.7L63.4 6c.5-.4.7-1 .7-1.7s-.2-1.3-.6-1.8l-1.2-1.2c-.4-.5-1-.7-1.6-.7-.6 0-1.2.2-1.6.7L57.4 3c-.4.4-.7 1-.7 1.7s.3 1.3.7 1.8l-.7.8c-.4-.5-1-.8-1.6-.8-.6 0-1.2.2-1.7.7L51.8 9c-.4.4-.7 1-.7 1.7s.2 1.3.7 1.8l1.1 1.2c.5.5 1 .8 1.7.8z')
                a(href='#')
                  g.ctrl-quote
                    path(d='M75.6 4c0-.6.5-1 1-1h3c.6 0 1 .4 1 1v5a4 4 0 01-4 4v-2.2a3 3 0 002-2.8h-2a1 1 0 01-1-1V4z')
                    path(d='M81.6 4c0-.6.5-1 1-1h3c.6 0 1 .4 1 1v5a4 4 0 01-4 4v-2.2a3 3 0 002-2.8h-2a1 1 0 01-1-1V4z')

            textarea#question-details.minor.full(type='textarea' rows='5' placeholder='' )

          label.small(for='include-link')
            input#include-link(type='checkbox' checked='')
            |  Include a link to this book section?
          button#ask.button(type='submit') Post your question

      .part-2
        h4 Posting...
      
        .loader
          svg.lds-infinity(xmlns='http://www.w3.org/2000/svg' viewBox='0 20 100 60' preserveAspectRatio='xMidYMid')
            path(fill='none' d='M24.3,30C11.4,30,5,43.3,5,50s6.4,20,19.3,20c19.3,0,32.1-40,51.4-40 C88.6,30,95,43.3,95,50s-6.4,20-19.3,20C56.4,70,43.6,30,24.3,30z' stroke='rgba(255,255,255,0.05)' stroke-width='7')
            path(fill='none' d='M24.3,30C11.4,30,5,43.3,5,50s6.4,20,19.3,20c19.3,0,32.1-40,51.4-40 C88.6,30,95,43.3,95,50s-6.4,20-19.3,20C56.4,70,43.6,30,24.3,30z' stroke='#CC3F72' stroke-width='7' stroke-dasharray='110 8 7 6 5 4 3 2 1 110')
              animate(attributeName='stroke-dashoffset' calcMode='linear' values='0;256.6' keyTimes='0;1' dur='2.3' begin='0s' repeatCount='indefinite')
          |   Preparing to post...

      .part-3
        h4 Success!
        svg.avatar( viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg')
          rect(width='40' height='40' rx='20' fill='#C3002F')
          path(d='M14.7 23.7h-4.1L9.8 26H7.3l4.3-11.4h2.1L18 26h-2.5l-.8-2.3zm-3.5-2h2.9l-1.5-4.2-1.4 4.3zm16.4 1l1.5-8h2.4L28.9 26h-2.3l-1.9-7.6L23 26h-2.4L18 14.6h2.3l1.6 8.1 1.9-8h2l1.8 8z' fill='#fff')

        
        p.modal-avatar-gutter Your question has been posted to the 
          a(href="https://www.sitepoint.com/community/") SitePoint Community
          |. We’ll notify you the moment we see a response.  

        .center
          a(href="https://www.sitepoint.com/community/t/grid-items-not-centering/359083").button#go-to-post Click here to view your post
        
        footer
          a.minor.closeme(href="#0") (X) Or close this window and return to your book

      .close-link.closeme 
        svg(viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M10.8 2c.3-.4.3-.9 0-1.2a.7.7 0 00-1 0L5.6 5.1 1.7.9a.7.7 0 00-1 0c-.4.3-.4.8 0 1.1l3.9 4.2-4.4 4.5c-.3.4-.3.9 0 1.2.3.3.8.3 1 0l4.5-4.6 4.4 4.6c.3.4.8.4 1 0 .4-.3.4-.8 0-1L6.8 6.1l4-4.3z' fill='#059FF5')

      
