#modalbase
  dialog#linkmodal
    .linkmodal-body
      h4 Send a link to this paragraph
      p.small Anyone with this link can view this section of the book.
      p.linkback
        a(href='https://www.sitepoint.com/premium/books/the-principles-of-beautiful-web-design-4th-edition/link/kew5dfmo')
          | https://www.sitepoint.com/premium/books/the-principles-of-beautiful-web-design-4th-edition/link/kew5dfmo
      .close-link x
      button#copy-link Copy Link