#modalbase
  dialog#modal-dialog
    .linkmodal-body
      h4 Create a link to this paragraph
      p.small Anyone with this link can view this section of the book.
      p.linkback
        a(href='https://www.sitepoint.com/premium/books/the-principles-of-beautiful-web-design-4th-edition/link/kew5dfmo')
          | https://www.sitepoint.com/premium/books/the-principles-of-beautiful-web-design-4th-edition/link/kew5dfmo
      .close-link x
      button#copy-link Copy Link

    .tweet-body
      h4 Tweet a link to this paragraph 
      p.small Anyone with this link can view this section of the book.
      p.linkback
        a(href='https://www.sitepoint.com/premium/books/the-principles-of-beautiful-web-design-4th-edition/link/kew5dfmo')
          | https://www.sitepoint.com/premium/books/the-principles-of-beautiful-web-design-4th-edition/link/kew5dfmo
      .close-link x
      button#copy-link Copy Link


    .bookmark-body
      h4 Add a bookmark 
      p.small Anyone with this link can view this section of the book.
      p.linkback
        a(href='https://www.sitepoint.com/premium/books/the-principles-of-beautiful-web-design-4th-edition/link/kew5dfmo')
          | https://www.sitepoint.com/premium/books/the-principles-of-beautiful-web-design-4th-edition/link/kew5dfmo
      .close-link x
