.container
    .grid-noGutter
        .col-12
            h2.underline.currentquery Showing 113 results for: 
                em 'css animation'
            h3 Books (53)
    section.grid-noGutter.results-books
        .col-9    
            h4.book-listing
                img.cover(src='images/covers/html5games.png')
                strong 16 
                | results found in 
                em HTML Games: Novice to Ninja
        .col-3.showall
            p 
                a(href="#") Show all 16 results
        .col-12
            .grid-noGutter.result-units
                .col-12.result-unit
                    h5 Chapter 3:  CSS Selectors 
                    p.minor.sample Why should your site look like 101 others? Consider developing  your own 
                        span.query CSS Animation 
                        | theme. You'll require some HTML, CSS and PHP knowledge but a custom theme offers more flexibility and better performance than any off-the-shelf option. There are two... 

                .col-12.result-unit
                    h5 Chapter 6: Interactive elements
                    p.minor.sample Think of 
                        span.query CSS animation 
                        | as the more sophisticated sister to CSS transitions. Animations differ from transitions in a few key ways: Animations don’t degrade gracefully. If there’s no support from the browser, the user is out of luck. The alternative is to use JavaScript...

    section.grid-noGutter.results-books
        .col-9    
            h4.book-listing
                img.cover(src='images/covers/adobexd.png')
                strong 16 
                | results found in 
                em Adobe XD: Novice to Ninja
        .col-3.showall
            p 
                a(href="#") Show all 16 results
        .col-12
            .grid-noGutter.result-units
                .col-12.result-unit
                    h5 Chapter 3:  CSS Selectors 
                    p.minor.sample Why should your site look like 101 others? Consider developing  your own 
                        span.query CSS Animation 
                        | theme. You'll require some HTML, CSS and PHP knowledge but a custom theme offers more flexibility and better performance than any off-the-shelf option. There are two... 

                .col-12.result-unit
                    h5 Chapter 6: Interactive elements
                    p.minor.sample Think of 
                        span.query CSS animation 
                        | as the more sophisticated sister to CSS transitions. Animations differ from transitions in a few key ways: Animations don’t degrade gracefully. If there’s no support from the browser, the user is out of luck. The alternative is to use JavaScript...
                        