section.AboutUs_listing(role='main')
  .AboutUs_container
    h2.align-center The SitePoint Team
    ul.AboutUs_team.grid-center
      li.AboutUs_teamMember.col-3_sm-6
        figure.AboutUs_teamMemberPhoto
          img(src='https://dab1nmslvvntp.cloudfront.net/wp-content/uploads/2013/07/1437456859SitePoint_July-9751-3-300x300.jpg', alt='Mark Harbottle')
          figcaption.AboutUs_teamMemberInfo
            a(href='https://twitter.com/daxatron', target='_blank')
              h3.team-member_name.is-size-h4 Mark Harbottle
              p.team-member_title Co-Founder
              span.team-member_twitter
                svg(viewBox='0 0 24 24', width='24', y='24' xmlns='http://www.w3.org/2000/svg')
                  use(xlink:href='#icon-tw', x='0', y='0', fill='#333')

      li.AboutUs_teamMember.col-3_sm-6
        figure.AboutUs_teamMemberPhoto
          img(src='https://dab1nmslvvntp.cloudfront.net/wp-content/uploads/2013/07/1437362837matt-mickiewicz-a4cef940837447994450613cbf2e75f0.jpg', alt='Matt Mickiewicz')
          figcaption.AboutUs_teamMemberInfo
            a(href='https://twitter.com/MattMickiewicz', target='_blank')
              h3.team-member_name.is-size-h4  Matt Mickiewicz
              p.team-member_title Co-Founder
              span.team-member_twitter
                svg(viewBox='0 0 24 24', width='24', y='24' xmlns='http://www.w3.org/2000/svg')
                  use(xlink:href='#icon-tw', x='0', y='0', fill='#333')

      li.AboutUs_teamMember.col-3_sm-6
        figure.AboutUs_teamMemberPhoto
          img(src='https://dab1nmslvvntp.cloudfront.net/wp-content/uploads/2013/07/1438562645SitePoint-0771-300x300.jpg', alt='Leni Mayo')
          figcaption.AboutUs_teamMemberInfo
            a(href='https://twitter.com/lenidot', target='_blank')
              h3.team-member_name.is-size-h4 Leni Mayo
              p.team-member_title Director
              span.team-member_twitter
                svg(viewBox='0 0 24 24', width='24', y='24' xmlns='http://www.w3.org/2000/svg')
                  use(xlink:href='#icon-tw', x='0', y='0', fill='#333')

      li.AboutUs_teamMember.col-3_sm-6
        figure.AboutUs_teamMemberPhoto
          img(src='https://dab1nmslvvntp.cloudfront.net/wp-content/uploads/2013/07/1437380712SitePoint_July-Simon--300x300.jpg', alt='Simon Mackie')
          figcaption.AboutUs_teamMemberInfo
            a(href='https://twitter.com/spiky_simon', target='_blank')
              h3.team-member_name.is-size-h4  Simon Mackie
              p.team-member_title Book Commissioning
              span.team-member_twitter
                svg(viewBox='0 0 24 24', width='24', y='24' xmlns='http://www.w3.org/2000/svg')
                  use(xlink:href='#icon-tw', x='0', y='0', fill='#333')

      li.AboutUs_teamMember.col-3_sm-6
        figure.AboutUs_teamMemberPhoto
          img(src='https://dab1nmslvvntp.cloudfront.net/wp-content/uploads/2013/07/1437359312SitePoint_July-9013-300x300.jpg', alt='Alex Walker')
          figcaption.AboutUs_teamMemberInfo
            a(href='https://twitter.com/alexmwalker', target='_blank')
              h3.team-member_name.is-size-h4  Alex Walker
              p.team-member_title Design and UX Editor
              span.team-member_twitter
                svg(viewBox='0 0 24 24', width='24', y='24' xmlns='http://www.w3.org/2000/svg')
                  use(xlink:href='#icon-tw', x='0', y='0', fill='#333')

      li.AboutUs_teamMember.col-3_sm-6
        figure.AboutUs_teamMemberPhoto
          img(src='https://dab1nmslvvntp.cloudfront.net/wp-content/uploads/2013/07/1437358867SitePoint_July-9079-300x300.jpg', alt='Adam')
          figcaption.AboutUs_teamMemberInfo
            h3.team-member_name.is-size-h4  Adam
            p.team-member_title System Administrator

      li.AboutUs_teamMember.col-3_sm-6
        figure.AboutUs_teamMemberPhoto
          img(src='https://dab1nmslvvntp.cloudfront.net/wp-content/uploads/2016/08/1470268144Screen-Shot-2016-08-04-at-9.48.26-AM.png', alt='Stuart Mitchell')
          figcaption.AboutUs_teamMemberInfo
            a(href='https://twitter.com/mrlagmer', target='_blank')
              h3.team-member_name.is-size-h4  Stuart Mitchell
              p.team-member_title Senior Developer
              span.team-member_twitter
                svg(viewBox='0 0 24 24', width='24', y='24' xmlns='http://www.w3.org/2000/svg')
                  use(xlink:href='#icon-tw', x='0', y='0', fill='#333')

      li.AboutUs_teamMember.col-3_sm-6
        figure.AboutUs_teamMemberPhoto
          img(src='https://dab1nmslvvntp.cloudfront.net/wp-content/uploads/2014/05/1437364336SitePoint_July_April--300x300.jpg', alt='April Bresnahan')
          figcaption.AboutUs_teamMemberInfo
            a(href='https://twitter.com/app103', target='_blank')
              h3.team-member_name.is-size-h4  April Bresnahan
              p.team-member_title Customer Support Manager
              span.team-member_twitter
                svg(viewBox='0 0 24 24', width='24', y='24' xmlns='http://www.w3.org/2000/svg')
                  use(xlink:href='#icon-tw', x='0', y='0', fill='#333')

      li.AboutUs_teamMember.col-3_sm-6
        figure.AboutUs_teamMemberPhoto
          img(src='https://dab1nmslvvntp.cloudfront.net/wp-content/uploads/2014/05/1437439803SitePoint_July-Bill--300x300.jpg', alt='Bill Mousoulis')
          figcaption.AboutUs_teamMemberInfo
            a(href='https://twitter.com/billmousoulis', target='_blank')
              h3.team-member_name.is-size-h4  Bill Mousoulis
              p.team-member_title Customer Support
              span.team-member_twitter
                svg(viewBox='0 0 24 24', width='24', y='24' xmlns='http://www.w3.org/2000/svg')
                  use(xlink:href='#icon-tw', x='0', y='0', fill='#333')


      li.AboutUs_teamMember.col-3_sm-6
        figure.AboutUs_teamMemberPhoto
          img(src='https://dab1nmslvvntp.cloudfront.net/wp-content/uploads/2015/01/1422003380perna.jpg', alt='Maria Antonietta Perna')
          figcaption.AboutUs_teamMemberInfo
            a(href='https://twitter.com/AntoniettaPerna', target='_blank')
              h3.team-member_name.is-size-h4  Maria Antonietta Perna
              p.team-member_title Editor
              span.team-member_twitter
                svg(viewBox='0 0 24 24', width='24', y='24' xmlns='http://www.w3.org/2000/svg')
                  use(xlink:href='#icon-tw', x='0', y='0', fill='#333')

      li.AboutUs_teamMember.col-3_sm-6
        figure.AboutUs_teamMemberPhoto
          img(src='https://dab1nmslvvntp.cloudfront.net/wp-content/uploads/2015/11/1447635158nilsonjacques-96x96.jpg', alt='Nilson Jacques')
          figcaption.AboutUs_teamMemberInfo
            a(href='https://twitter.com/nilsonjacques', target='_blank')
              h3.team-member_name.is-size-h4  Nilson Jacques
              p.team-member_title  Editor
              span.team-member_twitter
                svg(viewBox='0 0 24 24', width='24', y='24' xmlns='http://www.w3.org/2000/svg')
                  use(xlink:href='#icon-tw', x='0', y='0', fill='#333')

      li.AboutUs_teamMember.col-3_sm-6
        figure.AboutUs_teamMemberPhoto
          img(src='https://dab1nmslvvntp.cloudfront.net/wp-content/uploads/2015/05/1430879451rm-96x96.png', alt='Ralph Mason')
          figcaption.AboutUs_teamMemberInfo
            a(href='https://twitter.com/pageaffairs', target='_blank')
              h3.team-member_name.is-size-h4  Ralph Mason
              p.team-member_title Community Leader
              span.team-member_twitter
                svg(viewBox='0 0 24 24', width='24', y='24' xmlns='http://www.w3.org/2000/svg')
                  use(xlink:href='#icon-tw', x='0', y='0', fill='#333')

