p.is-size-h4
  | With cutting-edge CSS standards like 
  a(style='font-weight:bold', href='https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout') CSS Grid Layout
  |  and 
  a(href='https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Basic_Concepts_of_Flexbox') Flexbox
  | , coding a web page layout is no longer such a pain. If you add to this that browser support for both 
  a(style='font-weight:bold', href='https://caniuse.com/#search=css%20grid') Grid
  |  and 
  a(style='font-weight:bold', href='https://caniuse.com/#search=flexbox') Flexbox
  |  is pretty good too, then the question is bound to come up: Why should consider learning and using CSS frameworks in my development work?

.rollerdoor.ad-300
  img(src='http://sweetpotatochronicles.com/wp-content/uploads/2015/07/ads-300x250.gif')

p
  | In this article, I’ll focus on 
  a(href='https://getbootstrap.com') Bootstrap
  | , since it’s arguably one of the most popular among all the CSS UI libraries available out there.
p
  | In my view, there are still a number of reasons why it does still make sense to learn and use Bootstrap today.

p Here’s a few of them for you.
h2(id='whatiscssgrid?') What Is CSS Grid?




p
  | Rachel Andrew, a well-known speaker and writer on all things CSS Grid-related, 
  a(href='https://rachelandrew.co.uk/archives/2017/07/01/you-do-not-need-a-css-grid-based-grid-system/') defines it as follows
  | :
blockquote
  p
    | Grid is a grid system. It allows you to define columns and rows in your CSS, without needing to define them in markup. You don’t need a tool that helps you make it look like you have a grid, you actually have a grid!
p
  | The implementation of this CSS standard gives developers the much needed ability to build page layouts with native CSS code, with no dependency from the HTML markup except for the presence of a wrapper element that works as containing grid. Just imagine the flexibility and the potential for creativity in web design!
p
  | For instance, you don’t need custom classes or extra rows in your markup to build this simple layout:
p
  img.alignnone.size-full.wp-image-163233(src='https://dab1nmslvvntp.cloudfront.net/wp-content/uploads/2018/02/1517484511simple-grid-layout.png', alt='Simple web page layout built with CSS Grid', width='700', height='221')
p Here’s the HTML:
pre.language-markup.
p
  | As for the CSS, this is where you’re going to build your visual layout. All it takes in this simple case is a few lines of code:
pre.language-css.
p That’s it, you’re done! Not bad.
h2(id='whatisbootstrap?') What Is Bootstrap?
p
  | At the time of this writing, 
  a(href='https://trends.builtwith.com/docinfo/Twitter-Bootstrap') 3.6% of the entire Internet
  |  uses Bootstrap:
p
  img.alignnone.size-full.wp-image-163234(src='https://dab1nmslvvntp.cloudfront.net/wp-content/uploads/2018/02/1517484629built-with-data.png', alt='Bootstrap usage', width='275', height='275')
p On the Bootstrap website, you’ll find this definition:
blockquote
  p
    | Bootstrap is an open-source toolkit for developing with HTML, CSS, and JS. Quickly prototype your ideas or build your entire app with our Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful plugins built on jQuery.
p
  | In other words, Bootstrap gives you ready-made components that allow you to whip up a beautiful web page in no time.
p Just write the appropriate markup, and your app looks great out of the box.

.rollerdoor.twodoor
  img(src='https://www.mobivisits.com/wp-content/uploads/2017/01/IAB-ads-300X250.png')


p
  | Bootstrap makes it also super easy to customize its look and feel to your liking and lets you pick and choose the bits you need for your project.
h2(id='whybootstrap?') Why Bootstrap When We Have Grid?
p
  | The biggest complaint about Bootstrap has always been code bloat. The reasoning was that it included lots of extra CSS code that remained unused in your projects.  The second biggest complaint was that Bootstrap components were styled in every detail and this could present some problems when it came to overriding some CSS rules.
p
  | Starting with the latest version of this popular front-end component library, both criticisms fall to pieces: Bootstrap is totally modular, so you just include what you need. Also, the 
  a(href='http://getbootstrap.com/docs/4.0/getting-started/theming/') Sass files
  |  are structured in such a way as to make it very convenient to customize the original styles to your needs.
p
  | Today, the main reason against using Bootstrap is the fact that with CSS Grid, CSS has a grid system of its own, which doesn’t have any external dependencies, and which, once learned, enables developers to build all sorts of layouts with relative ease.
p
  | Although I’m a 
  a(href='https://www.sitepoint.com/introducing-the-css-grid-layout/') CSS Grid
  |  fan, I think Bootstrap has still its place in front-end development and will have for some time to come.
p Here are at least three reasons why.
h3#bootstrapismorethanitsgridsystem Bootstrap Is More Than Its Grid System
p
  | It’s true, the #1 reason to use Bootstrap is the handy grid system, which makes it a breeze to build responsive web pages. However, Bootstrap has some great components like the versatile new 
  a(href='http://getbootstrap.com/docs/4.0/components/card/') card component
  | , which you can use to display all types of content, such as text, images and videos, and the 
  a(href='http://getbootstrap.com/docs/4.0/components/navbar/') responsive navbar
  | , which works out of the box. You can also pick a ready-made color scheme of your liking for most components.
p
  | And what about the functionality of a good many of these components? With Bootstrap, adding dynamic 
  a(href='http://getbootstrap.com/docs/4.0/components/tooltips/') tooltips
  | , 
  a(href='http://getbootstrap.com/docs/4.0/components/carousel/') carousels
  | , or 
  a(href='http://getbootstrap.com/docs/4.0/components/dropdowns/') dropdown buttons
  |  is just a matter of writing the appropriate markup. If JavaScript is not your forte, you can still take advantage of these components without writing a line of JavaScript.
p
  | Also, if you’re not a CSS wizard, you can still leverage the power of Bootstrap in your web design while you’re learning the tricks of the trade.
h3#bootstrapisagreatprototypingtool Bootstrap Is a Great Prototyping Tool
p
  | Sometimes you just need to a working prototype for a client. Bootstrap lets you do this in no time and with very little to no custom code. This doesn’t only hold for the grid system, but also for all the ready-made components it has to offer.
p
  | Just add a little markup and your prototype will boast a sleek responsive navigation bar or a fancy alert box.
h3#workingonolderwebsitesbuiltwithbootstrap Working on Older Websites Built With Bootstrap
p
  | One common task for developers is to work on existing websites coded by other developers. There’s no denying the fact that a huge number of websites rely on Bootstrap for their front end. Knowing how to work with the framework will come very handy if it’s up to you to refactor and maintain the codebase. It’s not by chance that still lots of job postings have Bootstrap in their list of desired skills.
h2 Conclusion

.rollerdoor.ad-300
  img(src='https://www.mobivisits.com/wp-content/uploads/2017/01/IAB-ads-300X250.png')
p
  | To conclude, Bootstrap is not going away any time soon. The latest release comes with huge improvements over the previous versions, from the clever use of Sass mixins and maps for easy customization to the introduction of new components, utility classes, and an ever more modular architecture.
p
  | Add to this great documentation and ease of use, and Bootstrap is still a mighty contender in the front-end ecosystem.
p
  | What do you think? Is your next project going to be built with Bootstrap or CSS Grid?
p
  strong
    | If you’ve heard about Bootstrap but have been putting off learning it because it seems too complicated, then play through our 
    a(href='https://www.sitepoint.com/premium/courses/introduction-to-bootstrap-4-2984') Introduction to Bootstrap 4
    |  course for a quick and fun introduction to the power of Bootstrap.
.Article_authorBio.l-mv4.t-bg-white.m-border.l-pa3
  .l-d-f.l-pt3
    a.l-s5.l-pa0.l-mr3.l-round.l-o-h(href='https://www.sitepoint.com/author/mperna/')
      img.avatar.avatar-96.wp-user-avatar.wp-user-avatar-96.alignnone.photo(src='https://d1nlfd9mjn1pae.cloudfront.net/wp-content/uploads/2015/01/1422003380perna-96x96.jpg', width='96', height='96', alt='Maria Antonietta Perna')
    .f-lh-title
      .f-c-grey-300 Meet the author
      .f-large
        a.f-bold.f-c-grey-500(href='https://www.sitepoint.com/author/mperna/')
          | Maria Antonietta Perna
        a.f-c-grey-500.l-mh1(target='_blank', href='https://twitter.com/AntoniettaPerna')
          i.fab.fa-twitter
        a.f-c-grey-500.l-mh1(target='_blank', href='https://plus.google.com/+MariaAntoniettaPerna')
          i.fab.fa-google-plus-g
        a.f-c-grey-500.l-mh1(target='_blank', href='https://www.facebook.com/maria.a.perna.3')
          i.fab.fa-facebook-f
        a.f-c-grey-500.l-mh1(target='_blank', href='https://www.linkedin.com/in/mariaantoniettaperna')
          i.fab.fa-linkedin-in
        a.f-c-grey-500.l-mh1(target='_blank', href='https://codepen.io/antonietta/')
          i.fab.fa-codepen
  .f-light.f-lh-copy.l-mt3
    | Maria Antonietta Perna is co-Editor of the HTML/CSS Channel at SitePoint and a front-end web developer.  She enjoys tinkering with cool CSS standards and is curious about teaching approaches to front-end code. When not coding for the web or not writing for the web, she enjoys philosophy books, long walks and good food.
