

header.article-title-unit
  .container
    .article-title-section.grid-center
      .titlebox.col-8_sm-12
        h1 The Real Future of Remote Work is Asynchronous
        ul
          li Entreprenuer
          li December 05, 2019
      .col-4_sm-12
        .ad-300x250
          img(src='http://etouches-appfiles.s3.amazonaws.com/html_file_uploads/58b01465d1aa4367f3ee363b376e7f86_eMobile-Ad_-300-x-250.jpg?response-content-disposition=inline%3Bfilename%3D58b01465d1aa4367f3ee363b376e7f86_eMobile-Ad_-300-x-250.jpg&response-content-type=image%2Fjpeg&AWSAccessKeyId=AKIAJC6CRYNXDRDHQCUQ&Expires=1576221432&Signature=Ah%2B98cCj8D9CMGVZzOc6bL%2BR92U%3D', width='300', height='250')
          
          
  
  


