section.authors
  .container
    .grid-center
      .col-6.align-c
        h2 Books Authored by Experts in Web Design &amp; Development
    .grid-center-noGutter
      .col-10_sm-12
        .grid-center-noGutter
          .col
            img(src="images/authors/author-rachel_andrew_thumb.png")
          .col
            img(src="images/authors/author-lazaris-headshot-optimized_thumb.png")
          .col
            img(src="images/authors/author-malcurtis.png")
          .col
            img(src="images/authors/author-images_thumb.png")
          .col
            img(src="images/authors/author-hugo-giraudel_thumb.png")
          .col
            img(src="images/authors/author-dbb4336d64a80b8bdb0de45e166ddf00_thumb.png")
          .col
            img(src="images/authors/author-77a9b255c893a2db418d0580e536198e_thumb.png")
      .col-10_sm-12
        .grid-center-noGutter
          .col
            img(src="images/authors/author-James_L_thumb.png")
          .col
            img(src="images/authors/author-jason_beaird_thumb.png")
          .col
            img(src="images/authors/author-james_edwards80x480_thumb.png")
          .col
            img(src="images/authors/author-jeff_barr_thumb.png")
          .col
            img(src="images/authors/author-kev.png")
          .col
            img(src="images/authors/author-paul_duncanson_thumb.png")
          .col
            img(src="images/authors/author-profile_1__thumb.png")