section.authors
  .container
    .grid-center
      .col-6_sm-10.align-c
        h2 Books Authored by Experts in Web Design &amp; Development
    .grid-center-noGutter
      .col-10_sm-10
        .grid-center-noGutter
          .col-2_sm-4
            img(src="images/authors/author-rachel_andrew_thumb.png" alt="Rachel Andrew")
          .col-2_sm-4
            img(src="images/authors/author-lazaris-headshot-optimized_thumb.png" alt="Louis Lazarus")
          .col-2_sm-4
            img(src="images/authors/author-malcurtis.png" alt="Mal Curtis")
          .col-2_sm-4
            img(src="images/authors/author-images_thumb.png" alt="Barbara Bermes")
          .col-2_sm-4
            img(src="images/authors/author-hugo-giraudel_thumb.png" alt="Hugo Giraudel")
          .col-2_sm-4
            img(src="images/authors/author-dbb4336d64a80b8bdb0de45e166ddf00_thumb.png" alt="M. David Green")

      .col-10_sm-10
        .grid-center-noGutter
          .col-2_sm-4
            img(src="images/authors/author-James_L_thumb.png" alt="James L")
          .col-2_sm-4
            img(src="images/authors/author-jason_beaird_thumb.png" alt="Jason Beaird")
          .col-2_sm-4
            img(src="images/authors/author-james_edwards80x480_thumb.png" alt="James Edwards")
          .col-2_sm-4
            img(src="images/authors/author-jeff_barr_thumb.png" alt="Jeff Barr")
          .col-2_sm-4
            img(src="images/authors/author-kev.png" alt="Kevin Yank")
          .col-2_sm-4
            img(src="images/authors/author-paul_duncanson_thumb.png" alt="Paul Duncanson")
