.col-12
  h5 Select your billing cycle 
.col-4.billing_cycle
  .pretty.p-default.p-round.p-pulse
    input#element_7_3.element.radio.priceswitch-1(name='billing_cycle_paypal' type='radio' value='1' checked='checked')
    .state.p-success-o
      label.choice(for='element_7_3') $9 / mo 
  span.small Billed monthly
.col-4.billing_cycle
  .pretty.p-default.p-round.p-pulse.bestvalue
    input#element_7_4.element.radio.priceswitch-2(name='billing_cycle_paypal' type='radio' value='2')
    .state.p-success-o
      label.choice(for='element_7_4') $8.25 / mo
  span.small $99 billed yearly
.col-4
  | 