
section.searchnav.web
  .container
    .grid-center
      .col-12 
        form(action="#")
          input.magnify(placeholder=' Find cool stuff', type='text')
          nav
            ul.tier1
              li
                a(href='#') All
              li
                a(href='#')
                  | HTML &amp; CSS 
                  ul.tier2
                    li Animation
                    li Audio &amp; Video
                    li Frameworks
              li
                a(href='#') JavaScript
                ul.tier2
                  li AngularJS
                  li Gulp.js 
                  li MongoDB
                  li npm
                  li Tools &amp; Libraries
              li
                a(href='#') NodeJS
                ul.tier2
                  li AngularJS
                  li APIs 
                  li ES6
                  li jQuery
                  li Tools &amp; Libraries
              li
                a(href='#') React
              li
                a(href='#') PHP
              li
                a(href='#') Design &amp; UX
              li.active
                a(href='#') WordPress