
include breaker-unit.pug


//- header-unit 
include header-blog.pug

//- Article-title-unit 
header.article-title-unit
  .container
    .article-title-section.grid-center
      .titlebox.col-8_md-7_sm-11
        h1 The Real Future of Remote Work is Asynchronous
        ul.hzlist
          li By Kate Kendall
          li Entreprenuer
          li December 05, 2019
          li 
            a(href="#")
              svg(viewBox='0 0 24 24', width='24', y='24' xmlns='http://www.w3.org/2000/svg')
                use(xlink:href='#icon-fb', x='0', y='0')
          li
            a(href="#")
              svg(viewBox='0 0 24 24', width='24', y='24' xmlns='http://www.w3.org/2000/svg')
                use(xlink:href='#icon-tw', x='0', y='0')
          li
            a(href="#")
              svg(viewBox='0 0 24 24', width='24', y='24' xmlns='http://www.w3.org/2000/svg')
                use(xlink:href='#bookmark', x='0', y='0')



      .col-4_md-5_sm-hidden
        #component-300x250.component.component-300x250
          include current-bookmark
          include fallback-300x250
          .flag
                

//- Article-body-unit 

.container
  .article-body-section.grid-center
    .col-8_md-8_sm-11
      include:markdown-it(html='true' typographer='true' linkify) ../md/blog1.md
    .col-4_md-3_sm-12.vbreak
      .author-profile
      
        //h4 Meet the author
        img.avatar(src='images/authors/author-rachel_andrew_thumb.png')
        h5 Rachel Andrew
        ul.hzlist
          li 
            svg(viewBox='0 0 24 24', width='24', y='24' xmlns='http://www.w3.org/2000/svg')
              use(xlink:href='#icon-tw', x='0', y='0', fill='#333')
          li 
            svg(viewBox='0 0 24 24', width='24', y='24' xmlns='http://www.w3.org/2000/svg')
              use(xlink:href='#icon-medium', x='0', y='0', fill='#333')
          li 
            svg(viewBox='0 0 24 24', width='24', y='24' xmlns='http://www.w3.org/2000/svg')
              use(xlink:href='#icon-codepen', x='0', y='0', fill='#333')
        
        p Rachel Andrew is a tech entrepreneur, community builder, writer, and advisor. She is the founder of Indie Labs (which produces IndieConf), CloudPeeps freelance marketplace, The Fetch city guides, and Atto Accelerator for female founders. She recently left Silicon Valley and now lives in a small Australian country town. Follow her on Twitter.


        #component-300x600.component.component-300x600.md-hidden
          .flag
          include fallback-300x600-A
        .component.component-120x600.sm-hidden.md-only
          img(src="images/ad-sizes/amex-skyscraper-ad-example.gif")

      

        .related-booklist
          h5 Related Books
          ul
            li 
              a.minor(href="#")
                img.cover(src='https://d2sis3lil8ndrq.cloudfront.net/books/34dcc72f-800f-4332-ab0c-31f0c4c4aad7.png') 
                | PHP &amp; MySQL: Novice to Ninja, 6th Edition
            li
              a.minor(href="#") 
                img.cover(src='https://d2sis3lil8ndrq.cloudfront.net/books/b2c2ec59-ad9f-472f-8808-3e79355b600d_medium.png') 
                | HTML5 Games: Novice to Ninja
            li 
              a.minor(href='#')
                img.cover(src='https://d2sis3lil8ndrq.cloudfront.net/books/ee3c684b-45e4-468a-9b7a-b2c53313f324_medium.png')
                | The Python Apprentice

        .footer-mobile-wrapper.sm-only
          .component-320x100
            img(src="https://texturefabrik.files.wordpress.com/2018/04/320x100-banner.jpg")