
- var member = 0

html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title SitePoint - Learn with Books, Video and Code
    meta(name='description', content='SitePoint Library')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', type='text/css', href='styles/css/blog.css?r=1234')


  body.vr.-labelling.-borders

    case member
      when 0
        include breaker-unit.pug
      default
        - break

    //- header-unit 
    include header-blog.pug

    //- Article-title-unit 
    header.article-title-unit
      .container
        .article-title-section.grid-center
          .titlebox.col-8_md-7_sm-11
            h1 The Real Future of Remote Work is Asynchronous
            ul.hzlist
              li By Kate Kendall
              li Entreprenuer
              li December 05, 2019
              li 
                a(href="#")
                  img(src='images/icon-fb.svg')
              li
                a(href="#")
                  img(src='images/icon-tw.svg')
              li
                a(href="#")
                  img(src='images/icon-bm.svg' )


          case member
            when 0
              .col-4_md-5_sm-hidden
                .ad-300x250
                  img(src='https://creativetacos.com/wp-content/uploads/2017/12/1-month-free-affiliate-ad-300x250.jpg', width='300', height='250')

            default
              .col-4_md-5_sm-hidden
                .sp-300x250
                  h3 Member

    include article-body-unit.pug

    include icons-lib.pug
    include footer-blog.pug
