
- var member = 0

html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title SitePoint - Learn with Books, Video and Code
    meta(name='description', content='SitePoint Library')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', type='text/css', href='styles/css/blog.css?r=1234')


  body.-vr.-labelling.-borders
    #checker External ads 
      i SEEM 
      | to be blocked! &#128683; 
    #ad-placement allowed! &#9989;

    include blog-control.pug

    include icons-lib.pug

    include footer-blog.pug