case member
  when 0
    include breaker-unit.pug
  default
    - break

//- header-unit 
include header-blog.pug

//- Article-title-unit 
header.article-title-unit
  .container
    .article-title-section.grid-center
      .titlebox.col-8_md-7_sm-11
        h1 The Real Future of Remote Work is Asynchronous
        ul.hzlist
          li By Kate Kendall
          li Entreprenuer
          li December 05, 2019
          li 
            a(href="#")
              img(src='images/icon-fb.svg')
          li
            a(href="#")
              img(src='images/icon-tw.svg')
          li
            a(href="#")
              img(src='images/icon-bm.svg' )


      case member
        when 0 /* not member */
          .col-4_md-5_sm-hidden
            #component-300x250.component-300x250
              include fallback-300x250
              .bullseye
                
        default 
          .col-4_md-5_sm-hidden
            .sp-300x250
              include current-bookmark

//- Article-body-unit 

.container
  .article-body-section.grid-center
    .col-8_md-8_sm-11
      include:markdown-it(html='true' typographer='true' linkify) ../md/blog1.md
    .col-4_md-3_sm-12
      .author-profile
      
        //h4 Meet the author
        img.avatar(src='images/authors/author-rachel_andrew_thumb.png')
        h5 Kate Kendall
        ul.hzlist
          li 
            svg(viewBox='0 0 24 24', width='24', y='24' xmlns='http://www.w3.org/2000/svg')
              use(xlink:href='#icon-tw', x='0', y='0', fill='#333')
          li 
            svg(viewBox='0 0 24 24', width='24', y='24' xmlns='http://www.w3.org/2000/svg')
              use(xlink:href='#icon-medium', x='0', y='0', fill='#333')
          li 
            svg(viewBox='0 0 24 24', width='24', y='24' xmlns='http://www.w3.org/2000/svg')
              use(xlink:href='#icon-codepen', x='0', y='0', fill='#333')
        
        p Kate Kendall is a tech entrepreneur, community builder, writer, and advisor. She is the founder of Indie Labs (which produces IndieConf), CloudPeeps freelance marketplace, The Fetch city guides, and Atto Accelerator for female founders. She recently left Silicon Valley and now lives in a small Australian country town. Follow her on Twitter.


      case member

        when 0      

          .component-300x600.md-hidden
            img(src='images/ad-sizes/adobe-banner-300x600.jpg' width='300' height='600')
          .component-120x600.sm-hidden.md-only
            img(src="https://cdn.business2community.com/wp-content/uploads/2015/08/amex-skyscraper-ad-example.gif.gif")
          .footer-mobile-wrapper.sm-only
            .ad-320x100
              img(src="https://texturefabrik.files.wordpress.com/2018/04/320x100-banner.jpg")
        
        default
          h5 Books
          
          ul
            li 
              a(href="#") The Principles of Beautiful Web Design, 3rd Edition
            li
              a(href="#") HTML5 Games: Novice to Ninja