// footer
footer.mainfooter
  .container
    .grid
      .col-6
        | Copyright 2018 SitePoint
      #log.col-6
        | The root of this document is:
#offline-notification
  svg.svg-icon
    use(fill='#fff', href='#my-connect-off')
  | You are working offline. 
  a(href='library.html?offline=1') 6 Books available