
// footer
footer.mainfooter
  .container
    .grid
      .col-6
        | Copyright 2018 SitePoint



script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")

script(src="scripts/prism.js")

script.
  $(document).ready(function(){
    $('.showmobile').click(function(){
      $(this).toggleClass('open');
      $('.mobilenav').toggleClass('open');
    });
    $('.viewchapters').click(function(){
      $('.toc-container').addClass('open');
    });
    $('#closetoc').click(function(){
      $('.toc-container').removeClass('open');
    });


  });
    $(window).resize(function(){ /* close the menu on screen resize */
      $('.showmobile' ).removeClass('open');
      $('.login-panel').removeClass('open');
      $('.mobilenav'  ).removeClass('open');
    });




  function initToolbar(){

    const brand = document.querySelector('.sitepoint-branding');  // select the brand

    const toolstrip = document.querySelector('#toolstrip'); // height of the toolstrip

    const bookpanel = document.querySelector('.bookpanel'); // height of the bookpanel


    const navTop = toolstrip.offsetTop ; // distance from top edge
    const navMin = navTop/4; // the delay before the title rolls on to the titlebar
    var lastScrollTop = 0; // set for updating to determine scroll direction

    function stickyNavigation() {
      //console.log('navTop = ' + navTop);
      //console.log('scrollY = ' + window.scrollY);
      //console.log('toolbaroffset = ' + toolbaroffset);  
      var st = window.pageYOffset || document.documentElement.scrollTop; 
      
      if (window.scrollY >= navTop) { // If scroll pos is greater than 418
        //console.log('scrollY = ' + window.scrollY + 'is greater than ' + navTop);
        toolstrip.classList.add('fixed-nav'); // add class that fixes toolstrip in place
      } else {
        //console.log('scrollY = ' + window.scrollY + ' is less than ' + navTop);
        toolstrip.classList.remove('fixed-nav');
      }
      /* minize brand bar on scroll */
      if (window.scrollY >= navMin) {
        brand.classList.add('min');
        } else {
        brand.classList.remove('min');
      }


      if (st > lastScrollTop && window.scrollY >= navTop) {  // tuck the brandstrip away when scrolling down - reveal on up scroll
        brand.classList.add('tuckaway');
        toolstrip.classList.add('tuckaway');
      } else {
        brand.classList.remove('tuckaway');
        toolstrip.classList.remove('tuckaway');
      }
      lastScrollTop = st <= 0 ? 0 : st; /* For Mobile or negative scrolling */

    }
    window.addEventListener('scroll', stickyNavigation);
  }
  initToolbar();


