section#book-sushi-train.book-sushi-train.waiting
  .grid-center
    .col-6.align-c
      h2 290+ Books on Frameworks, Languages, Tools &amp; Projects
  .grid-noGutter
    .col-12.parade
      .row1
      .row2
