include vars.pug

doctype html
head
  meta(content='ie=edge', http-equiv='x-ua-compatible')
  title #{title} | - SitePoint
  meta(name='description', content =`${titledescription}`)
  meta(content='width=device-width, initial-scale=1', name='viewport')
  link(href='styles/css/book.css?cache=abcdefghi', rel='stylesheet', type='text/css')

  link(href='https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css', rel='stylesheet', type='text/css')




body.vr.-labelling.borders#reeedr 

  include header-book.pug
  

  //- NOTE - The search is included in the <header> above

  include hero-panel.pug
  include tool-container.pug


  include chapter-social.pug
  include _modalbase.pug
  include book-footer.pug

  include scripts-book.pug

  include svg-icons.pug
  