html
  head
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Your First Week With Bootstrap - SitePoint
    meta(name='description', content='SitePoint Book - Your First Week With Bootstrap')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='styles/css/book.css?cache=123')
    link(rel='stylesheet', type='text/css', href='https://pro.fontawesome.com/releases/v5.2.0/css/all.css')
    

    
  body.-vr.-labelling.borders#reeedr 

    include header-book.pug

    include hero-panel.pug

    include chapter.pug

    include book-footer.pug