section.reader-demo
  .container
    .grid-center
      .col-12_sm-11
        .grid-noGutter
          .col-7_md-6_sm-hidden
            .laptop
              //include laptop-2.pug 
              
              img(src='images/SVG/demo.svg?cache=4321')

          .col-5_md-6_sm-12
            h3 How did we build a better book?
            ul 
                li 
                    a(href="#") Live in-book coding
                li 
                    a(href="#") Search in-book and across the entire library
                li
                    a(href="#") Link people to book content (even if they don’t own the book)


