- var title = "Your First Week With Bootstrap";
- var titleblurb = "Bootstrap stands as one of the most popular, open-source, front-end frameworks on the Web. In this book we’ll take you through Bootstrap basics, introduce you to its major features, and get you building your first Bootstrap sites.";
- var chaptertitle = "Understanding Bootstrap: How it Works, and What's New";
- var chapterblurb = "Version 4 of Bootstrap is a major change from all its past versions. It’s a mobile-first framework and can claim to be one of the best CSS frameworks for building responsive website designs."
- var chapterauthor = "Syed Fazle Rahman";
- var chapternumber = "2";

doctype html
head
  meta(content='ie=edge', http-equiv='x-ua-compatible')
  title
    | Your First Week With Bootstrap - SitePoint
  meta(content='SitePoint Book - Your First Week With Bootstrap', name='description')
  meta(content='width=device-width, initial-scale=1', name='viewport')
  link(href='styles/css/book.css?cache=4321', rel='stylesheet', type='text/css')
  link(href='https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css', rel='stylesheet', type='text/css')

body.-vr.-labelling.borders#reeedr 

  include header-book.pug

  include hero-panel.pug
  include tool-container.pug

  //include chapter.pug
  section#reeedr-body
    .container
      .grid-12
        .col-12
          include chap-head.pug 
          include:markdown-it(html='true' typographer='true' linkify langPrefix='highlight-') ../md/chap-2.md

  include book-footer.pug
  include scripts-book.pug

  include svg-icons.pug
  