footer.preview-label
  .container
    .grid
      .col-2.cover-preview
        img(src="https://s3.amazonaws.com/learnable-static/premium/reeedr/books/your-first-week-with-bootstrap/images/cover-front.png")
      .col-7
        p 
          strong Extracted from: 
          | Chapter ##{chapternumber} - #{title} 
        p.small #{titleblurb} 
      .col-3.center
        a.membership(href="#") Unlock Full Book



