section.why
  .container
    .grid
        .col-12.align-c
            h2 A lifetime of knowledge at your fingertips
            p Search through our library of over 600 books, courses and tech talks. More added weekly.    

    .grid-noGutter-center
        .col-10_md-12.search-big
            input#Search.form-control(name='Search' type='text' value='' placeholder='Search for...')
            // button#searchSubmit.insetbutton(name='singlebutton') &nbsp;
            input#searchSubmit.insetbutton(name='singlebutton')

    .grid-noGutter-center.bookshelf
        .col-12
            .grid-6_sm-3 
                .col 
                    a(href="library.html")
                        img(src="/images/covers/book-design.png")
                .col 
                    a(href="library.html")
                        img(src="/images/covers/book-paybook.png")
                .col 
                    a(href="library.html")
                        img(src="/images/covers/book-cssmaster3.png")
                .col 
                    a(href="library.html")
                        img(src="/images/covers/book-ltc.png")
                .col 
                    a(href="library.html")
                        img(src="/images/covers/book-vue.png")
                .col 
                    a(href="library.html")
                        img(src="/images/covers/book-linux.png")

            .grid-6_sm-3 
                .col 
                    a(href="library.html")
                        img(src="/images/covers/book-project.png")
                .col 
                    a(href="library.html")
                        img(src="/images/covers/book-power.png")
                .col 
                    a(href="library.html")
                        img(src="/images/covers/book-design4.png")
                .col 
                    a(href="library.html")
                        img(src="/images/covers/book-docker.png")
                .col 
                    a(href="library.html")
                        img(src="/images/covers/book-ruby.png")
                .col 
                    a(href="library.html")
                        img(src="/images/covers/book-uxforms.png")

            .grid-6_sm-3 
                .col 
                    a(href="library.html")
                        img(src="/images/covers/book-dist.png")
                .col 
                    a(href="library.html")
                        img(src="/images/covers/book-kub.png")
                .col 
                    a(href="library.html")
                        img(src="/images/covers/book-new-toys.png")
                .col 
                    a(href="library.html")
                        img(src="/images/covers/book-react.png")
                .col 
                    a(href="library.html")
                        img(src="/images/covers/book-testing.png")
                .col 
                    a(href="library.html")
                        img(src="/images/covers/book-aws.png")



