footer.preview-label
  .container
    .grid
      .col-2.cover-preview
        img(src="../images/cover-bootstrap-first-week.png")
      .col-8
        p 
          strong Extracted from: 
          | Chapter ##{chapternumber} - #{title} 
        p.minor #{titleblurb} 
      .col-2
        a.membership(href="#") Unlock Full Book



