footer.preview-label
  .container
    .grid
      .col-2.cover-preview
        img(src="../images/cover-bootstrap-first-week.png")
      .col-7
        p 
          strong Extracted from: 
          | Chapter ##{chapternumber} - #{title} 
        p.small #{titleblurb} 
      .col-3.center
        a.membership(href="#") Unlock Full Book



