h3#preface-tips Tips, Notes, and Warnings
.box.tip
  h4 Hey, You!
  .body
    p Tips provide helpful little pointers.
.box.note
  h4 Ahem, Excuse Me ...
  .body
    p Notes are useful asides that are related&mdash;but not critical&mdash;to the topic at hand. Think of them as extra tidbits of information.
.box.attention
  h4 Make Sure You Always ...
  .body
    p ... pay attention to these important points.
.box.warning
  h4 Watch Out!
  .body
    p Warnings highlight any gotchas that are likely to trip you up along the way.