.topbanner
  .container
    .grid-center
      .col-12.sm-hidden
        #component-728x90.component.component-728x90.remote
          .flag
          include fallback-728x90-a.pug
            //a(href='https://srv.carbonads.net/ads/click/x/GTND42QUF6BIL27LC67LYKQMCAAI42QUCKBICZ3JCWSILKQUCWBIC2QKC6BI55QMCYBDEK3EHJNCLSIZ')
              img(src="https://modernschooler.com/site/wp-content/uploads/2018/12/art.jpg")
      .col-12.showmobile
        #component-320x100.component.component-320x100.remote
          .flag
          include fallback-320x100.pug
