.breaker
  .container
    .grid-center
      .col-2
        ul.hznav.social
          li 
            img(src='images/icon-fb.svg')
          li 
            img(src='images/icon-tw.svg')
          li 
            img(src='images/icon-bm.svg' )
      .col-10.align-right
        .ad-728x90(style="float:right")
          img(src="https://modernschooler.com/site/wp-content/uploads/2018/12/art.jpg")

