.topbanner
  .container
    .grid-center
      .col-12.sm-hidden
        .component-728x90
          img(src="https://modernschooler.com/site/wp-content/uploads/2018/12/art.jpg")
      .col-12.showmobile
        .component-320x100
          img(src="https://texturefabrik.files.wordpress.com/2018/04/320x100-banner.jpg")
