section#reeedr-body
  .container
    .grid-12
      .col-12
        .preface.set-front-matter
       
        .chapter.grid-center-reverse(data-chapter-number='6')
          .col-3_sm-12.ch-head
            .chapter-head Chapter
            | 5
          .col-7_sm-12.chapter-start.align-r
            h1.chaptertitle
              | The Card Component: A Complete Introduction
            h3.author
              | Ahmed Bouchefra
        p.intro.bookmark-highlight
          | In this chapter, I&apos;m going to introduce you to the Bootstrap card component and walk you through its many features and uses. By the end of this tutorial, you&apos;ll be able to incorporate Bootstrap cards in your web projects for great layouts and page content organization.
        p
          | Bootstrap is the most popular HTML, CSS, and JavaScript framework for quickly creating responsive and mobile-first web layouts.
        p
          | Using Bootstrap offers many advantages to developers, including the following:
        ul
          li
            | you can easily and quickly build a responsive layout by having only some knowledge of HTML and CSS
          li
            | the library was built to be mobile-first from the core
          li
            | it&apos;s compatible with all modern browsers etc.
          li
            | it uses Flexbox for its grid system
          li
            | it provides tons of features and components.
        p
          | The latest release of Bootstrap offers many new, modern features --- such as the support for Flexbox, and the new 
          a(href='http://getbootstrap.com/docs/4.0/components/card/', target='_blank') card component
          | , which replaces panels, thumbnails and wells from earlier versions of the library.

        h2#what-is-the-bootstrap-card-component-
          | What Is the Bootstrap Card Component?
        p
          | Bootstrap introduces a new UI component for creating cards which provides a flexible and stylish container for showing content. Cards come with minimal styling, but you can easily extend them with extra styling options.
        
        


        .anchor
          a.social-anchor(href="#0")
            img(src='https://pbs.twimg.com/profile_images/861010112852262912/nbPZKMyR_400x400.jpg')
          .anchor-body
            p.small I'm ready to call it: ES2015 modules are way more useful as an authoring format than as a browser runtime feature.
                span.cite.cite-logo.twitter
                    a(href="https://twitter.com/wycats") @wycats


        
        p
          | This component is built on top of Flexbox, and you can use the Bootstrap 
          a(href='https://getbootstrap.com/docs/4.0/utilities/spacing/', target='_blank') spacing utility classes for margins and padding.
        p
          | Cards can conveniently accommodate different types of content like title, subtitle, body copy, and images etc., and optional header and footer sections. You can also include different sections (card blocks) to construct different types of cards depending on your use.
        h2#including-bootstrap-in-your-project
          | Including Bootstrap in Your Project
        p
          | You can very easily start using Bootstrap in your website by either including it from a CDN or downloading it from 
          a(href='https://getbootstrap.com/', target='_blank') getbootstrap.com
          | .
        p
          | For the sake of introducing the new Bootstrap card component, you&apos;re going to create a simple HTML page with Bootstrap styling to demonstrate the basic elements of the card component. Go ahead and create the 
          code index.html
          |  file inside your project folder, then add the following content from the 
          a(href='https://getbootstrap.com/docs/4.0/getting-started/introduction/', target='_blank') docs starter template
          | :
        p
          | We&apos;ve included Bootstrap files and their dependencies (jQuery and popper.js) from different CDNs, then created a container division.
        h2#minimal-styling-for-cards
          | Minimal Styling for Cards
        p
          | In order to create a basic card, we need to ---
        ul
          li
            | use 
            code .card
            |  with a 
            code div
            |  tag to create the outer container
          li
            | add the 
            code .card-body
            |  class to an inner 
            code div
            |  tag to create the card body
          li
            | use 
            code .card-title
            |  and 
            code card-subtitle
            |  classes with heading tags for adding the title and the subtitle
          li
            | use the 
            code card-text
            |  class with 
            code
            p
              code
              |  tags to add textual content
          li
            | use the 
            code card-img-top
            |  class with the 
            code
              img
            |  tag to add an image to the top of the card.
        p
          | These are the basic elements that constitute a full but basic card layout, as we can see from the following example:

        .anchor
          a.social-anchor(href="#0")
            img(src='https://cdn.statically.io/gh/alexmwalker/landing/292b07ce/images/social-pob.png')
          .anchor-body
            p.small  Wow, I didn’t know that you could use media queries inside an SVG. Awesome usecases for mobile charts and graphs.
                span.cite
                    a(href="#") Paul O'Brien


        p
          | This is a screenshot of the result:
        p.image-wrapper
          img(alt='Bootstrap card component: Basic card layout', src='https://learnable-static.s3.amazonaws.com/premium/reeedr/books/your-first-week-with-bootstrap/images/1518996722basic-card-1024x728.jpg')
        p
          | As can be seen, the card takes the full width of its container 
          code div
          | .
        p
          | By simply switching the 
          code card-body
          |  class with the 
          code card-img-overlay
          |  class, we can use the image as an overlay:
        p.image-wrapper
          img(alt='Bootstrap card component: Adding a .card-deck class to a parent div', src='https://learnable-static.s3.amazonaws.com/premium/reeedr/books/your-first-week-with-bootstrap/images/1518999808adding-card-deck-1024x187.png')
        p
          | We can also use the class 
          code .card-img-bottom
          |  with the 
          code
            img
          |  tag to add the image at the bottom of the card:
        p.image-wrapper
          img(alt='Bootstrap card component: Adding the image at the bottom of the card', src='https://learnable-static.s3.amazonaws.com/premium/reeedr/books/your-first-week-with-bootstrap/images/1518997006image-bottom.png')
        p
          | The card top and bottom images are called 
          a(href='https://getbootstrap.com/docs/4.0/components/card/#image-caps', target='_blank') image caps
          | .



        .box.tip
          h4
            | Always Declare Your Data Properties
          .body
            p 
              | It may be that some of the data you want to work with won’t be available to your instance when you initialize it (for example, if it’s loaded via an Ajax request). Vue requires you to declare all root-level keys up front, as they can’t be added dynamically later on.
            p
              | It’s good practice to declare default values anyway, as you won’t run into errors trying to access non-existent properties, and it helps to document the data structure of your instance (or component, as we’ll see later).



        h2#controlling-bootstrap-card-component-width-and-height
          | Controlling Bootstrap Card Component Width and Height
        p
          | By default, cards take all the available width in their parent container, but you can use the 
          code width
          |  and 
          code max-width
          |  classes to control take control of the card&apos;s dimensions. So, let&apos;s change the previous example by reducing the width of the card:
        p.image-wrapper
          img(alt='Bootstrap card component: Reducing card width', src='https://learnable-static.s3.amazonaws.com/premium/reeedr/books/your-first-week-with-bootstrap/images/1518997200reduce-width-1024x277.png')
        p
          | Normally, the height of the card will be adjusted to vertically fit the content of the card, but we can also control it using custom CSS (for example,
        pre.
          
        p
          | Please, note that the latest release of Bootstrap has switched to 
          em rem
          |  units instead of _px_ units because 
          em rem
          |  is a scalable measurement unit --- so it works better with user settings, which makes text much 
          a(href='https://www.sitepoint.com/making-bootstrap-accessible/', target='_blank') more accessible
          | . The result is that all elements in the page will scale with the screen size.
        blockquote.jynr4i43(data-block='jynr4i43', font-size='2,2,3,3')
          p.Text-sc-1j8rci6-0.kptiob(font-size='2,2,3,3')
            | Designing humane experiences means being kind and humble, and emphasizing qualities that matter to the company and to users. That means highlighting privacy, respect, ethics, and transparency, but also reflecting the personality of people working on the product.
        p
          | Another option for controlling the width of the Bootstrap card component is to use the 
          a(href='http://getbootstrap.com/docs/4.0/layout/grid/', target='_blank') Bootstrap grid
          |  (rows and columns):
        p.image-wrapper
          img(alt='Bootstrap card component: Controlling card width with Bootstrap grid', src='https://learnable-static.s3.amazonaws.com/premium/reeedr/books/your-first-week-with-bootstrap/images/1518998143card-width-grid-1024x272.png')
        h2#bootstrap-card-component-header-and-footer
          | Bootstrap Card Component Header and Footer
        p
          | A Bootstrap card component can optionally have a header and footer by adding heading ( 
          code &lt;h*&gt;
          | ) and 
          code div
          |  tags with 
          code .card-header
          |  and
          code .card-footer
          |  classes respectively.
        p
          | Continuing with our example, let&apos;s add a header and footer to our Bootstrap card component:
        p
          | This is the screenshot of the result:
        p.image-wrapper
          img(alt='Bootstrap card component: Adding a header and footer', src='https://learnable-static.s3.amazonaws.com/premium/reeedr/books/your-first-week-with-bootstrap/images/1518998319adding-header-footer-1024x321.png')
        h2#adding-navigation
          | Adding Navigation
        p
          | Another nice feature of the Bootstrap card component is the possibility of adding advanced navigation patterns to the header section such as tabs and navigation pills.
        p
          | So let&apos;s change our simple example by adding a tabbed navigation element to the header section of the card with the 
          code .nav-tabs
          |  and
          code .card-header-tabs
          |  classes on the 
          code &lt;ul&gt;
          |  tag:
        p.image-wrapper
          img(alt='Bootstrap card component: Adding a tabbed navigation element', src='https://learnable-static.s3.amazonaws.com/premium/reeedr/books/your-first-week-with-bootstrap/images/1518998509tabbed-navigation-1024x325.png')
        p
          | In the same way, we can add navigation pills by simply replacing
          code .nav-tabs
          |  with 
          code nav-pills
          |  and 
          code .card-header-tabs
          |  with
          code card-header-pill
          |  on the 
          code &lt;ul&gt;
          |  list tag:
        p.image-wrapper
          img(alt='Bootstrap card component: Adding navigation pills', src='https://learnable-static.s3.amazonaws.com/premium/reeedr/books/your-first-week-with-bootstrap/images/1518998670navigation-pills-1024x334.png')
        p
          | You can find out more information about this in the 
          a(href='https://getbootstrap.com/docs/4.0/components/navs/', target='_blank') Bootstrap navigation components documentation
          | .
        h2#adding-links-to-the-bootstrap-card-component
          | Adding Links to the Bootstrap Card Component
        p
          | We can quickly add links inside cards using the 
          code &lt;a&gt;
          |  tag with a
          code .card-link
          |  class:
        p.image-wrapper
          img(alt='Bootstrap card component: Adding links inside cards', src='https://learnable-static.s3.amazonaws.com/premium/reeedr/books/your-first-week-with-bootstrap/images/1518998851adding-links-1024x160.png')
        h2#aligning-and-transforming-text-in-bootstrap-card-components
          | Aligning and Transforming Text in Bootstrap Card Components
        p
          | We can use different Bootstrap classes ( 
          a(href='https://getbootstrap.com/docs/4.0/utilities/text/', target='_blank') text utilities
          | ) to align text within a card component such as 
          code .text-left
          |  (align text to left),
          code .text-right
          |  (align text to right), 
          code .text-center
          |  (center text),
          code .text-justify
          |  (justify text) and 
          code .text-nowrap
          |  (prevent text from wrapping).
        p
          | We can also apply text transformation with 
          code .text-lowercase
          |  (transform text to lowercase), 
          code .text-uppercase
          |  (transform text to uppercase) and
          code .text-capitalize
          |  (transform the first letter of each word to uppercase).
        h2#customizing-bootstrap-card-component-background-foreground-and-border-colors
          | Customizing Bootstrap Card Component Background, Foreground and Border Colors
        p
          | A Bootstrap card component&apos;s background and foreground colors can be fully customized using Bootstrap text and background 
          a(href='https://getbootstrap.com/docs/4.0/utilities/colors/', target='_blank') color utilities
          |  ---
          code text-primary, text-white, bg-primary
          |  and so on.
        p
          | Using the Bootstrap&apos;s border utilities (for example, 
          code border-primary
          | ) we can quickly set the border color of a card.
        //.box.codepen
          h4
            | Live Code
          .body
            iframe(allowfullscreen='true', allowtransparency='true', frameborder='no', height='300', scrolling='no', src='https://codepen.io/SitePoint/embed/mXqdda/?height=300&theme-id=6441&default-tab=html,result&editable=true', style='width: 95%;', title='Bootstrap 4 Card Examples')
              | See the Pen 
              a(href='https://codepen.io/SitePoint/pen/mXqdda/') Bootstrap 4 Card Examples
              |  by SitePoint (
              a(href='https://codepen.io/SitePoint') @SitePoint
              | ) on 
              a(href='https://codepen.io') CodePen
              | .
        h2#creating-advanced-layouts-with-the-bootstrap-card-component
          | Creating Advanced Layouts with the Bootstrap Card Component
        p
          | The card is a modern UI component that&apos;s utilized in many websites as a way to display items of mixed and different content types (such as text and images etc.) as a single/grouped entity, but more commonly as a collection of similar items with a different or the same width and height. A popular layout where cards can be used is the 
          a(href='https://www.sitepoint.com/understanding-masonry-layout/', target='_blank') Masonry layout
          | , also called the Pinterest-like Layout
        p.image-wrapper
          img(alt='A Pinterest card layout', src='https://learnable-static.s3.amazonaws.com/premium/reeedr/books/your-first-week-with-bootstrap/images/1518999430pinterest-card-layout-1024x728.png')
        p
          | Cards can be used for creating layouts for image albums, blog posts, ecommerce products etc. Big companies like Google and Facebook are making use of cards for their different web platforms.
        p
          | Normally, if we want to create complex layouts based on cards, we&apos;d need to have deep knowledge of CSS and HTML. However, thanks to the latest features of Bootstrap, we can quickly build such layouts by wrapping our set of cards inside 
          code div
          | s with some special classes such as
          code .card-group
          | , 
          code .card-deck
          |  and 
          code .card-columns
          | .
        h3#grouping-nesting-cards
          | Grouping/Nesting Cards
        p
          a(href='https://getbootstrap.com/docs/4.0/components/card/#card-groups', target='_blank') Groups
          |  are used to display multiple Bootstrap card components as single and attached elements with uniform sizing --- that is, cards have the same width and height. This is achieved using the 
          code display: flex;
          |  property.
        p
          | We can create a group of cards using the 
          code .card-group
          |  class with a wrapper 
          code div
          |  that contains the child cards.
        p
          | Let&apos;s add the following code to create a group with three cards:
        p
          | This is a screenshot of the result:
        p.image-wrapper
          img(alt='Bootstrap card component: Creating a group with three cards', src='https://learnable-static.s3.amazonaws.com/premium/reeedr/books/your-first-week-with-bootstrap/images/1518999682card-group-1024x193.png')
        p
          | As can be seen, the three cards are attached and have the same width and height.
        h3#card-decks
          | Card Decks
        p
          a(href='https://getbootstrap.com/docs/4.0/components/card/#card-decks', target='_blank') Decks
          |  provide you with a layout similar to the previous one (that is, same width and height for each card) but with the one difference that cards are not attached to each other.
        p
          | We can simply add a 
          code .card-deck
          |  class to a parent 
          code div
          |  element to create a card deck:
        p.image-wrapper
          img(alt='Bootstrap card component: Adding a .card-deck class to a parent div', src='https://learnable-static.s3.amazonaws.com/premium/reeedr/books/your-first-week-with-bootstrap/images/1518999808adding-card-deck-1024x187.png')
        p
          | As we can see, the cards are of the same size with some margin between them.
        h3#card-columns
          | Card Columns
        p
          | Just like groups and decks, card columns can be used to lay out a set of cards in a Masonry-like style. We can achieve this popular layout style simply by wrapping our cards in a 
          code div
          |  and adding the 
          code .card-columns
          |  class. That&apos;s all we need to do and Bootstrap will take care of the rest without having to use a JavaScript/jQuery plugin.
        p
          | Bootstrap uses CSS columns to create the Masonry-like layout where cards are added from top to bottom and left to right. However, if we need a 
          a(href='https://github.com/twbs/bootstrap/issues/17882', target='_blank') different kind of behavior
          |  based on some algorithm, we&apos;ll have to resort to a JavaScript library or a jQuery plugin like 
          a(href='https://masonry.desandro.com/', target='_blank') Masonry
          | .
        h2#conclusion-6
          | Conclusion
        p
          | The Bootstrap card component is a powerful addition to the Bootstrap framework, which allows developers to create modern-style web pages without going deeply into how CSS works. You can add card layouts to represent image galleries, dashboard widgets, to display blog posts or products for an ecommerce website, by just adding a bunch of CSS classes.
        p
          | As a result of the new features and components, Bootstrap continues to be a powerful CSS framework available to everyone, particularly to developers who need to create their own responsive and modern-style layouts but lack enough time and budget, or the deep knowledge of CSS, necessary to produce custom code.
        .next-chapter-wrapper
          strong NEXT:
          a.next-chapter-button(data-next-chapter='7', href='#', target='_blank')
            span
              | How to Build a Responsive Type Scale with Bootstrap 
              i.fas.fa-chevron-right
        a.next-chapter-button(data-href='#text', data-next-chapter='4', target='_blank')
        // We need to add a 'marker' to idenify the end of a chapter
        .chapter-end