

.chapter.grid-center-reverse(data-chapter-number='#{chapternumber}')
  .col-3_sm-12.ch-head
    .chapter-head Chapter
    |                 #{chapternumber}
  .col-7_sm-12.chapter-start.align-r
    h1.chaptertitle #{chaptertitle}
    h3.author #{chapterauthor}


