p 
  small 350 titles from publishers including..
ul.publishers
  li
    img(src="images/publishers/sitepoint.svg")
  li
    img(src="images/publishers/ABA.svg")
  li
    img(src="images/publishers/packt.svg")
  li
    img(src="images/publishers/smashing.svg")
  li
    img(src="images/publishers/wiley.svg") 