section
  .container
    .grid
      .col-4
        ul
          li
            img(src="images/icon-books.svg", alt="350 books") 
            | 350+ Web & computer science books
          li
            img(src="images/icon-Crown.svg", alt="5 top publishers")
            | 5 of the World’s great tech publishers
          li
            img(src="images/icon-van.svg", alt="New books arriving")
            | New books arriving every single week
          li
            img(src="images/icon-adfree.svg", alt="Ad free")
            |100% Ad-Free SitePoint.com
      .col-8
        h2 sdf
        