.grid.salespoints
  .col-3
    img(src="images/icon-books.svg", alt="350 books") 
  .col-9
    span 350+ Web &amp; computer science books
  .col-3
    img(src="images/icon-Crown.svg", alt="5 top publishers")
  .col-9
    span 5 of the World’s great tech publishers
  .col-3
    img(src="images/icon-van.svg", alt="New books arriving")
  .col-9
    span New books arriving every single week
  .col-3
    img(src="images/icon-adfree.svg", alt="Ad-free")
  .col-9
    span 100% Ad-Free SitePoint.com