.grid
  .col-12
    p.text-center.whisper  
      small 350+ titles from publishers including..
    ul.publishers
      li
        img(src="images/publishers/sitepoint.svg", alt="SitePoint")
      li
        img(src="images/publishers/ABA.svg", alt="A Book Apart")
      li
        img(src="images/publishers/packt.svg", alt="Packt Publishing")
      li
        img(src="images/publishers/smashing.svg", alt="Smashing Magazine")
      li
        img(src="images/publishers/wiley.svg", alt="Wiley") 