section.checkout
  .container
    .grid-reverse-center
      .col-7_sm-11#form_container
        form#form_79300.appnitro(method='post' action='')
          .grid
            .col-12.form_description
              h2 Unlock the SitePoint Library
              p No commitment. Cancel with one-click.
            .col-4
              label.description.hidden(for='element_4') Payment 

              .pretty.p-default.p-round.p-pulse
                input#element_4_1.element.radio(name='payment_type' type='radio' value='1')
                .state.p-success-o
                  label.choice(for='element_4_1') Credit Card


                  
            .col-4
              .pretty.p-default.p-round.p-pulse
                input#element_4_2.element.radio(name='payment_type' type='radio' value='2')
                .state.p-success-o
                  label.choice.paypal(for='element_4_1') Paypal

            .col-4
              | 
            .col-12
              label.description.small(for='cardnumber') Card number
              input#element_1.element.text.large(name='cardnumber' type='text' maxlength='25' value='' placeholder="xxxx xxx xxx xxx")
            .col-2
              label.description.small(for='element_5') Month 
                div
                  select#element_5.element.select.small(name='element_5')
                    option(value='1' selected='selected') 1
                    option(value='2') 2
                    option(value='3') 3
                    option(value='4') 4
                    option(value='5') 5
                    option(value='6') 6
                    option(value='7') 7
                    option(value='8') 8
                    option(value='9') 9
                    option(value='10') 10
                    option(value='11') 11
                    option(value='12') 12
                  | &nbsp; &nbsp;/
                p#guide_5.guidelines
                  small Choose the month of expiry your card. 
            .col-2
              label.description.small(for='element_6') Year 
                div
                  select#element_6.element.select.small(name='element_6')
                    option(value='1' selected='selected') 19
                    option(value='2') 20
                    option(value='3') 21
                    option(value='4') 22
                    option(value='5') 23
                p#guide_6.guidelines
                  small Choose the year of expiry your card. 
            .col-2
              label.description.small(for='element_2') CCV 
              div
                input#element_2.element.text.small(name='element_2' type='text' maxlength='4' value='')
              p#guide_2.guidelines
                small
                  | Enter the three extra numbers on the reserve side of your card
            .col-6
              |
            .col-12
              label.description(for='element_7') Select your billing cycle 
            .col-4
              .pretty.p-default.p-round.p-pulse
                input#element_7_1.element.radio(name='element_7' type='radio' value='1' checked='checked')
                .state.p-success-o
                  label.choice(for='element_7_1') $9 / mo
            .col-4
              .pretty.p-default.p-round.p-pulse.bestvalue
                input#element_7_2.element.radio(name='element_7' type='radio' value='2')
                .state.p-success-o
                  label.choice(for='element_7_2') $8.25 / mo

            .col-4
             | 
            .col-12.receipt
              .grid-center
                .col-11
                  h5 Today&apos;s payment
                  .price
                    | $9.00
                  p.our-commitment
                    strong Our Commitment:  
                    | If we haven’t already written the best book on a tech topic, we promise to hunt down the best book and bring it to your SitePoint library.
                .col-11.text-center
                  input(type='hidden' name='form_id' value='79300')
                  input#saveForm.paynow(type='submit' name='submit' value='Unlock the library')





      .col-1_sm-hidden
        |
      .col-4_sm-11.supporting
        //include checkout-salespoints.pug

        include checkout-publishers.pug