section.community-landing
  .container
    .grid
      .col-12
        .grid-noGutter-center
          .col-6_sm-11
            h2 Join a Community and Get Support with Our Members Forum
            h4 Become a SitePoint Premium Member for instant access to 290+ Books and Courses
            p.align-c
              button.pink.large Start 7-Day Free Trial

          .col-6_sm-11
            .community
              img(src='images/community@2x.png')


