.grid.companies
  .container
    .col-12.align-c
      h4 Trusted by over 100,000 developers from...
      .grid-noGutter
        .col-3_sm-6
          a(href="library/?cat=react") 
            img(src="images/google.svg")
                       
        .col-3_sm-6
          a(href="library/?cat=NodeJS")  
            img(src="images/facebook.svg")

        .col-3_sm-6
          a(href="library/?cat=Angular") 
            img(src="images/ms.svg")
            
        .col-3_sm-6
          a(href="library/?cat=JavaScript") 
            img(src="images/amazon.svg")
