section.companies
  .container
    .grid
        .col
            h4 Trusted by over 100,000 developers from...
    .grid-4_sm-2
        .col
            img.company-logo(src="images/SVG/companies-google.svg")
                       
        .col
            img.company-logo(src="images/SVG/companies-fb.svg")

        .col
            img.company-logo(src="images/SVG/companies-ms.svg")
            
        .col
            img.company-logo(src="images/SVG/companies-amz.svg")
