section.companies
  .container
    .grid
        .col
            h4 Trusted by over 100,000 developers from...
    .grid-4_sm-2
        .col
            img.company-logo(src="images/SVG/companies-99d.svg")
        .col
            img.company-logo(src="images/SVG/companies-ms.svg")            
        .col
            img.company-logo(src="images/SVG/companies-shopify.svg")
        .col
            img.company-logo(src="images/SVG/companies-stanford.svg")