section.courses-landing
  .container
    .grid-center
      .col-12_sm-12
        .grid-reverse
          .col-1_sm-hidden
          .col-7_sm-12
              h2 Practical, hands-on video courses on the topics you need
              p Crafted video sessions that walk you through the tricky parts of all of today’s hot topics from JavaScript to React to Python to Docker.
              p.align-c
                button.teal.large Browse all the courses
          .col-4_sm-12
            .stack
              figure 
                img(src="images/courses/course-1.png")
                figcaption How to Fetch API Data with React 
                  span With Telmo Sampaio
              figure 
                img(src="images/courses/course-2.png")
                figcaption JavaScript Fundamentals
                  span With Telmo Sampaio
              figure 
                img(src="images/courses/course-3.png")
                figcaption Introduction to Python
                  span With Simon Sez IT
          
          



