section.account-creation
    .container
        .grid-center  
            .col-5
                h2 Get unlimited access to  SitePoint Premium now!
                ul.minor  
                    li Unlimited Access to our entire library of courses and books
                    li Join the SitePoint Community of over 100,000 developers
                    li No lock ins, cancel at any time
            .col-5.price-unit
                .grid 
                    .col-7.main-price
                        .big-price $6
                        | per month
                        
                    .col-5.flip                         
                        input(type='checkbox' id='annual' name='annual')
                        label(for='annual') Annual

                    .col-12 
                        .align-c
                            button.pink.large Create your Account
                        .small.align-c Or log in using your social account
                    .col-4 
                        button.social-fb Facebook Login 
                    .col-4 
                        button.social-google Google Login 
                    .col-4 
                        button.social-github Github Login                     

