.inner 
  h5 Currently reading...
  figure.cover.opened
    img(src='https://d2sis3lil8ndrq.cloudfront.net/books/788aa26e-18e5-409c-977e-d7a6f865e47e_medium.png')
  ul
    li.small 13% complete
    li.small Last session: 23 days ago

  a.resume(href='#') Resume