lineargradient#color-2
    stop(style='stop-color:#ffcb00')
lineargradient#color-3
    stop(style='stop-color:#52a4da')
lineargradient#color-4
    stop(style='stop-color:#a68bdf')
lineargradient#color-1
    stop(style='stop-color:#86cd95')
lineargradient#color-5
    stop(style='stop-color:#8f8f8f')
lineargradient#laptop-edge(x1='356.1' x2='669' y1='-69.3' y2='728.8' gradienttransform='matrix(1 0 0 1 0 0)' gradientunits='userSpaceOnUse')
    stop(stop-color='#E5E5E5')
    stop(offset='.2' stop-color='#D5D5D5')
    stop(offset='.8' stop-color='#C4C4C4')
    stop(offset='1' stop-color='#4F4F4F')
lineargradient#upperbase(x1='469' x2='469' y1='565' y2='576' gradientunits='userSpaceOnUse')
    stop(stop-color='#fff')
    stop(offset='1' stop-color='#E5E5E5')
lineargradient#cutout-1(x1='390.5' x2='551' y1='581' y2='581' gradienttransform='translate(.3 -2)' gradientunits='userSpaceOnUse')
    stop(stop-color='#333' stop-opacity='.4')
    stop(offset='.2' stop-color='#333' stop-opacity='0')
    stop(offset='.8' stop-color='#333' stop-opacity='.1')
    stop(offset='1' stop-opacity='.2')
lineargradient#cutout-2(x1='469' x2='469' y1='567' y2='581' gradienttransform='matrix(1 -.00719 .00476 .66295 -2.1 191.8)' gradientunits='userSpaceOnUse')
    stop(style='stop-opacity:.39;stop-color:rgba(51,51,51,.92)')
    stop(offset='1' style='stop-opacity:0;stop-color:rgba(51,51,51,.03)')
lineargradient#gradient-2(x1='390.5' x2='551' y1='581' y2='581' gradienttransform='translate(73.6 2.5)' gradientunits='userSpaceOnUse')
    stop(stop-color='#333' stop-opacity='.4')
    stop(offset='.2' stop-color='#333' stop-opacity='0')
    stop(offset='.8' stop-color='#333' stop-opacity='.1')
    stop(offset='1' stop-opacity='.2')
lineargradient#specular-reflection(gradientunits='userSpaceOnUse' x1='516.5' y1='13' x2='516.5' y2='543.2' gradienttransform='matrix(0.17, -1, 1.56, 0.3, -56.5, 734)')
    stop(offset='0' style='stop-opacity: 0.09; stop-color: rgb(255, 255, 255);')
    stop(offset='0.4' style='stop-opacity: 0; stop-color: rgb(250, 250, 255);')
    stop(offset='0.8' style='stop-color: rgb(250, 250, 255); stop-opacity: 0.17;')
    stop(offset='0.805' style='stop-color: rgb(250, 250, 255); stop-opacity: 0;')
    stop(offset='1' style='stop-color: rgb(255, 255, 255); stop-opacity: 0.06;')