svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='none' viewbox='0 0 938 586')
  defs
    include demo-styles.pug

    // CLIP-PATHS
    clippath#screen-mask
      rect(fill='#fff' width='820' height='525' x='60' y='20')
    clippath#show-nothing
      // show nothing
    clippath#clip0
      rect(width='761' height='710' fill='#fff')
    // / CLIP-PATHS

    // SYMBOLS 
    include demo-symbols.pug

    // GRADIENTS
    include demo-gradients.pug

  // / DEFS


  // BODY STARTS HERE
  g.screen-back
    rect(width='875' height='575.4' x='31' y='2' fill='#000' stroke='url(#laptop-edge)' stroke-width='4' rx='23.4' ry='23.4')
    rect(width='820' height='525' x='60' y='20' style='fill: rgb(86, 118, 185);' rx='3')


  // FOREIGNOBJECT
  // Book page is actually HTML inserted as a foreign object
  foreignobject(x='60' y='20' width='820' height='525' style='overflow-x: hidden;overflow-y: scroll;')
    // HTML page version
    //include html-page-embed.pug
    .page-wrapper
      include page-embed-svg.pug
    



  g.stage-1(clip-path='url(#screen-mask)')
    use#code-panel-pos.arrive-2(href='#code-panel')
    use.reveal.arrive-3(href='#note-1' width='275' x='380' y='170')
    circle.kaboom.reveal.arrive-4(cx='700' cy='170' r='10' fill='none' stroke-width='0px' stroke='#2D9CDB')
  g.stage-2(clip-path='url(#screen-mask)')
    use.reveal.arrive-3(href='#bookmark-widget' width='150' x='250' y='70')
    use.reveal.arrive-4(href='#note-2' width='275' x='450' y='0')
    circle.kaboom.reveal.arrive-4(cx='290' cy='355' r='10' fill='none' stroke-width='0px' stroke='#2D9CDB')
  g.stage-3(clip-path='url(#screen-mask)')
    rect.reveal.arrive-2(width='910' height='550' fill='black' fill-opacity='0.5')
    use.reveal.arrive-2(href='#bookmark-widget' width='160' x='250' y='-180')
    use.reveal.arrive-3(href='#share-panel' width='500' x='200' y='0')
    use.reveal.arrive-4(href='#note-3' width='345' x='400' y='-183')
    circle.kaboom.reveal.arrive-4(cx='370' cy='100' r='10' fill='none' stroke-width='0px' stroke='#2D9CDB')
  g.stage-4(clip-path='url(#screen-mask)')
    use.reveal.arrive-4(href='#note-3' x='400' y='400')
  use.cursor(href='#hand-cursor' width='30' x='400')
  g.foreground
    use(href='#topbar' width='820' x='60' y='-262')
    rect.reflection(width='875' height='570' x='31' y='2' fill='url(#specular-reflection)' style='mix-blend-mode: overlay; pointer-events:none' rx='23.4' ry='23.4')
    use(href='#keyboard-base')
// SVG: end
