.inner.loggedin
  .spacer.grid
    .col-5
      figure.cover
        .cover-spine-overlay
          img(src='https://cdn.statically.io/gh/sitepoint/Complete-Cover-Archive/master/games1/9780994182616-Perfect-html5-games-cover-only.png')
    .col-7
      h5.minor Love computer games? Wanna make your own? Read on..
    .col-12
      button.internal-button  Start reading


