.inner.loggedin
  .spacer.grid
    .col-5
      figure.cover
        .cover-spine-overlay
          img(src='https://d2sis3lil8ndrq.cloudfront.net/books/ee3c684b-45e4-468a-9b7a-b2c53313f324.png')
    .col-7
      h5.minor Fun Fact: Python was ranked #2 on a recent highest paid coders list. 
        a(href="https://simpleprogrammer.com/7-reasons-why-you-should-learn-python/#python-salary") *
    .col-12
      button.internal-button  Can I learn Python?