.inner
  .spacer
    h4 New books for January!
    figure.cover
      .cover-spine-overlay
        img(src='https://d2sis3lil8ndrq.cloudfront.net/books/788aa26e-18e5-409c-977e-d7a6f865e47e_medium.png')
    h5.minor "If you've been bluffing your way through JavaScript till now - time to make JavaScript 
      i your 
      |thing".

    button.internal-button  Email me a link

    hr.break

    figure.cover
      .cover-spine-overlay
        img(src='https://d2sis3lil8ndrq.cloudfront.net/books/ca8e7cc0-370b-4af2-b973-97955befbeb7_medium.png')
    h5.minor Is it possible that Microsoft makes one of the best code editors? You might not like the answer but...
    button.internal-button  Email me a link



