.inner
  .spacer.grid
    .col-2
      img.company-brand(src='images/companies/companies-ff.png')
      
    .col-10
      h5 Software Developer (React Developer)
      button.internal-button  Email me a link


