.inner.loggedin
  .spacer.grid
    .col-5
      figure.cover
        .cover-spine-overlay
          img(src='https://d2sis3lil8ndrq.cloudfront.net/books/34dcc72f-800f-4332-ab0c-31f0c4c4aad7.png')
    .col-7
      h5.minor 🤷If 
        a(href="https://w3techs.com/technologies/details/cm-wordpress") 35% of ALL websites 
        | are WordPress, is PHP really that dead?
    .col-12
      button.internal-button Find out more