.inner.loggedin
  .spacer.grid
    .col-5
      figure.cover
        .cover-spine-overlay
          img(src='images/covers/html5games.png')
    .col-7
      h5.minor Ready to start your Game Programming Career? 
    .col-12
      button.internal-button  Email me a link


