.inner.loggedin
  .spacer.grid
    .col-5
      figure.cover
        .cover-spine-overlay
          img(src='images/covers/JS-practical-es6.png')
    .col-7
      h5.minor Take advantage of the cutting-edge of modern JavaScript - ES6
    .col-12
      button.internal-button  Start reading


