.inner
  .spacer
    h4 Grab a new book to read offline
    figure.cover
      img(src='images/covers/jsnovice2-cover.png')
    h5.minor "If you've been bluffing your way through JavaScript till now - time to make JavaScript 
      i your 
      |thing".

    button.internal-button  Email me a link

    hr.break

    figure.cover
      img(src='images/covers/Adobexd.png')
    h5.minor If you like Photoshop or Illustrator, Adobe XD will probably be your thing

    button.internal-button  Email me a link



