.inner
  .grid-center
    .col-1
      img.company-brand(src='images/companies/companies-ff.png')
    .col-6
      h5 Software Developer (React Developer)
      ul.hzlist
        li.company 
          a.small(href='#') Mozilla
        li.location 
          a.small(href='#') Wordwide
        li.postdate 
          a.small(href='#') 1 day ago

    .col-2.salary-range
      .small $120,000 - 130,000
    .col-2
      ul.tags
        li.html5
          a(href="#") HTML5
        li.aws 
          a(href="#") AWS
        li.java
          a(href="#") Java
        li.css 
          a(href="#") CSS      
        li.ror
          a(href="#") Ruby on Rails
        li.elm 
          a(href="#") Elm     