.inner
  .spacer
    figure.cover
      .cover-spine-overlay
        img(src='images/covers/cssmaster.png')
    h5.minor Ever felt guilty about your CSS? Learn to write FAST, efficient, '2020-ready' code today.

    button.internal-button  Email me a link



