.inner
  .grid-center
    .col-2_sm-12
      a(href='#')
        object.company-brand(data='images/companies/logo-reddit-dark.svg', alt='Reddit', type='image/svg+xml')
    .col-6_sm-12
      h5 
        a(href='#') Software Developer (React)
      ul.hzlist.job-properties
        li.company 
          a.small(href='#') Reddit
        li.location 
          a.small(href='#') Wordwide
        li.postdate 
          a.small(href='#') 1 day ago

    .col-2_sm-12.salary-range
      .small $120,000 - 130,000
    .col-2_sm-12
      ul.tags
        li.html5
          a(href="#") HTML5
        li.aws 
          a(href="#") AWS
        li.java
          a(href="#") Java
        li.css 
          a(href="#") CSS      
        li.ror
          a(href="#") Ruby on Rails
        li.elm 
          a(href="#") Elm  