.inner.loggedin
  .spacer.grid
    .col-5
      figure.cover
        .cover-spine-overlay
          img(src='https://d2sis3lil8ndrq.cloudfront.net/books/ca8e7cc0-370b-4af2-b973-97955befbeb7.png')
    .col-7
      h5.minor Since when did a code editor from Microsoft become 
        em kinda 
        | cool!?
    .col-12
            button.internal-button Strange but true!