
// footer
footer.mainfooter
  .container
    .grid-center
      .col-3_sm-6
        h4  Stuff We Do
        ul
          li
            a.Footer-link.f-small(href="/") SitePoint Home
          li
            a.Footer-link.f-small(href="/versioning/") Versioning
          li
            a.Footer-link.f-small(href="/themes/") Themes
          li
            a.Footer-link.f-small(href="/community/") Forums
          li
            a.Footer-link.f-small(href="/html-css/css/") References
      .col-3_sm-6
        h4  About
        ul
          li
            a.Footer-link.f-small(href="/about-us/") Our Story
          li
            a.Footer-link.f-small(href="/press/") Press Room
      .col-3_sm-6
        h4  Contact
        ul
          li
            a.Footer-link.f-small(href="/contact-us/") Contact Us
          li
            a.Footer-link.f-small(href="https://sitepoint.zendesk.com/hc/en-us") FAQ
          li
            a.Footer-link.f-small(href="/write-for-us/") Write for Us
          li
            a.Footer-link.f-small(href="/advertise/") Advertise
      .col-3_sm-6
        h4  Legals
        ul
          li
            a.Footer-link.f-small(href="/premium/legals") Terms of Use
          li
            a.Footer-link.f-small(href="/premium/privacy-policy") Privacy Policy

include svg-icons.pug

include scripts.pug
// script(src="https://cdn.staticaly.com/gist/alexmwalker/59a0b8f1186f1770e66354f9a05b9dea/raw/76320cef35d97feebfdf80db4e7f1ce6c8fb44d8/typography-inspector.js", type="text/javascript")
// script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")






  