
// header-simple.pug
// Used in Checkout to reduce leakage opportunities

header.sitepoint-branding
  .container
    .grid-12
      .col-3_sm-5
        .branding 
          i.fas.fa-bars.hamburger
          img.branding-logo(src="https://cdn.rawgit.com/alexmwalker/038d08ab767b9fa0ae765b00d7f41622/raw/b3b34065187c08d94c85c5417030e2d881085c8a/sp-logo.svg")
      .col-6_sm-hidden
        ul.nav
          li
            a(href='#') Library
          li
            a(href='#') Blog
          li
            a(href='#') Community
          li
            a(href='#') Login
      .col-3_sm-5.align-r
        button.pink Free 7-Day Trial
      //.col-2_md-hidden.hamburger 
        p &#9776;

      
