
// header-simple.pug
// Used in Checkout to reduce leakage opportunities

header.sitepoint-branding
  .container
    .grid-12
      .col-6
        .branding Your First Week With Bootstrap
      .col-6
        ul.nav
          li
            a(href='#') A +-
          li
            a(href='#') Library
          li
            a(href='#') Dashboard
