header.sitepoint-branding
  .container.grid-center   
    .col-4_sm-6
      .branding
        a(href="landing.html", alt="Home")
          img.branding-logo(src='https://cdn.staticaly.com/gist/alexmwalker/038d08ab767b9fa0ae765b00d7f41622/raw/cae0ad85c9b3af1d9e6f849c75da729b8f3f4fde/sp-logo.svg')
    .col-8.sm-hidden
      ul.nav
        li 
          a(href="/blog") Blog
        li 
          a(href="/blog") Community
        li
          a(href="/blog") Library
        li
          a(href="/blog") Login
        li
          a(href="/blog") Join Premium
    .col-8_sm-6.showmobile.hamburger 
      input#toggle-1.hamburger_input(type='checkbox', name='hamburger', value='0')
      label.hamburger_label(for='toggle-1')
        span
          // 
      .hamburger_body
        ul
          li
            a(href='#Whats-covered?') Blog
          li
            a(href='#the-instructor') Community
          li
            a(href='#Who-is-this-for') Library
          li
            a(href='#location') Login
          li
            a(href='#location') Join Premium
