
// header-simple.pug
// Set `- var hidesearch = 1` on top of page to hide the navbar search (see 'search.pug')
// 

.login
 header.sitepoint-branding
  .container
   .grid-12
    .col-3_sm-9
     .branding
      | Your First Week With Bootstrap   
     ul.nav
      case hidesearch
        when 1
          //i.search-nav
             search is removed 
        default
          li.search-nav
            form(action="search.html")
              input(placeholder="Search", type="text")
      li
       a(href='#') Blog
      li
       a(href='#', class="youarehere") Community
      li
       a(href='library.html') Library
      li.logged-in 
        a(href='#') Dashboard
      li.logged-in.account-items 
        a(href='#') Account
          img(src="images/Account.png")
        ul
          li 
            a(href="#") Profile
          li 
            a(href="#") Membership
          li
            a(href="#") Payment History
          li 
            a(href="#") Log out             
      li.logged-out 
       a(href='#') Login
       .login-panel
        form(action="login.html")
          p
            label.control-label(for='username-login') Username: 
            input#username-login.form-control(style="width: 13.5rem;",name='username-login', type='text', placeholder='email@example.com')
          p
            label.control-label(for='passwordinput') Password: 
            input#passwordinput.form-control(style="width: 11.3rem;",name='passwordinput', type='password', placeholder='...')
            button.go Go

      li.logged-out 
        button.pink Free 7-Day Trial

    .col-7_sm-3.showmobile
     .hamburger
      .hamburger-box
       .hamburger-inner
    nav.mobilenav
     ul
      li.logged-in 
        form(action="search.html")
          label.control-label(for='mobilesearch') Search: 
          input#mobilesearch.form-control(style="width: 12.5rem;", name='mobilesearch', type='text')
      li
        a(href='#') Blog
      li
       a(href='#') Community
      li
        a(href='#') Library
      li.logged-in 
        a(href='#') Dashboard
      li.logged-in 
        a(href='#') Account
          img(src="images/Account.png")
      li.logged-out 
       label.control-label(for='username-login-mob') Username: 
       input#username-login-mob.form-control(style="width: 12.5rem;", name='username-login-mob', type='text', placeholder='email@example.com')
      li.logged-out
       label.control-label(for='passwordinput-mob') Password: 
       input#passwordinput-mob.form-control(style="width: 9.5rem;", name='passwordinput-mob', type='password', placeholder='...') 
       button.go GO
      li.logged-in 
       a(href='#', class="logout") Log out

