

header.sitepoint-branding
  .container
    .grid-12-noGutter
    
      .col-6_md-4_sm-9
        .titlebar.trim-singleline
          | #{title} 
      .col-6_md-4_sm-1.showmobile
        a.search-control(href='#'  onclick="return false")
          svg
            use(fill='#fff', href='#my-search')
      .col-6_md-4_sm-2.showmobile
        .hamburger
          .hamburger-box
          .hamburger-inner
      nav.mobilenav
        ul
          li
            a.viewchapters(href='#')
              svg.svg-icon
                use(fill='#fff', href='#my-toc')
              | Contents
          li
            a(href='#')
              svg.svg-icon
                use(fill='#fff', href='#my-bookmarks')
              | Your Bookmarks
          li
            a(href='#')
              svg.svg-icon
                use(fill='#fff', href='#my-add')
              |  Add Bookmark
          li.library
            a(href='library.html', title='1 new book added to offline library')
              svg.svg-icon
                use(fill='#fff', href='#my-library')
              |  Library
          li
            a.darkmode(href='#')
              svg.svg-icon
                use(fill='#fff', href='#my-dark')
              |  Dark/Light Mode

          li.mobile-controls
            button.fontsizedown.go A -
            button.fontsizeup.go A +
          li
            #offlinemode-mob
                .pretty.p-switch.p-fill
                  input(type='checkbox')
                  .state.p-success
                    label Make available offline



      .col-6_md-8_sm-hidden
        ul.nav
          li
            a.darkmode(href='#',  onclick="return false")
              svg.svg-icon
                use(fill='#fff', href='#my-dark')
          li#font-adjuster-wrapper
            a#showfontchanger(href='#') A &pm;
            #font-adjuster-container
              span Text-size:
              button.fontsizedown.go A-
              button.fontsizeup.go A+
          li.library
            a(href='library.html')
              svg.svg-icon
                use(fill='#fff', href='#my-library')
              |  Library
          li
            a(href='#', class='search-control',  onclick="return false")
              svg.svg-icon
                use(fill='#fff', href='#my-search')
              |  Search
          li
            a(href='#')
              svg.svg-icon
                use(fill='#fff', href='#my-activity')
              |  Your Activity


