section.bookpanel
  .container
    .grid-center
      .col-11_md-12
        .grid-center
          .col-3_sm-12
            .thumbnail-book
              img(src='images/covers/bootstrap-1@2x.png')
          .col-9_sm-12
            h1 #{title}
            p  #{titleblurb}