section.bookpanel
  .container
    .grid-center
      .col-10
        .grid-noGutter
          .col-3
            .thumbnail-book
              img(src='https://s3.amazonaws.com/learnable-static/premium/reeedr/books/your-first-week-with-bootstrap/images/cover-front.png')

          .col-9
            h1 Your First Week With Bootstrap
            p Bootstrap stands as one of the most popular, open-source, front-end frameworks on the Web. In this book we’ll take you through Bootstrap basics, introduce you to its major features, and get you building your first Bootstrap sites.
