section.companies.publishers
  .container
    .grid
        .col
            h4 Tap into the world’s leading publishers
    .grid-5_sm-2

        .col
            img.publisher-logo(src="images/publishers/packt-light.svg")
                       
        .col
            img.publisher-logo(src="images/publishers/ABA-light.svg")

        .col
            img.publisher-logo(src="images/publishers/wiley-light.svg")

        .col
            img.publisher-logo(src="images/publishers/sitepoint-light.svg")
            
        .col
            img.publisher-logo(src="images/publishers/smashing-light.svg")
