section#reader-demo.reader-demo.waiting
  .container
    .grid-center
      .col-12_sm-11
        h2 It’s time to move beyond the PDF!
        p PDF is an early-90's technology designed for printers. Tech books can do better. SitePoint’s ‘Next-gen’ Platform redefines how coding ebooks should be.
    .grid-center
      .col-7_sm-11
        include reeder-demo 
      .col-5_sm-11
        ul
          li Write live code <strong><em>inside</em></strong> your Book
          li Search across your book – and the entire SitePoint Library
          li Never lose anything – bookmark paragraphs, images and code samples 
          li Manage all your activity from a central dashboard.
        p.align-c
          a(href='https://www.sitepoint.com/premium/books/your-first-week-with-bootstrap/read')
            button.pink.large Test-drive the Platform Now
    .grid-center.features
      .col-12_sm-11
        h3 A new kind of reading platform 
    .grid-center.features.align-c
      .col-4_sm-11
        img(src="images/codeexamples.png")
        h4 Live code examples
        p Write code live inside your Book - CodePens, CodeSandboxes, JsFiddles and other

      .col-4_sm-11
        img(src="images/bookmarks.png")
        h4 Never lose anything
        p Save images, diagrams, code samples, explanations – add it all to your personal collection.

      .col-4_sm-11
        img(src="images/feed.png")
        h4 One place to rule it all
        p Track everything you’ve learned from your own Activity dashboard.
