section#reader-demo.waiting
  .container
    .grid-center
      .col-12_sm-11
        h2 It’s time to move beyond the PDF!
        p PDF is an early-90's technology designed for printers. Tech books can do better. SitePoint’s ‘Next-gen’ Platform redefines how coding ebooks should be.
    .grid-center
      .col-7_sm-11
        //include reeder-demo 
        img.illustration(src="images/SVG/laptop-static.svg")
      .col-5_sm-11
        ul
          li Write live code <strong><em>inside</em></strong> your Book
          li Search across your book – and the entire SitePoint Library
          li Never lose anything – bookmark paragraphs, images and code samples 
          li Manage all your activity from a central dashboard.
        p.align-c
          a(href='https://www.sitepoint.com/premium/books/your-first-week-with-bootstrap/read')
            button.pink.large Test-drive the Platform Now

section.part1.waiting
    .grid-center
      .col-4_sm-11.features.align-c
        img.leadin(src="images/SVG/linear-live.svg") 
        h4 Live code in a book?!
        p
          | Yep. Write code as you work and learn - 
          a(href='https://codepen.io') CodePen.io
          | , 
          a(href='https://codesandbox.io/') CodeSandbox.io
          | , 
          a(href='https://jsfiddle.net') JSFiddle.net
          |  and other dynamic code playgrounds.
      .col-6_sm-11.align-c
        img.illustration.imageshadow(src="images/sandbox.gif") 

section.part2.waiting
    .grid-center
      .col-6_sm-11.align-c
        img.illustration.imageshadow(src="images/bookmarks@2x.png") 
      .col-4_sm-11.features.align-c
        img.leadin(src="images/SVG/linear-memory.svg") 
        h4 Never lose anything
        p Save images, diagrams, code samples, explanations – add it all to your personal collection.

section.part3.waiting
    .grid-center
      .col-4_sm-11.features.align-c
        img.leadin(src="images/SVG/linear-dash.svg") 
        h4 The Dashboard - One place to rule it all
        p Track everything you’ve learned from your own Activity dashboard.
      .col-6_sm-11.align-c
        img.illustration(src="images/SVG/laptop-dashboard.svg") 
