section#reader-demo.reader-demo.waiting
  .container
    .grid-center
      .col-12_sm-11
        h2 It’s time to move beyond the PDF!
        p PDF is an early-90's technology designed for printers. Tech books can do better. SitePoint’s ‘Next-gen’ Platform redefines how coding ebooks should be.
    .grid-center
      .col-7_sm-11
        include reeder-demo 
      .col-5_sm-11
        ul
          li Write live code <strong><em>inside</em></strong> your Book
          li Search across your book – and the entire SitePoint Library
          li Never lose anything – bookmark paragraphs, images and code samples 
          li Manage all your activity from a central dashboard.
        p.align-c
          a(href='https://www.sitepoint.com/premium/books/your-first-week-with-bootstrap/read')
            button.pink.large Test-drive the Platform Now