section.reviews
  .container
    .grid-center
      .col-6.align-c
        h2 Books Loved by Developers Worldwide
    .grid-center
      .col-10_sm-12
        .grid-center
          .col-4
            .review
              .rating.rate-50
              q Extremely useful book with good explanations and plenty of code examples. Would recommend to anyone who wants to get yup and running with css quickly.
              p.twitter-avatar 
                a(href="#") @Winter
                  img(src="images/authors/giq7BcBy_bigger.jpg")
          .col-4
            .review
              .rating.rate-45
              q Wow! More great information than I could ever learn in one reading. Makes a great reference book and will be referring to it many times while coding.
              p.twitter-avatar 
                a(href="#") @JamesHarkin
                  img(src="images/authors/9ijBdWr4_bigger.jpeg")
          .col-4
            .review
              .rating.rate-40
              q Excellent book both for a novice both for an intermediate developer. The solutions are very well explained and technically valid. Very good value for money!
              p.twitter-avatar 
                a(href="#") @abbas_rajani
                  img(src="images/authors/7v2SGD1S_bigger.jpg")


