// script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
script(src='scripts/jquery-3.4.0.min.js')
script(src='scripts/prism.js')
script.
  /* ==  Alex's font-size changer   ==  */
  /* ==  Scaling the root scales all font's proportionally   ==  */
  var currentgrid = $(":root").css("--basegrid");
  var currentgridtablet = $(":root").css("--basegrid-tablet");
  var currentgridlaptop = $(":root").css("--basegrid-laptop");
  var currentgridwide = $(":root").css("--basegrid-wide");
  var newcurrentgrid;
  var newcurrentgridtablet;
  var newcurrentgridlaptop;
  var newcurrentgridwide;
  $('a.darkmode').click(function(e) {
  e.preventDefault();
  });
  /* == simple nav controls/animations  == */
  $(document).ready(function () {
  $('.hamburger').click(function () {
  $(this).toggleClass('open');
    $('.mobilenav').toggleClass('open');
  });
  $('.viewchapters').click(function () {
    $('.toc-container').toggleClass('open');
    $('.viewchapters').toggleClass('open');
  });
  $('#closetoc').click(function () {
    $('.toc-container').removeClass('open');
  });

  $('#start-search').click(startSearch);

  $('#showfontchanger').click(function () {
    $('#font-adjuster-container').toggleClass('open');
  });
  $('.darkmode').click(function () {
    $('#reeedr').toggleClass('dark');
  });

  $('.search-control').click(function () {
    $('#search-panel').toggleClass('open');
    $('#booksearch').focus();
  });

  $("#offlinemode input").change(function () {
    $("body").toggleClass("local", this.checked);
    });


  /* ===  Font rescaling  ===  */
  /*   scaling the --basegrid :root font-size translates through to everything.   */
  $('.fontsizedown').click(function () {
  newcurrentgrid = parseInt(currentgrid, 10) - 4 + 'px';
  $(":root").css("--basegrid", newcurrentgrid);
  //console.log("currentgrid: " + currentgrid);
  //console.log("newcurrentgrid: " + newcurrentgrid);
  currentgrid = newcurrentgrid;
  newcurrentgridtablet = parseInt(currentgridtablet, 10) - 4 + 'px';
  $(":root").css("--basegrid-tablet", newcurrentgridtablet);
  //console.log("currentgridtablet: " + currentgridtablet);
  //console.log("newcurrentgridtablet: " + newcurrentgridtablet);
  currentgridtablet = newcurrentgridtablet;
  newcurrentgridlaptop = parseInt(currentgridlaptop, 10) - 4 + 'px';
  $(":root").css("--basegrid-laptop", newcurrentgridlaptop);
  currentgridlaptop = newcurrentgridlaptop;
  newcurrentgridwide = parseInt(currentgridwide, 10) - 4 + 'px';
  $(":root").css("--basegrid-wide", newcurrentgridwide);
  currentgridwide = newcurrentgridwide;
  });
  
  $('.fontsizeup').click(function () {
  newcurrentgrid = parseInt(currentgrid, 10) + 4 + 'px';
  $(":root").css("--basegrid", newcurrentgrid);
  currentgrid = newcurrentgrid;
  newcurrentgridtablet = parseInt(currentgridtablet, 10) + 4 + 'px';
  $(":root").css("--basegrid-tablet", newcurrentgridtablet);
  currentgridtablet = newcurrentgridtablet;
  newcurrentgridlaptop = parseInt(currentgridlaptop, 10) + 4 + 'px';
  $(":root").css("--basegrid-laptop", newcurrentgridlaptop);
  currentgridlaptop = newcurrentgridlaptop;
  newcurrentgridwide = parseInt(currentgridwide, 10) + 4 + 'px';
  $(":root").css("--basegrid-wide", newcurrentgridwide);
  currentgridwide = newcurrentgridwide;
  });

  });


  /* ==  Fixed nav   == */
  $(window).resize(function () {
  /* close the menu on screen resize */
  $('.showmobile').removeClass('open');
  $('.mobilenav').removeClass('open');
  });
  $(window).scroll(function () {
  /* close the menu on scroll */
  $('.showmobile').removeClass('open');
  $('.mobilenav').removeClass('open');
  });
  function scrollActions() {
  const brand = document.querySelector('.sitepoint-branding'); // select the brand
  const toolcontainer = document.querySelector('#tool-container'); // height of the toolstrip
  const toolstrip = document.querySelector('#toolstrip'); // height of the toolstrip
  const bookpanel = document.querySelector('.bookpanel'); // height of the bookpanel
  const totalbody = $( "#reeedr-body" ).height(); // height of the bookpanel
  const previewMax = document.querySelector('.preview-label'); // height of the bookpanel
  const offlinebar = document.querySelector('#offline-notification'); // offline bar for tuckaway
  const navTop = toolcontainer.offsetTop; // distance from top edge
  const navMin = navTop / 4; // the delay before the title rolls on to the titlebar


  const maxpreview = totalbody-300;
  console.log('try this: ' + maxpreview);

  var lastScrollTop = 0; // set for updating to determine scroll direction
  function stickyNavigation() {
  console.log('navTop = ' + navTop);
  console.log('scrollY = ' + window.scrollY);
  //console.log('toolbaroffset = ' + toolbaroffset);
  var st = window.pageYOffset || document.documentElement.scrollTop;
  if (window.scrollY >= navTop) { // If scroll pos is greater than 418
  //console.log('scrollY = ' + window.scrollY + 'is greater than ' + navTop);
  toolcontainer.classList.add('fixed-nav'); // add class that fixes toolstrip in place
  } else {
  //console.log('scrollY = ' + window.scrollY + ' is less than ' + navTop);
  toolcontainer.classList.remove('fixed-nav');
  }

  /* minize brand bar on scroll */
  if (window.scrollY >= navMin) {
      brand.classList.add('min');
    } else {
      brand.classList.remove('min');
    }
    //preview maxie
  if (window.scrollY >= maxpreview) {
      previewMax.classList.add('min');
      console.log('scrollY = ' + window.scrollY + ' is more than ' + maxpreview);
    } else {
      previewMax.classList.remove('min');
      console.log('scrollY = ' + window.scrollY + ' is less than ' + maxpreview);
    }


  if (st > lastScrollTop && window.scrollY >= navTop) { // tuck the brandstrip away when scrolling down - reveal on up scroll
  brand.classList.add('tuckaway');
  toolstrip.classList.add('tuckaway');
  offlinebar.classList.add('tuckaway');
  } else {
  brand.classList.remove('tuckaway');
  toolstrip.classList.remove('tuckaway');
  offlinebar.classList.remove('tuckaway');
  }
  lastScrollTop = st <= 0 ? 0 : st; /* For Mobile or negative scrolling */
  }
  window.addEventListener('scroll', stickyNavigation);
  }
  scrollActions();

  /* ===  Mimic offline mode ===  */
  /*   http://10.48.101.187:7883/book.html?offline=1   */

  function getUrlVars() {
    var vars = {};
    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
      vars[key] = value;
    });
    return vars;
  }
  var offline = getUrlVars()["offline"];
  var search = getUrlVars()["search"];
  console.log('Variable is: ' + search );

  function checkConnection(){
    if (offline == 1){
    //alert('You  are currently offline. Reconnect to the internet to access this item.');
    $('html').addClass('offline');
      } else {
    $('html').removeClass('offline');
    //alert('You  are currently online.');
    }
  }
  checkConnection();


  /* *****  Script for mimicking live search  **** */

  var delayInMilliseconds = 1000; //1 second
  //your code to be executed after 1 second



  function startSearch() {
    fetch('search.json')
      .then(function (response) {
        return response.json();
      })
      .then(function (data) {
        appendData(data);
      })
      .catch(function (err) {
        console.log('error: ' + err);
      });
    var delayInMilliseconds = 1000; //1 second
    function appendData(data) {
      var mainContainer = document.getElementById("myData");
      for (var i = 0; i < data.length; i++) {
        sleep(300);
        // build the search result header
        var dth5 = document.createElement("h5");
        dth5.className = "trim-singleline";
        dth5.innerHTML = data[i].id + ' : ' + data[i].searchTitle;

        var dt = document.createElement("dt");
        dt.appendChild(dth5);

        //var dta = document.createElement("a");
        //dta.innerHTML = data[i].searchLink;

        
        // build the search result text <dd><p>

        var dd = document.createElement("dd");
        var expand = document.createElement("input");
        expand.className = "expand";
        expand.type = "checkbox";
        dd.appendChild(expand);

        var ddp = document.createElement("p");
        ddp.className = "trim-multiline";

        ddp.innerHTML = data[i].searchDesc;
        dd.appendChild(ddp);

        // Inject new search result (with a slight delay)
        console.log("before dt");
        mainContainer.appendChild(dt); 
          
        mainContainer.appendChild(dd);
        
        console.log("After dd!");

      }
    }
  }


  function sleep(milliseconds) {
    const date = Date.now();
    let currentDate = null;
    do {
      currentDate = Date.now();
    } while (currentDate - date < milliseconds);
  }



  /*
  <dl class="">
            <dt class="">
              <h5 class="trim-singleline"><a href="https://www.sitepoint.com/premium/books/modern-css/read" class="">CSS Master in Chapter 2: CSS Selectors</a></h5>
            </dt>
            <dd class="">
              <input class="expand" type="checkbox">
              <p class="trim-multiline"><a href="https://www.sitepoint.com/premium/books/modern-css/read" class="">Why should your site look like 101 others? Consider developing your own <span class="search-term">CSS Animation  </span>theme. You'll require some HTML, CSS and PHP knowledge but a custom theme offers more flexibility and better performance than any off-the-shelf option. There are two potential approaches: Adapt a barebones theme.</a></p>
            </dd>
            <dt class="">
              <h5 class="trim-singleline"><a href="https://www.sitepoint.com/premium/books/modern-css/read">CSS: Tools &amp; Skills </a>found in <a href="https://www.sitepoint.com/premium/books/modern-css/read">Chapter 6: CSS Selectors</a></h5>
            </dt>
            <dd class="">
              <input class="expand" type="checkbox">
              <p class="trim-multiline">Without any doubts, <span class="search-term">CSS animations  </span>are very powerful tools that can be used to create interesting and beautiful effects. However, it’s important to be reasonable about their usage and not abuse them. Remember that you’re creating websites for users and not for yourself (in most cases, anyway). Therefore, CSS should be utilized ...</p>
            </dd>
            <dt class="">
              <h5 class="trim-singleline"><a href="https://www.sitepoint.com/premium/books/modern-css/read">CSS Master in Chapter 2: CSS Selectors</a></h5>
            </dt>
            <dd class="">
              <input class="expand" type="checkbox">
              <p class="trim-multiline"><a href="https://www.sitepoint.com/premium/books/modern-css/read">Why should your site look like 101 others? Consider developing your own <span class="search-term">CSS Animation  </span>theme. You'll require some HTML, CSS and PHP knowledge but a custom theme offers more flexibility and better performance than any off-the-shelf option. There are two potential approaches: Adapt a barebones theme.</a></p>
            </dd>
            <dt>
              <h5 class="trim-singleline"><a href="https://www.sitepoint.com/premium/books/modern-css/read">CSS: Tools &amp; Skills </a>found in <a href="https://www.sitepoint.com/premium/books/modern-css/read">Chapter 6: CSS Selectors</a></h5>
            </dt>
            <dd>
              <input class="expand" type="checkbox">
              <p class="trim-multiline">Without any doubts, <span class="search-term"><a href="book.html?stuff">CSS animations  </a></span><a href="book.html?stuff">are very powerful tools that can be used to create interesting and beautiful effects. However, it’s important to be reasonable about their usage and not abuse them. Remember that you’re creating websites for users and not for yourself (in most cases, anyway). Therefore, CSS should be utilized ...</a></p>
            </dd>
            <dt>
              <h5 class="trim-singleline"><a href="https://www.sitepoint.com/premium/books/modern-css/read">CSS Master in Chapter 2: CSS Selectors</a></h5>
            </dt>
            <dd>
              <input class="expand" type="checkbox">
              <p class="trim-multiline"><a href="https://www.sitepoint.com/premium/books/modern-css/read">Why should your site look like 101 others? Consider developing your own <span class="search-term">CSS Animation  </span>theme. You'll require some HTML, CSS and PHP knowledge but a custom theme offers more flexibility and better performance than any off-the-shelf option. There are two potential approaches: Adapt a barebones theme.</a></p>
            </dd>
            <dt>
              <h5 class="trim-singleline"><a href="https://www.sitepoint.com/premium/books/modern-css/read">CSS: Tools &amp; Skills </a>found in <a href="https://www.sitepoint.com/premium/books/modern-css/read">Chapter 6: CSS Selectors</a></h5>
            </dt>
            <dd>
              <input class="expand" type="checkbox">
              <p class="trim-multiline">Without any doubts, <span class="search-term"><a href="https://www.sitepoint.com/premium/books/modern-css/read">CSS animations  </a></span><a href="https://www.sitepoint.com/premium/books/modern-css/read">are very powerful tools that can be used to create interesting and beautiful effects. However, it’s important to be reasonable about their usage and not abuse them. Remember that you’re creating websites for users and not for yourself (in most cases, anyway). Therefore, CSS should be utilized ...</a></p>
            </dd>
          </dl>
          */