
script(src="https://cdn.rawgit.com/alexmwalker/view3d/master/js/scripts.js", type="text/javascript")
script(src="https://use.fontawesome.com/releases/v5.0.6/js/all.js" , type="text/javascript")
//script(src="scripts/typography.js" , type="text/javascript")
//script(src="scripts/hopscotch.js" , type="text/javascript")
script.
  $('.toggler').click( function() {
  $(this).toggleClass('active');
  });



