nav.search-big
  .container
    form(action="search.html")
      .grid-noGutter-center
        .col-6_md-8
          input#Search.form-control(name='Search', type='text', placeholder='Search for...')
        .col-1_md-2
          button.insetbutton(name='singlebutton') &nbsp;
        .col-12
          h4.underline Search Results for: 
            em ‘CSS Animation’

            
