nav.search-big
  .container
    form(action="search.html")
      .grid-noGutter-center
        .col-8_md-10
          input#Search.form-control(name='Search', type='text', placeholder='Search for...')
          button.insetbutton(name='singlebutton') &nbsp;


            
