

#search-panel
  form(action="search.html" , method="get")
    .container
      .grid-noGutter-center.searchbox
        .col-8_md-11
          input(type="search", id="booksearch", placeholder="      Search the book")
          a(href="search.html")
            input.insetbutton(type="submit", value="Go" )

          

  .container
    .grid-center.search-body
      .col-9_sm-12
        h2 Book titles covering 'CSS Animation'
      .col-3_sm-hidden
        p.minor.showall
          | 6 results -     
      .col-9_sm-12
        h4 'CSS Animation' located in books...
      .col-3_sm-hidden
        p.minor 8 results 
      .col-12.book-search-results-list
        dl
          dt
            h5.trim-singleline
              a(href='https://www.sitepoint.com/premium/books/modern-css/read') CSS Master in Chapter 2: CSS Selectors
          dd
            input.expand(type='checkbox')
            p.trim-multiline
              a(href='https://www.sitepoint.com/premium/books/modern-css/read')
                | Why should your site look like 101 others? Consider developing your own 
                span.search-term CSS Animation  
                | theme. You'll require some HTML, CSS and PHP knowledge but a custom theme offers more flexibility and better performance than any off-the-shelf option. There are two potential approaches: Adapt a barebones theme.
          dt
            h5.trim-singleline
              a(href='https://www.sitepoint.com/premium/books/modern-css/read') CSS: Tools & Skills 
              | found in 
              a(href='https://www.sitepoint.com/premium/books/modern-css/read') Chapter 6: CSS Selectors
          dd
            input.expand(type='checkbox')
            p.trim-multiline
              | Without any doubts, 
              span.search-term
                a(href='book.html?stuff') CSS animations  
              a(href='book.html?stuff')
                | are very powerful tools that can be used to create interesting and beautiful effects. However, it’s important to be reasonable about their usage and not abuse them. Remember that you’re creating websites for users and not for yourself (in most cases, anyway). Therefore, CSS should be utilized ...

          dt
            h5.trim-singleline
              a(href='https://www.sitepoint.com/premium/books/modern-css/read') CSS Master in Chapter 2: CSS Selectors
          dd
            input.expand(type='checkbox')
            p.trim-multiline
              a(href='https://www.sitepoint.com/premium/books/modern-css/read')
                | Why should your site look like 101 others? Consider developing your own 
                span.search-term CSS Animation  
                | theme. You'll require some HTML, CSS and PHP knowledge but a custom theme offers more flexibility and better performance than any off-the-shelf option. There are two potential approaches: Adapt a barebones theme.
          dt
            h5.trim-singleline
              a(href='https://www.sitepoint.com/premium/books/modern-css/read') CSS: Tools & Skills 
              | found in 
              a(href='https://www.sitepoint.com/premium/books/modern-css/read') Chapter 6: CSS Selectors
          dd
            input.expand(type='checkbox')
            p.trim-multiline
              | Without any doubts, 
              span.search-term
                a(href='book.html?stuff') CSS animations  
              a(href='book.html?stuff')
                | are very powerful tools that can be used to create interesting and beautiful effects. However, it’s important to be reasonable about their usage and not abuse them. Remember that you’re creating websites for users and not for yourself (in most cases, anyway). Therefore, CSS should be utilized ...

          dt
            h5.trim-singleline
              a(href='https://www.sitepoint.com/premium/books/modern-css/read') CSS Master in Chapter 2: CSS Selectors
          dd
            input.expand(type='checkbox')
            p.trim-multiline
              a(href='https://www.sitepoint.com/premium/books/modern-css/read')
                | Why should your site look like 101 others? Consider developing your own 
                span.search-term CSS Animation  
                | theme. You'll require some HTML, CSS and PHP knowledge but a custom theme offers more flexibility and better performance than any off-the-shelf option. There are two potential approaches: Adapt a barebones theme.
          dt
            h5.trim-singleline
              a(href='https://www.sitepoint.com/premium/books/modern-css/read') CSS: Tools & Skills 
              | found in 
              a(href='https://www.sitepoint.com/premium/books/modern-css/read') Chapter 6: CSS Selectors
          dd
            input.expand(type='checkbox')
            p.trim-multiline
              | Without any doubts, 
              span.search-term
                a(href='https://www.sitepoint.com/premium/books/modern-css/read') CSS animations  
              a(href='https://www.sitepoint.com/premium/books/modern-css/read')
                | are very powerful tools that can be used to create interesting and beautiful effects. However, it’s important to be reasonable about their usage and not abuse them. Remember that you’re creating websites for users and not for yourself (in most cases, anyway). Therefore, CSS should be utilized ...



