nav.library-nav
  .container
    .grid-noGutter-center
      .col-6_md-11
        input(type="search", placeholder="Search the library")
        //input.click(type="submit", value="Go")
      .col-6_md-11
        select(name='Filter by: ', id='Filter by: ')
          option(value='All') All
          option(value='JavaScript') JavaScript
          option(value='HTML & CSS') HTML &amp; CSS
          option(value='PHP') PHP
          option(value='Design & UX') Design &amp; UX
          option(value='Mobile') Mobile
          option(value='WordPress') WordPress
          option(value='Workflow') Workflow
            
