.container.results
    section.grid.result-unit.book-unit
        .col-2_sm-4.product-gutter  
            a(href='result-1.html')
                .cover-wrapper
                    img(src='images/covers/learning-docker.png') 
                ul.media-type.bookicon.showmobile 
                    li Book 
                    li.pages  311 pages
                    li.pubdate Jan 2020 
        .col-8_sm-8.product-data
            a(href='result-1.html')
                h4 Learning Docker - Second Edition
                p.small.trim-multiline Docker lets you create, deploy, and manage scalable app containers across multiple platforms. Learn how to package apps and build, ship, and scale containers. Delve into microservice architecture. Explore real-world examples of securing and managing Docker containers.
        .col-2_sm-hidden.product-meta
            ul.media-type.bookicon
                li Book 
                li.pages  311 pages
                li.pubdate Jan 2020
                //li.stars

    section.grid.result-unit.course-unit
        .col-2_sm-4.product-gutter  
            a(href='result-2.html')
                .course-wrapper 
                    img(src='images/courses/react-course.png')  
                    .timecoder 
                        .time-hrs 1
                        .time-min 25
                        .time-sec 15
                ul.media-type.courseicon.showmobile
                    li Course
                    li.pages 3hr 25min 
                    li.pubdate Apr 2020

        .col-8_sm-8.product-data
            a(href='result-2.html')
                h4 Introduction to React
                p.small.trim-multiline In this course, you’ll get a thorough introduction to real-world React. We’ll introduce you to the tools that’ll help you get ahead and create a React skeleton project. Then we’ll start building our project, an online swag shop, diving into promises, components, props, state, data services and notifications.
        .col-2_sm-hidden.product-meta
            ul.media-type.courseicon
                li Course
                li.pages 3hr 25min 
                li.pubdate Apr 2020
                //li.stars

    section.grid.result-unit.book-unit
        .col-2_sm-4.product-gutter 
            a(href='result-3.html') 
                .cover-wrapper
                    img(src='images/covers/dockerfordevelopers.png')  
                ul.media-type.bookicon.showmobile
                    li Book
                    li.length 1hr 11min
                    li.pubdate Apr 2019
        .col-8_sm-8.product-data
            a(href='result-3.html')
                h4 ‘Installing’, ‘docker’ and ‘OSX’ found for 13 times in this book
                p.small.trim-multiline.sample 
                    span.term Install Docker on macOS. 
                    | 
                    span.term Docker Desktop for Mac OS 
                    | Sierra 10.13 and above can be downloaded from 
                    span.term Docker 
                    | Hub. The package includes the Docker server, CLI, Docker Compose, Docker Swarm, and Kubernetes. Two editions are available: stable and edge with experimental features. The stable version...
        .col-2_sm-hidden.product-meta
            ul.media-type.bookicon
                li Book
                li.length 1hr 11min
                li.pubdate Apr 2019
                //li.stars 

    section.grid.result-unit.techtalk-unit
        .col-2_sm-4.product-gutter  
            a(href='result-4.html')
                .techtalk-wrapper
                    img(src='images/techtalks/techtalk.png')
                    .timecoder 
                        .time-hrs 02
                        .time-min 05
                        .time-sec 27
                ul.media-type.techtalkicon.showmobile
                    li Tech talk
                    li.length 1hr 5min
                    li.pubdate Apr 2019
        .col-8_sm-8.product-data
            a(href='result-4.html')
                h4 Defying the Mainstream: Building technology that respects our rights
                p.small.trim-multiline  Our every move, habit, and facial expression is tracked and captured by the web and Big Tech at large. We’re told surveillance is the price of using modern technology, and that our personal information is merely used to improve our experiences. Instead, we see data about us being used to perpetuate systems of oppression and discrimination. Being designers who are also users, we also have to reckon with how we both contribute to this surveillance system and are exploited by it.
        .col-2_sm-hidden.product-meta
            ul.media-type.techtalkicon
                li Tech talk
                li.length 1hr 5min
                li.pubdate Apr 2019

    section.grid.result-unit.article-unit
        .col-2_sm-4.product-gutter  
            a(href='result-4.html')
                .article-wrapper
                    img(src='https://d1nlfd9mjn1pae.cloudfront.net/wp-content/uploads/2020/04/1586298076bg_header.svg#javascript')  
                ul.media-type.articleicon.showmobile
                    li Article
                    li.length  4 minute read
                    li.pubdate Oct 8, 2020
        .col-8_sm-8.product-data
            a(href='result-4.html')
                h4 Getting Started with React: A Beginner's Guide
                p.small.trim-multiline  React is a remarkable JavaScript library that’s taken the development community by storm. In a nutshell, it’s made it easier for developers to build interactive user interfaces for web, mobile and desktop platforms. Today, thousands of companies worldwide are using React, including big names such as Netflix and Airbnb.
        .col-2_sm-hidden.product-meta
            ul.media-type.articleicon
                li Article
                li.length  4 minute read
                li.pubdate Oct 8, 2020
        //        
            ul.media-type.articleicon
                li Article
                li.length 4 minute read
                li.pubdate Oct 8 2020


    section.grid.result-unit.book-unit
        .col-2_sm-4.product-gutter  
            a(href='result-1.html')
                .cover-wrapper
                    img(src='https://d2sis3lil8ndrq.cloudfront.net/books/07c0549a-cf17-41ad-8d3c-a4cb27253aa7_medium.png')

                ul.media-type.bookicon.showmobile
                    li Book 
                    li.pages  311 pages
                    li.pubdate Jan 2020  
        .col-8_sm-8.product-data
            a(href='result-1.html')
                h4 The Principles of Beautiful Web Design, 4th Edition
                p.small.trim-multiline Lavishly illustrated with detailed examples, The Principles of Beautiful Web Design is an easy-to-follow guide that will lead you through the process of creating great designs from start to finish. No prior web design experience is required.
        .col-2_sm-hidden.product-meta
            ul.media-type.bookicon
                li Book 
                li.pages  311 pages
                li.pubdate Jan 2020
                //li.stars

    section.grid.result-unit.course-unit
        .col-2_sm-4.product-gutter  
            a(href='result-2.html')
                .course-wrapper 
                    img(src='images/courses/react-course.png')  
                    .timecoder 
                        .time-min 45
                        .time-sec 27
                ul.media-type.courseicon.showmobile
                    li Course
                    li.pages 3hr 25min 
                    li.pubdate Apr 2020
        .col-8_sm-8.product-data
            a(href='result-2.html')
                h4 Introduction to React
                p.small.trim-multiline In this course, you’ll get a thorough introduction to real-world React. We’ll introduce you to the tools that’ll help you get ahead and create a React skeleton project. Then we’ll start building our project, an online swag shop, diving into promises, components, props, state, data services and notifications.
        .col-2_sm-hidden.product-meta
            ul.media-type.courseicon
                li Course
                li.pages 3hr 25min 
                li.pubdate Apr 2020
                //li.stars

    section.grid.result-unit.book-unit
        .col-2_sm-4.product-gutter 
            a(href='result-3.html') 
                .cover-wrapper
                    img(src='images/covers/dockerfordevelopers.png') 
                ul.media-type.bookicon.showmobile
                    li Book
                    li.pages 312 pages
                    li.pubdate Apr 2019 
        .col-8_sm-8.product-data
            a(href='result-3.html')
                h4 ‘Installing’, ‘docker’ and ‘OSX’ found for 13 times in this book
                p.small.trim-multiline.sample
                    span.term Install Docker on macOS. 
                    | 
                    span.term Docker Desktop for Mac OS 
                    | Sierra 10.13 and above can be downloaded from 
                    span.term Docker 
                    | Hub. The package includes the Docker server, CLI, Docker Compose, Docker Swarm, and Kubernetes. Two editions are available: stable and edge with experimental features. The stable version...
        .col-2_sm-hidden.product-meta
            ul.media-type.bookicon
                li Book
                li.pages 312 pages
                li.pubdate Apr 2019
                //li.stars 

    section.grid.result-unit.techtalk-unit
        .col-2_sm-4.product-gutter  
            a(href='result-4.html')
                .techtalk-wrapper
                    img(src='images/techtalks/techtalk.png')  
                    .timecoder
                        .time-hrs 01 
                        .time-min 05
                        .time-sec 49
                ul.media-type.techtalkicon.showmobile
                    li Tech talk
                    li.length 1hr 5min
                    li.pubdate Apr 2019
        .col-8_sm-8.product-data
            a(href='result-4.html')
                h4 Defying the Mainstream: Building technology that respects our rights
                p.small.trim-multiline  Our every move, habit, and facial expression is tracked and captured by the web and Big Tech at large. We’re told surveillance is the price of using modern technology, and that our personal information is merely used to improve our experiences. Instead, we see data about us being used to perpetuate systems of oppression and discrimination. Being designers who are also users, we also have to reckon with how we both contribute to this surveillance system and are exploited by it.
        .col-2_sm-hidden.product-meta
            ul.media-type.techtalkicon
                li Tech talk
                li.length 1hr 5min
                li.pubdate Apr 2019

    section.grid.result-unit.article-unit
        .col-2_sm-4.product-gutter  
            a(href='result-4.html')
                .article-wrapper
                    img(src='https://d1nlfd9mjn1pae.cloudfront.net/wp-content/uploads/2020/04/1586298076bg_header.svg#javascript')  
                ul.media-type.articleicon.showmobile
                    li Article
                    li.length  4 minute read
                    li.pubdate Oct 8, 2020
        .col-8_sm-8.product-data
            a(href='result-4.html')
                h4 Getting Started with React: A Beginner's Guide
                p.small.trim-multiline  React is a remarkable JavaScript library that’s taken the development community by storm. In a nutshell, it’s made it easier for developers to build interactive user interfaces for web, mobile and desktop platforms. Today, thousands of companies worldwide are using React, including big names such as Netflix and Airbnb.
        .col-2_sm-hidden.product-meta
            ul.media-type.articleicon
                li Article
                li.length  4 minute read
                li.pubdate Oct 8, 2020

        //        
            ul.media-type.articleicon
                li Article
                li.length 4 minute read
                li.pubdate Oct 8 2020
 
        include paginate.pug
