- var hidesearch = 1

html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title SitePoint - Learn with Books, Video and Code
    meta(name='description', content='SitePoint Library')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', type='text/css', href='styles/css/search.css?r=123')



  body.-vr.-labelling.-borders

    include header-simple.pug

    section.contentbody

      include search-big.pug
      .container 
        .col-12
          h4.underline Search Results for: 
            em ‘CSS Animation’

      include search-books.pug
    
      //include search-locate.pug

    include footer.pug
