.container.results
    
    //.grid-noGutter
    section.grid.result-unit
        .col-2_sm-4.product-gutter  
            .cover
                img(src='images/covers/learning-docker.png')  
        .col-8_sm-8.product-data
            h4 Learning Docker - Second Edition
            p.small Docker lets you create, deploy, and manage scalable app containers across multiple platforms. Learn how to package apps and build, ship, and scale containers. Delve into microservice architecture. Explore real-world examples of securing and managing Docker containers.
        .col-2_sm-hidden.product-meta
            ul.media-type.book
                li Book 
                li.pages  311 pages
                li.pubdate Jan 2020
                //li.stars

    section.grid.result-unit
        .col-2_sm-4.product-gutter.course  
            .course 
                img(src='images/courses/react-course.png')  
        .col-8_sm-8.product-data
            a(href='result-1.html')
                h4 Introduction to React
                p.small In this course, you’ll get a thorough introduction to real-world React. We’ll introduce you to the tools that’ll help you get ahead and create a React skeleton project. Then we’ll start building our project, an online swag shop, diving into promises, components, props, state, data services and notifications.
        .col-2_sm-hidden.product-meta
            ul.media-type.course
                li Course
                li.pages 3 hours 25min 
                li.pubdate Apr 2020
                //li.stars

    section.grid.result-unit
        .col-2_sm-4.product-gutter  
            .cover
                img(src='images/covers/dockerfordevelopers.png')  
        .col-8_sm-8.product-data
            h4 ‘Installing’, ‘docker’ and ‘OSX’ found for 13 times in this book
            p.small.sample 
                span.term Install Docker on macOS. 
                | 
                span.term Docker Desktop for Mac OS 
                | Sierra 10.13 and abovecan be downloaded from 
                span.term Docker 
                | Hub. The package includes the Docker server, CLI, Docker Compose, Docker Swarm, and Kubernetes. Two editions are available: stable and edge with experimental features. The stable version...
        .col-2_sm-hidden.product-meta
            ul.media-type.course
                li Course
                li.length 1hour 11
                li.pubdate Apr 2019
                //li.stars 

    section.grid.result-unit
        .col-2_sm-4.product-gutter.techtalk  
            .techtalk
                img(src='images/techtalks/techtalk.png')  
        .col-8_sm-8.product-data
            h4 Defying the Mainstream: Building technology that respects our rights
            p.small  Our every move, habit, and facial expression is tracked and captured by the web and Big Tech at large. We’re told surveillance is the price of using modern technology, and that our personal information is merely used to improve our experiences. Instead, we see data about us being used to perpetuate systems of oppression and discrimination. Being designers who are also users, we also have to reckon with how we both contribute to this surveillance system and are exploited by it.
        .col-2_sm-hidden.product-meta
            ul.media-type.techtalks
                li Tech talk
                li.length 1hour 5
                li.pubdate Apr 2019
                //li.stars 

