nav.search-big
  .container
    form(action="search.html")
      .grid-noGutter-center
        .col-6_md-8
          input#Search.form-control(name='Search', type='text', placeholder='Search for...')
        .col-1_md-2
          button.insetbutton(name='singlebutton') &nbsp;
        .col-12
          h4.underline Search Results for: 
            em ‘CSS Animation’

        //.col-1_md-11
          // Button
          .form-group
            button.singlebutton(name='singlebutton') Go

        //.col-2_md-11.rel
          span.label Filter by topic:
          select(name='Filter ', id='filter')
            option(value='All') Show All
            option(value='JavaScript') JavaScript
            option(value='HTML & CSS') HTML & CSS
            option(value='PHP') PHP
            option(value='Design & UX') Design & UX
            option(value='Mobile') Mobile
            option(value='WordPress') WordPress
            option(value='Workflow') Workflow
            
