nav.search-big
  .container
    .grid-noGutter-center.underline
      .col-6_md-11
        .form-group
          input#Search.form-control(name='Search', type='text', placeholder='Search for...')
      .col-1_md-11
        // Button
        .form-group
          button.singlebutton(name='singlebutton') Go

      .col-2_md-11.rel
        span.label Filter by:
        select(name='Filter by: ', id='Filter by: ')
          option(value='All') All
          option(value='JavaScript') JavaScript
          option(value='HTML & CSS') HTML & CSS
          option(value='PHP') PHP
          option(value='Design & UX') Design & UX
          option(value='Mobile') Mobile
          option(value='WordPress') WordPress
          option(value='Workflow') Workflow
            
