.container
  .grid-center.search-body
    //.col-12 
      h4 Search Results for: 
        em ‘CSS Animation’

    .col-12
      .grid.book-search-results.inset
        .col-6
          h5 Book titles covering 'CSS Animation'
        .col-6
          p.minor.showall 6 results - 
            a(href="#") (Show All)     
      .grid-center
        .col-3
          a.bookcard(href='https://www.sitepoint.com/premium/books/jump-start-vue-js')
            .bookframe
              img(src='https://s3.amazonaws.com/learnable-static/premium/reeedr/books/jump-start-vue-js/images/cover-front.png')
            .cardtitle Jump Start Vue.js
        .col-3
          a.bookcard(href='https://www.sitepoint.com/premium/books/a-beginner-s-guide-to-working-with-components-in-vue')
            .bookframe
              img(src='https://d2sis3lil8ndrq.cloudfront.net/books/d1d4edbe-5a22-4b6a-842c-b1f1210245db_medium.png')
            .cardtitle CSS: Tools &amp; Skills
        .col-3
          a.bookcard(href='https://www.sitepoint.com/premium/books/your-first-week-with-wordpress')
            .bookframe
              img(src='https://d2sis3lil8ndrq.cloudfront.net/books/a34214fb-74db-418b-b343-8caf658eeed2_medium.png')
            .cardtitle CSS Master - Second Edition
        .col-3
          a.bookcard(href='https://www.sitepoint.com/premium/books/modern-css')
            .bookframe
              img(src='https://d2sis3lil8ndrq.cloudfront.net/books/eacf6980-2f5e-4367-9729-9dfee3c25e3b_medium.png')
            .cardtitle Modern CSS

    .col-12
      .grid.inset
        .col-6
          h5 'CSS Animation' located in books...
        .col-6
          p.minor.showall 8 results - 
            a(href="#") (Show All) 

    .col-12.results-list 
      .grid-center
        .col-12 
          h5 
            a(href="https://www.sitepoint.com/premium/books/8-practical-bootstrap-projects/read") Modern CSS 
            | found in 
            a(href="https://www.sitepoint.com/premium/books/8-practical-bootstrap-projects/read") Chapter 2: CSS Selectors
        .col-11.result-text
          blockquote
            p  Without any doubts, 
              span.search-term CSS animations  
              |  are very powerful tools that can be used to create interesting and beautiful effects. However, it’s important to be reasonable about their usage and not abuse them. Remember that you’re creating websites for users and not for yourself (in most cases, anyway). Therefore, CSS should be utilized ...              

        .col-1.result-book
          .thumbframe
            img(src='https://d2sis3lil8ndrq.cloudfront.net/books/d1d4edbe-5a22-4b6a-842c-b1f1210245db_medium.png')
          a.go(href='https://www.sitepoint.com/premium/books/8-practical-bootstrap-projects/read')  Go 


        .col-12 
          h5 
            a(href="https://www.sitepoint.com/premium/books/modern-css/read") CSS: Tools &amp; Skills 
            | found in 
            a(href="https://www.sitepoint.com/premium/books/modern-css/read") Chapter 6: CSS Selectors
        .col-11.result-text
          blockquote
            p  Why should your site look like 101 others? Consider developing your own 
              span.search-term CSS Animation  
              | theme. You'll require some HTML, CSS and PHP knowledge but a custom theme offers more flexibility and better performance than any off-the-shelf option. There are two potential approaches: Adapt a barebones theme.

        .col-1.result-book
          .thumbframe
            img(src='https://d2sis3lil8ndrq.cloudfront.net/books/2942e3e7-a0e6-4736-ad00-efc05f21f186.png')
          a.go(href='https://www.sitepoint.com/premium/books/your-first-week-with-wordpress/read')  Go 


        .col-12 
          h5 
            a(href="https://www.sitepoint.com/premium/books/your-first-week-with-wordpress/read") Modern CSS 
            | found in 
            a(href="https://www.sitepoint.com/premium/books/your-first-week-with-wordpress/read") Chapter 2: CSS Selectors
        .col-11.result-text
          blockquote
            p  ...for server-side scripting—running scripts server-side to produce dynamic web page content before the page is sent to the user's web browser. Consequently, 
              span.search-term CSS Animation  
              | represents a "JavaScript everywhere" paradigm, unifying web application development around a single programming language, rather than different languages for server side and client side scripts.

        .col-1.result-book
          .thumbframe
            img(src='https://d2sis3lil8ndrq.cloudfront.net/books/a34214fb-74db-418b-b343-8caf658eeed2_medium.png')
          a.go(href='https://www.sitepoint.com/premium/books/your-first-week-with-wordpress/read')  Go 


        .col-12 
          h5 
            a(href="https://www.sitepoint.com/premium/books/8-practical-bootstrap-projects/read") 8 Practical Bootstrap Projects 
            | found in 
            a(href="https://www.sitepoint.com/premium/books/8-practical-bootstrap-projects/read") Chapter 3: Animating Bootstrap Carousels with GSAP’s Animation Library
        .col-11.result-text
          blockquote
            p  At this point, let’s try to make the carousel more appealing by adding some 
              span.search-term CSS Animation  
              | . To achieve this, we’ll take advantage of GSAP, one of the most powerful JavaScript animation libraries out there. If you’re looking for a thorough introduction to GreenSock, check out GreenSock for Beginners: a Web Animation Tutorial (Part 1).

        .col-1.result-book
          .thumbframe
            img(src='https://s3.amazonaws.com/learnable-static/premium/reeedr/books/8-practical-bootstrap-projects/images/cover-front.png')
          a.go(href='https://www.sitepoint.com/premium/books/8-practical-bootstrap-projects/read')  Go 

        .col-12 
          h5 
            a(href="https://www.sitepoint.com/premium/books/8-practical-bootstrap-projects/read") Modern CSS 
            | found in 
            a(href="https://www.sitepoint.com/premium/books/8-practical-bootstrap-projects/read") Chapter 2: CSS Selectors
        .col-11.result-text
          blockquote
            p  Without any doubts, 
              span.search-term CSS animations  
              |  are very powerful tools that can be used to create interesting and beautiful effects. However, it’s important to be reasonable about their usage and not abuse them. Remember that you’re creating websites for users and not for yourself (in most cases, anyway). Therefore, CSS should be utilized ...              

        .col-1.result-book
          .thumbframe
            img(src='https://d2sis3lil8ndrq.cloudfront.net/books/eacf6980-2f5e-4367-9729-9dfee3c25e3b_medium.png')
          a.go(href='https://www.sitepoint.com/premium/books/8-practical-bootstrap-projects/read')  Go 


        .col-12 
          h5 
            a(href="https://www.sitepoint.com/premium/books/modern-css/read") CSS: Tools &amp; Skills 
            | found in 
            a(href="https://www.sitepoint.com/premium/books/modern-css/read") Chapter 6: CSS Selectors
        .col-11.result-text
          blockquote
            p  Why should your site look like 101 others? Consider developing your own 
              span.search-term CSS Animation  
              | theme. You'll require some HTML, CSS and PHP knowledge but a custom theme offers more flexibility and better performance than any off-the-shelf option. There are two potential approaches: Adapt a barebones theme.

        .col-1.result-book
          .thumbframe
            img(src='https://d2sis3lil8ndrq.cloudfront.net/books/d1d4edbe-5a22-4b6a-842c-b1f1210245db_medium.png')
          a.go(href='https://www.sitepoint.com/premium/books/8-practical-bootstrap-projects/read')  Go 


        .col-12 
          h5 
            a(href="https://www.sitepoint.com/premium/books/your-first-week-with-wordpress/read")  CSS Master
            | found in 
            a(href="https://www.sitepoint.com/premium/books/your-first-week-with-wordpress/read") Chapter 2: CSS Selectors
        .col-11.result-text
          blockquote
            p  ...for server-side scripting—running scripts server-side to produce dynamic web page content before the page is sent to the user's web browser. Consequently, 
              span.search-term CSS Animation  
              | represents a "JavaScript everywhere" paradigm, unifying web application development around a single programming language, rather than different languages for server side and client side scripts.

        .col-1.result-book
          .thumbframe
            img(src='https://d2sis3lil8ndrq.cloudfront.net/books/a34214fb-74db-418b-b343-8caf658eeed2_medium.png')
          a.go(href='https://www.sitepoint.com/premium/books/your-first-week-with-wordpress/read')  Go 


        .col-12 
          h5 
            a(href="https://www.sitepoint.com/premium/books/8-practical-bootstrap-projects/read") 8 Practical Bootstrap Projects 
            | found in 
            a(href="https://www.sitepoint.com/premium/books/8-practical-bootstrap-projects/read") Chapter 3: Animating Bootstrap Carousels with GSAP’s Animation Library
        .col-11.result-text
          blockquote
            p  At this point, let’s try to make the carousel more appealing by adding some 
              span.search-term CSS Animation  
              | . To achieve this, we’ll take advantage of GSAP, one of the most powerful JavaScript animation libraries out there. If you’re looking for a thorough introduction to GreenSock, check out GreenSock for Beginners: a Web Animation Tutorial (Part 1).

        .col-1.result-book
          .thumbframe
            img(src='https://s3.amazonaws.com/learnable-static/premium/reeedr/books/8-practical-bootstrap-projects/images/cover-front.png')
          a.go(href='https://www.sitepoint.com/premium/books/8-practical-bootstrap-projects/read')  Go 

