- var searchterm = "Docker for OSX";
- var searches = {};
- searches.value = searchterm;





html
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        title Search results for '#{searchterm}' - SitePoint
        meta(name='description', content='Search results for - #{searchterm} - SitePoint ')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        link(rel='stylesheet', type='text/css', href='styles/css/new-search.css?cache=ab12345')

        // type inspector
        

    body.vr.-labelling.borders

        include header-simple.pug

        section.contentbody

            include search-big.pug

            include search-es.pug

        //include search-library.pug

        //include book-cards.pug 


        include footer.pug
