


nav.search-big
  .container
    form(action="search.html")
      .grid-noGutter-center
        .col-10_md-12_sm-12
          input#Search.form-control(name='Search', type='text', value='{searchterm}' placeholder='Search for...')&attributes(searches)  
          //button#searchSubmit.insetbutton(name='singlebutton') &nbsp;
          input#searchSubmit.insetbutton(name='singlebutton')

          .media-selector
            .search-switch
                input#search-books.custom-icon(type='checkbox' value='books' checked='checked')
                label.search-type(for='search-books') Books

            .search-switch
                input#search-courses.custom-icon(type='checkbox' value='courses' checked='checked')
                label.search-type(for='search-courses') Courses
        
            .search-switch
                input#search-talks.custom-icon(type='checkbox' value='talks' checked='checked')
                label.search-type(for='search-talks') Talks

            .search-switch
                input#search-code.custom-icon(type='checkbox' value='code' checked='checked')
                label.search-type.report(for='search-code') Code
      


              
        

            
