

html
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        title SitePoint Library
        meta(name='description', content='SitePoint Library')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        link(rel='stylesheet', type='text/css', href='styles/css/new-search.css?cache=654321')

        // type inspector
        
        script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")

    body.-vr.-labelling.-borders

        include header-simple.pug

        section.contentbody

            include search-big.pug

            include search-es.pug

        //include search-library.pug

        //include book-cards.pug 

        include footer.pug
