

#search-panel
  form(action="search.html" , method="get")
    .container
      .grid-noGutter-center.searchbox
        .col-8_md-11
          input(type="search", id="booksearch", placeholder="      Search the book")
        .col-2_md-11
          a(href="search.html")
            input.insetbutton(type="submit", value="Go" )


