html
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        title SitePoint - Styleguide
        link(rel='icon', type='image/png', href='styleguide/structure/images/favicon.png')
        meta(name='description', content='SitePoint Styleguide - Headers')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', type='text/css', href='../styles/css/styles.css?r=1234')
        link(rel='stylesheet', type='text/css', href='../styles/css/styleguider.css?r=1234')

    body.feedback.labelling.vr
        main.container
            include modules/sg-menu.pug
            section.guidebody
                .section--preview.grid
                    header.col-12.section.is-size-h5 Headings and paragraphs
                    p.small.crumbtrail  Home > Headings
                    h1.major.report h1.major: Heading two-line Jackdaws love my big sphinx of quartz.
                    h1.report Heading 1 - Jackdaws love my big sphinx of quartz.
                    h2.report Heading 2 - Jackdaws love my big sphinx of quartz.
                    h3.report Heading 3 - Jackie will budget for the most expensive zoology equipment. 
                    h4.report Heading 4 - Jackie will budget for the most expensive zoology equipment. 
                    h5.report Heading 5 - Jackie will budget for the most expensive zoology equipment.
                    p
                        | Paragraph Standard - It was a dreamworld, if the dreamers were testosterone-fueled males who were never forced to behave like adults. Dreams come true all the time, just not for the dreamers. We can charge the Unnecessarily Painful Slow Death torpedoes on the trip. Zaphod drifted away from the conversation, already impatient with a situation that did not feature him. “Zaphod! I am so happy to see you.”
                    p.report
                        | Paragraph Standard - They did not realize that because of the quasi-reciprocal and circular nature of all Improbability calculations, anything that was Infinitely Improbable was actually very likely to happen almost immediately. “In other words—and this is the rock-solid principle on which the whole of the Corporation’s Galaxywide success is founded—their fundamental design flaws are completely hidden by their superficial design flaws.” And so the Sandwich Maker sang as he worked. “You want the taste of dried leaves boiled in water?” “Er, yes. With milk.” Gods have god-sized egos, so we need a lot of love to stay healthy.
                    p.minor.report 
                        | Paragraph.minor - The early morning’s thinnest sliver of light appeared silently. Several billion trillion tons of superhot exploding hydrogen nuclei rose slowly above the horizon and managed to look small, cold and slightly damp. In so far as it is possible for a green blur to arch its eyebrows disdainfully, this is what the green blur now did. All we need to do is snatch Jean Claude and it’s whole-wheat crepes for everyone. “If there’s anything more important than my ego around, I want it caught and shot now.” Arthur looked as though he’d had quite enough bad news for one day.
                    p.small.report 
                        | Paragraph.small - This bird was really pushy. There. All done. No more nastiness. “Do you need a reservation for the afterlife?” “Why’s it all in hardware?” Spring is overrated.
                    
                .section--preview.grid
                    // _buttons-CTAs.scss
                    header.col-12.section.is-size-h5 Buttons &amp; CTAs 
                    // Pink CTA
                    .col-6
                        .style-definition
                            figcaption Primary CTA button
                            button.pink Free 7-Day Trial
                     
                    .col-6
                        .style-definition
                            figcaption Primary Large CTA button
                            button.pink.large.report Free 7-Day Trial

                    // teal CTA
                    .col-6
                        .style-definition
                            figcaption Secondary CTA button
                            button.teal More information
                     
                    .col-6
                        .style-definition
                            figcaption Secondary Large CTA button
                            button.teal.large.report  More information

                    // teal CTA
                    .col-6
                        .style-definition
                            figcaption Tertiary CTA button
                            button.azure More information
                     
                    .col-6
                        .style-definition
                            figcaption Tertiary Large CTA button
                            button.azure.large.report  More information

                    // azure CTA
                    .col-6
                        .style-definition
                            figcaption Quaternary CTA button
                            button.gray More information
                     
                    .col-6
                        .style-definition
                            figcaption Quaternary Large CTA button
                            button.gray.large.report  More information


                    // Input checkbox Switches
 
                    
                    .col-6
                        .style-definition
                            figcaption Major Search switch (default style) 
                            .search-switch(data-codeblock="#search-switch-div")
                                input#search-click.report(type='checkbox' value='Click me!')
                                label.search-type(for='search-click') Click me!

                            #search-switch-div.codeview
                                
                                input.codeshow(type='checkbox')
                                span.showcode Show markup
                                
                        
                    // Input checkbox Switches

                    .col-6
                        .style-definition
                            figcaption Tag cloud switches (small)
                            .tag-group(data-codeblock="#search-switch-small")
                                .search-switch.smaller
                                    input#search-javascript(type='checkbox' checked='checked' value='javascript')
                                    label.search-type(for='search-javascript') JavaScript

                                .search-switch.smaller
                                    input#search-html(type='checkbox' checked='checked' value='html')
                                    label.search-type(for='search-html') HTML

                                .search-switch.smaller
                                    input#search-css(type='checkbox' checked='checked' value='css')
                                    label.search-type(for='search-css') CSS
                                    
                                .search-switch.smaller
                                    input#search-vue(type='checkbox' checked='checked' value='vue')
                                    label.search-type(for='search-vue') Vue

                                .search-switch.smaller
                                    input#search-nodejs(type='checkbox' checked='checked' value='nodejs')
                                    label.search-type(for='search-nodejs') NodeJS
                                    
                                .search-switch.smaller
                                    input#search-design(type='checkbox' checked='checked' value='design')
                                    label.search-type(for='search-design') Design

                                .search-switch.smaller
                                    input#search-bootstrap(type='checkbox' checked='checked' value='bootstrap')
                                    label.search-type(for='search-bootstrap') Bootstrap
                                    
                                .search-switch.smaller
                                    input#search-ruby(type='checkbox' checked='checked' value='ruby')
                                    label.search-type(for='search-ruby') Ruby
                                
                                .search-switch.smaller
                                    input#search-angular(type='checkbox' checked='checked' value='angular')
                                    label.search-type(for='search-angular') Angular
                                    
                                .search-switch.smaller
                                    input#search-react(type='checkbox' checked='checked' value='react')
                                    label.search-type(for='search-react') React

                                .search-switch.smaller
                                    input#search-sql(type='checkbox' checked='checked' value='sql')
                                    label.search-type(for='search-sql') SQL
                                    
                                .search-switch.smaller
                                    input#search-php(type='checkbox' checked='checked' value='php')
                                    label.search-type(for='search-php') PHP

                            #search-switch-small.codeview                                
                                input.codeshow(type='checkbox')
                                span.showcode Show markup


                    .col-12.wrap
                        figcaption Customized Search Switches

                        .media-selector(data-codeblock="#media-selector")
                            .search-switch
                                input#search-books.custom-icon(type='checkbox' value='books'  checked='checked')
                                label.search-type(for='search-books') Books

                            .search-switch
                                input#search-courses.custom-icon(type='checkbox' value='courses')
                                label.search-type(for='search-courses') Courses
                        
                            .search-switch
                                input#search-talks.custom-icon(type='checkbox' value='talks' checked='checked')
                                label.search-type(for='search-talks') Talks

                            .search-switch
                                input#search-code.custom-icon(type='checkbox' value='code')
                                label.search-type.report(for='search-code') Code

    
                        #media-selector.codeview                                
                            input.codeshow(type='checkbox')
                            span.showcode Show markup



                .section--preview.grid
                    // _logos-branding.scss
                    header.col-12.section.is-size-h5 Logos and Branding
                                       
                    .col-6
                        figcaption Logo - dark
                        .bg.bg-lite
                            
                            include ../images/sitepoint-logo.pug

                    .col-6
                        figcaption Logo - Light
                        .bg.bg-dark
                            
                            include ../images/sitepoint-logo.pug
 
    script(src='../scripts/jquery-3.4.0.min.js')                        
    script(src='../scripts/styleguider.js')
    script(src='../scripts/prism.js')

