html
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        title SitePoint - Styleguide
        link(rel='icon', type='image/png', href='styleguide/structure/images/favicon.png')
        meta(name='description', content='SitePoint Styleguide')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', type='text/css', href='../styles/css/styles.css')
        link(rel='stylesheet', type='text/css', href='../styles/css/styleguider.css')

    body.feedback.labelling.vr
     
        main.container
            section.guidebody
                header.section Headings &amp; paragraphs
                p.small Home > Breadcrumb > Trail
                h1.major.report h1.major: Heading two-line Jackdaws love my big sphinx of quartz.
                h1.report Heading 1 - Jackdaws love my big sphinx of quartz.
                h2.report Heading 2 - Jackdaws love my big sphinx of quartz.
                h3.report Heading 3 - Jackie will budget for the most expensive zoology equipment. 
                h4.report Heading 4 - Jackie will budget for the most expensive zoology equipment. 
                h5.report Heading 5 - Jackie will budget for the most expensive zoology equipment.
                p
                    | Paragraph Standard - And so the Sandwich Maker sang as he worked. Today was one of those bad days. “I think this is getting needlessly messianic.” Anything that happens, happens. I am fully programmed to take offense.
                p.report
                    | Paragraph Standard - Zaphod was basically a one-puff man all the time. “Do you need a reservation for the afterlife?” He’d been to some great parties in tombs. “We need some serious room service.” We may be mortal, but we’re not stupid.
                p.minor.report 
                    | Paragraph.minor - He hadn’t been ready for any of this of course. Arthur suggested they go for a walk. Our last god was a less is more kinda guy. The ground was hanging menacingly above his head. Arthur nodded intelligently.
                p.small.report 
                    | Paragraph.small - This bird was really pushy. There. All done. No more nastiness. “Do you need a reservation for the afterlife?” “Why’s it all in hardware?” Spring is overrated.
                

    script(src='../scripts/styleguider.js')
    script(src='../scripts/prism.js')

