html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title SitePoint - Styleguide
    meta(name='description', content='SitePoint Styleguide')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //link(rel='stylesheet', type='text/css', href='../styles/css/styleguide.css')
    link(rel='stylesheet', type='text/css', href='../styles/css/sg.css')
    link(rel='stylesheet', type='text/css', href='https://gistcdn.githack.com/alexmwalker/9c099a4ab551e2082dacafffd715498a/raw/da6c594a81b7ccc5f784a71e627bea197da004fa/reset.css')
    link(rel='icon', type='image/png', href='styleguide/structure/images/favicon.png')


  body
   
    main.container.vr.borders.labelling
      
        div.device
        include modules/sg-menu.pug
        .unit

            include modules/module-intro.pug


    include modules/sg-footer.pug