.wrapper-SL(style="color:green")
  section.styledHeader__StyledHeader-sc-1ei2vfl-0.bYCoV.design.ux(class='&amp;', aria-label='Article header')
    .styledHeader__Info-sc-1ei2vfl-1.chfcya
      h1.styledHeader__Title-sc-1ei2vfl-3.kHAsVx How to Design for Screen Readers with Adobe XD CC
      .styledHeader__Metabox-sc-1ei2vfl-2.imtaxt
        div
          p.styledHeader__Meta-sc-1ei2vfl-4.jDMxgR
            | By
            // 
            | Daniel Schwarz
          p.styledHeader__Meta-sc-1ei2vfl-4.jDMxgR Design &amp; UX
          time.styledHeader__Meta-sc-1ei2vfl-4.jDMxgR(datetime='2020-02-27') February 27, 2020
        div
          p.styledHeader__Meta-sc-1ei2vfl-4.jDMxgR Share:
          button.styledSocialShare__StyledButton-sc-1slciz-0.cIDvHv(aria-label='Share Sitepoint on facebook', data-network='facebook')
            .fab.fa-facebook-square
          button.styledSocialShare__StyledButton-sc-1slciz-0.cIDvHv(aria-label='Share Sitepoint on reddit', data-network='reddit')
            .fab.fa-reddit
          button.styledSocialShare__StyledButton-sc-1slciz-0.cIDvHv(aria-label='Share Sitepoint on twitter', data-network='twitter')
            .fab.fa-twitter-square
          button.styledSocialShare__StyledButton-sc-1slciz-0.cIDvHv(aria-label='Share Sitepoint on email', data-network='email')
            .fa.fa-envelope
    .ad-box(style='min-width:300px;height:250px;margin:calc(var(--baseline)/2) 0 ;border:1px solid black')
 
    //  object(data='../../images/illos.svg#design', type='image/svg+xml' width="600" )
      img(src="../../images/icons2.svg#star-hollow" width="60")
      div( style="width: 100%; color: #fff;height: 300px; background:#999 url() top left no-repeat;background-image:url(../../images/icons2.svg#activity), url(../../images/icons2.svg#add); ")
