section.social
  .container
    .grid
        .col-12.align-c
            h2 What our members says...


    .grid-3_sm-1  
        .col
            .tweetbox
                .tweet-title 
                    img.avatar(src="images/SVG/social-wryw.svg")
                    a(href="https://www.werockyourweb.com/management/online-learning/") Dane M. 
                    span.twittername Web Developer
                .tweet-body 
                    p 
                        | SitePoint is my first line of education for website development and design. I’ve been a member for several years and I use it consistently month in and month out... 
                        //time(datetime='2017-16-08 20:30')  8:30 PM  - 16th Aug 2017

        .col
            .tweetbox
                .tweet-title 
                    img.avatar(src="images/SVG/social-nilanth.svg")
                    a(href="#") Nilantha  
                    span.twittername(href="#") Tech Consultant
                .tweet-body 
                    p I am very new to PHP but within a shorter period of time I was able to provide software solutions to major companies in my country. Recently I was struggle to know the hashing password and came across your article which helped me very well to overcome the situation. 
                        //time(datetime='2019-30-04 18:12') 6:12 PM  - 30th Apr 2019
        .col
            .tweetbox
                .tweet-title 
                    img.avatar(src="images/SVG/social-linda.svg")
                    a(href="#") Linda
                    span.twittername(href="#") Self Taught
                .tweet-body 
                    p SitePoint's books taught me so much over the years, and I've been most grateful for the quality instruction in them. 
                        //time(datetime='2019-03-01 02:53') 02:53 AM  - 3rd Jan 2019