section.social
  .container
    .grid
        .col-12.align-c
            h2 What our members says...


    .grid-3_sm-1  
        .col
            .tweetbox
                .tweet-title 
                    img.avatar(src="images/authors/hammad.png")
                    a(href="#") Hammad Ahmed
                    a.twittername(href="#") @shammadahmed
                .tweet-body 
                    p 
                        a(href="#") #100DaysOfCode 
                        | Binge watching basic 
                        a(href="#") #HTML 
                        | and #CSS courses on 
                        a(href="#") @sitepointdotcom
                        | . Filling knowledge gaps I developed as a self-taught 
                        a(href="#") #dev.
                        time(datetime='2017-16-08 20:30') 8:30 PM  - 16th Aug 2017

        .col
            .tweetbox
                .tweet-title 
                    img.avatar(src="images/authors/author-malcurtis.jpg")
                    a(href="#") Mal Curtis
                    a.twittername(href="#") @websnik
                .tweet-body 
                    p 
                        a(href="#") #100DaysOfCode 
                        | Binge watching basic 
                        a(href="#") #HTML 
                        | and #CSS courses on 
                        a(href="#") @sitepointdotcom
                        | . Filling knowledge gaps I developed as a self-taught 
                        a(href="#") #dev.
                        time(datetime='2019-30-04 18:12') 6:12 PM  - 30th Apr 2019
        .col
            .tweetbox
                .tweet-title 
                    img.avatar(src="images/authors/avatar-girl.png")
                    a(href="#") Faye Milly
                    a.twittername(href="#") @anotherFan
                .tweet-body 
                    p 
                        a(href="#") #100DaysOfCode 
                        | Binge watching basic 
                        a(href="#") #HTML 
                        | and #CSS courses on 
                        a(href="#") @sitepointdotcom
                        | . Filling knowledge gaps I developed as a self-taught 
                        a(href="#") #dev.
                        time(datetime='2019-03-01 02:53') 02:53 AM  - 3rd Jan 2019