html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title SitePoint - Styleguide
    meta(name='description', content='SitePoint Styleguide')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='../styles/css/styleguide.css')
    link(rel='stylesheet', type='text/css', href='../styles/css/styleguideUI.css')
    link(rel='icon', type='image/png', href='styleguide/structure/images/favicon.png')

  //-
    link(href='assets/styles/structure.css', rel='stylesheet')
    link(href='modules/1_introduction/introduction.css', rel='stylesheet')
    link(href='modules/2_colors/colors.css', rel='stylesheet')
    link(href='modules/3_typography/typography.css', rel='stylesheet')
    link(href='modules/4_buttons/buttons.css', rel='stylesheet')
    link(href='modules/5_lists/lists.css', rel='stylesheet')
    link(href='modules/6_forms/forms.css', rel='stylesheet')
    link(href='modules/7_tables/tables.css', rel='stylesheet')
    link(href='modules/8_templates/templates.css', rel='stylesheet')
  body.vr.borders.labelling
    main.container
      .huge-iframe-content
        // Add your sections in here 
        include modules/module-intro.pug
        include modules/module-typography.pug        
        include modules/module-buttons.pug 
        include modules/module-code.pug 

      script(src='https://hugeinc.github.io/styleguide/demo/styleguide/structure/scripts/vendor/jquery-1.11.1.min.js')
      script(src='../scripts/prism.js')
      script(src='https://hugeinc.github.io/styleguide/demo/styleguide/structure/scripts/vendor/tidy.js')
      script(src='https://hugeinc.github.io/styleguide/demo/styleguide/structure/scripts/iframe.js')
      script(src='https://hugeinc.github.io/styleguide/demo/styleguide/modules/1_introduction/introduction.js')
