section.talks-landing
  .container
    .grid-center
      .col-12_sm-11
        .grid
          .col-7_sm-12
            h2 Watch the world’s most inspiring Tech Talks without leaving home
            p Get cutting-edge techniques directly from the experts from Amsterdam to San Francisco and Manchester to Melbourne. 
            p.align-c
                button.teal.large Browse all the talks
          .col-4_sm-12
            .stack
              figure 
                img(src="images/talks/talk-1.png")
                figcaption Writing CSS in the year 3019 
                  span With Ire Aderikun
              figure 
                img(src="images/talks/talk-2.png")
                figcaption The Thing Is Design Systems. The Time Is Now.
                  span With Brad Frost
              figure 
                img(src="images/talks/talk-3.png")
                figcaption Develop, Debug, Learn?
                  span With Chris Heilmann
                  
          .col-1_sm_hidden



