.grid.tech
  .container
    .col-12.align-c
      h2 Choose your own coding adventure
      .grid-noGutter
        .col
          a(href="library/?cat=react") 
            img(src="images/SVG/icon-react.svg")
            p React
                       
        .col
          a(href="library/?cat=NodeJS")  
            img(src="images/SVG/icon-nodejs.svg")
            p NodeJS

        .col
          a(href="library/?cat=Angular") 
            img(src="images/SVG/icon-angular.svg")
            p Angular
            
        .col
          a(href="library/?cat=JavaScript") 
            img(src="images/SVG/icon-javascript.svg")
            p JavaScript

            
        .col
          a(href="library/?cat=CSS") 
            img(src="images/SVG/icon-css.svg")
            p CSS

        .col
          a(href="library/?cat=HTML5")
            img(src="images/SVG/icon-html5.svg")
            p HTML5

        .col
          a(href="library/?cat=Bootstrap")
            img(src="images/SVG/icon-bootstrap.svg")
            p  Bootstrap

        .col
          a(href="library/?cat=VueJS") 
            img(src="images/SVG/icon-vuejs.svg")
            p VueJS

        .col
          a(href="library/?cat=Ethereum") 
            img(src="images/SVG/icon-ethereum.svg")
            p Ethereum