.title-illustration(style='background-image: url(images/illo.svg')
  .wrapper.title-unit
    .minor.crumbtrail
      a(href='#') Learn Bootstrap
      |  > 
      a(href='#') Bootstrap Tools
    h1 The CSS Grid Layout Vs CSS Frameworks Debate
    .minor.credit By Maria Antonietta Perna, May 17, 2018 