#tool-container
  nav#toolstrip
    .container
      .toolbar
        .grid-12
          .col-3_md-3_sm-4
            a.toolbarLink.viewchapters(src='#')
              svg.svg-icon
                use(fill='#fff', href='#my-chevron')
              | Table of Contents
          .col-3_md-3_sm-4
            a#bookmarks.toolbarLink(src='#')
              svg.svg-icon
                use(fill='#fff', href='#my-chevron')
              | My Bookmarks

          .col-3_md-3_sm-hidden 
            //a.toolbarLink.search-control(href='#',  onclick="return false")
              svg.svg-icon
                use(fill='#fff', href='#my-search')
              | Search

            // temp button for testing only.
            a#test.toolbarLink(href='#',  onclick="return false") 
              | test 
          .col-3_md-3_sm-hidden
            #offlinemode.toolbarLink
              .pretty.p-switch.p-fill
                input(type='checkbox')
                .state.p-success
                  label Make available offline
                .tooltip-dialog
                  .screen.screen-1
                    b Downloading to your offline Library...
                    .tooltip-loader
                      .tooltip-progress
                  .screen.screen-2
                    .button-library
                      svg.svg-icon
                        use(fill='#fff', href='#my-library')
                    b Download complete
                    br
                    p.small
                      | Access this book in your library


  #toc-anchor
    .container
      .toc-container
        i#closetoc
        ol.toc(start='0')
          li.toc-chapter.accordion-item.preface
            a#preface(title='Preface')
              span.l-w-100 Preface
          li.toc-chapter.accordion-item.chapter
            a#chapter-1(title='Why I Love Bootstrap, and Why You Should Too')
              span.l-w-100 Why I Love Bootstrap, and Why You Should Too
            a.bookmark-icon-stack-wrapper.undefined
              i.bookmark-icon.far.far.fa-bookmark
          li.toc-chapter.accordion-item.chapter.current-chapter
            a#chapter-2(title="Understanding Bootstrap: How it Works, and What's New")
              span.l-w-100 Understanding Bootstrap: How it Works, and What&apos;s New
            a.bookmark-icon-stack-wrapper.undefined
              i.bookmark-icon.far.far.fa-bookmark
          li.toc-chapter.accordion-item.chapter
            a#chapter-3(title='Super Smart New Features to Win You Over')
              span.l-w-100 Super Smart New Features to Win You Over
            a.bookmark-icon-stack-wrapper.undefined
              i.bookmark-icon.far.far.fa-bookmark
          li.toc-chapter.accordion-item.chapter
            a#chapter-4(title='Understanding Bootstrap Modals')
              span.l-w-100 Understanding Bootstrap Modals
            a.bookmark-icon-stack-wrapper.undefined
              i.bookmark-icon.far.far.fa-bookmark
          li.toc-chapter.accordion-item.chapter
            a#chapter-5(title='UA Deep Dive into the Bootstrap Form Component')
              span.l-w-100 UA Deep Dive into the Bootstrap Form Component
            a.bookmark-icon-stack-wrapper.undefined
              i.bookmark-icon.toc-bookmarked.fas.far.fa-bookmark
          li.toc-chapter.accordion-item.chapter
            a#chapter-6(title='The Card Component: A Complete Introduction')
              span.l-w-100 The Card Component: A Complete Introduction
            a.bookmark-icon-stack-wrapper.undefined
              i.bookmark-icon.far.far.fa-bookmark
          li.toc-chapter.accordion-item.chapter
            a#chapter-7(title='How to Build a Responsive Type Scale with Bootstrap')
              span.l-w-100 How to Build a Responsive Type Scale with Bootstrap
            a.bookmark-icon-stack-wrapper.undefined
              i.bookmark-icon.far.far.fa-bookmark
          li.toc-chapter.accordion-item.chapter
            a#chapter-8(title="A Beginner's Guide to the Latest Bootstrap Utility Classes")
              span.l-w-100 A Beginner&apos;s Guide to the Latest Bootstrap Utility Classes
            a.bookmark-icon-stack-wrapper.undefined
              i.bookmark-icon.far.far.fa-bookmark
          li.toc-chapter.accordion-item.chapter
            a#chapter-9(title='3 Tips for Speeding Up Your Bootstrap Website')
              span.l-w-100 3 Tips for Speeding Up Your Bootstrap Website
            a.bookmark-icon-stack-wrapper.undefined
              i.bookmark-icon.far.far.fa-bookmark
          li.toc-chapter.accordion-item.chapter
            a#chapter-10(title='Customizing Bootstrap jQuery Plugins')
              span.l-w-100 Customizing Bootstrap jQuery Plugins
            a.bookmark-icon-stack-wrapper.undefined
              i.bookmark-icon.far.far.fa-bookmark
          li.toc-chapter.accordion-item.chapter
            a#chapter-11(title='8 Tips for Improving Bootstrap Accessibility')
              span.l-w-100 8 Tips for Improving Bootstrap Accessibility
            a.bookmark-icon-stack-wrapper.undefined
              i.bookmark-icon.far.far.fa-bookmark
          li.toc-chapter.accordion-item.chapter
            a#chapter-12(title='Front-end Frameworks: Custom vs Ready-to-use Solutions')
              span.l-w-100 Front-end Frameworks: Custom vs Ready-to-use Solutions
            a.bookmark-icon-stack-wrapper.undefined
              i.bookmark-icon.far.far.fa-bookmark

  include search-books.pug