- var title = "Your First Week With Bootstrap";
- var bookauthor = "Maria Antonietta Perna";
- var chapternumber = "0";
- var productmanager = "Simon Mackie";
- var englisheditor = "Ralph Mason";
- var technicaleditor = "Franco Ponticelli & Andrzej Mazur";
- var projecteditor = "Maria Antonietta Perna";
- var coverdesigner = "Alex Walker";
- var isbnprint = '978-0-9941826-1-6 (print)';
- var isbnweb ='978-0-9953826-9-5 (ebook)';
- var year = new Date().getFullYear();
- var dedication =  `For Kim Castledine (1948 - 2016). Thanks for everything, Dad.`; 