section.why
  .container
    .grid
        .col-12.align-c
            h2 Why choose SitePoint?
            p SitePoint gives you everything you need to build your tech knowledge across any subject
    .grid-3_sm-1 
        .col 
            img(src='images/SVG/library.svg')
            h4 Explore a Huge Library
            p Get access to over 600 books, courses, and videos
        .col 
            img(src='images/SVG/fresh.svg')
            h4 Get Fresh Content Weekly
            p We are constantly adding new titles on a range of tech topics
        .col 
            img(src='images/SVG/community.svg')
            h4 Join a Vibrant Community
            p Join 100,000 other developers to discuss all things web development