pattern#pattern-0(viewBox='0 0 10 10', patternUnits='userSpaceOnUse', preserveAspectRatio='none', width='100', height='100')
  circle(cx='5.2', cy='5.4', style='fill:rgba(0,0,0,.5)', r='2.1')
pattern#pattern-0-1(patternTransform='matrix(0.3, 0, 0, 0.3, 28.7, 29.64)', href='#pattern-0')
pattern#pattern-1(viewBox='0 0 88 88', patternUnits='userSpaceOnUse', preserveAspectRatio='none', width='100', height='100')
  use(width='90', height='90', transform='matrix(0.975, 0, 0, 0.975, -515.2, -130.3)', x='528.7', y='133.7', href='#symbol-0')
pattern#pattern-1-0(patternTransform='matrix(0.94, 0, 0, 0.91, 32.25, 0.5)', href='#pattern-1')
pattern#pattern-2(viewBox='0 0 150 150', patternUnits='userSpaceOnUse', preserveAspectRatio='none', width='100', height='100')
  g(transform='matrix(1, 0, 0, 1, 0, 0.3)')
    rect(width='150', height='150', style='fill:url(#pattern-0-1)', x='0')
    rect(x='0', y='0', width='150', height='150', style='fill:url(#pattern-1-0)')
pattern#pattern-2-0(patternTransform='matrix(0.02, 0, 0, 0.025, 35, 35)', href='#pattern-2')
pattern#pattern-paper(patternUnits='userSpaceOnUse', width='100', height='100')
  image(href='../images/paper.jpg', x='0', y='0', width='100', height='100')