title
  | ruby
path(d='M13.101 3H2.9L0 6.77 8 14l8-7.23L13.101 3zm-2.054 4.044l-3.046 5.843-3.02-5.843h6.066zm-5.785-.622L8 3.75l2.738 2.67H5.262zm3.508-2.8h3.704l-1.046 2.594L8.77 3.622zM4.612 6.176l-.873-2.554H7.23L4.612 6.176zm-.345.868l2.652 5.13-5.678-5.13h3.026zm7.496 0h2.996l-5.665 5.119 2.669-5.12zm.268-.622l.999-2.479 1.905 2.479H12.03zM3.113 3.757l.91 2.665H1.066l2.048-2.665z')
