title
  | php
path(fill-rule='evenodd', d='M5.557 10.142L6.77 4h1.44l-.302 1.592h1.365c1.213.076 1.668.683 1.516 1.441l-.53 3.11H8.741l.53-2.807c.076-.379.076-.606-.454-.606H7.68l-.682 3.412H5.557zM0 11.735l1.213-6.143H4.02c1.213.076 1.82.683 1.82 1.745 0 1.82-1.44 2.881-2.73 2.805H1.744l-.303 1.593H0zm2.047-2.73l.38-2.275h.985c.531 0 .91.227.91.682-.076 1.29-.682 1.517-1.365 1.593h-.91zm9.327-3.413l-1.213 6.143h1.44l.304-1.593h1.365c1.29.076 2.73-.986 2.73-2.805 0-1.062-.607-1.669-1.82-1.745h-2.806zm1.214 1.138l-.38 2.275h.91c.683-.076 1.29-.304 1.365-1.593 0-.455-.379-.682-.91-.682h-.985z')
