symbol#icon-accommodate(viewBox='0 0 32 32')
  title
    | accommodate
  path(d='M8 28v-15l8-9 8 9v15h-16z')
symbol#icon-add(viewBox='0 0 32 32')
  title
    | add
  path(d='M24 18h-6v6h-4v-6h-6v-4h6v-6h4v6h6v4z')
symbol#icon-adjust(viewBox='0 0 32 32')
  title
    | adjust
  path(d='M26 8v4h-4v4h-4v-4h-12v-4h12v-4h4v4h4zM14 16h-4v4h-4v4h4v4h4v-4h12v-4h-12v-4z')
symbol#icon-alarm(viewBox='0 0 32 32')
  title
    | alarm
  path(d='M26 20v4h-8v4h-4v-4h-8v-4h4v-12h4v-4h4v4h4v12h4z')
symbol#icon-alert(viewBox='0 0 32 32')
  title
    | alert
  path(d='M18 4v16h-4v-16h4zM14 28h4v-4h-4v4z')
symbol#icon-anchor(viewBox='0 0 32 32')
  title
    | anchor
  path(d='M28 17l-12 12-12-12 2.8-2.8 7.2 7.2v-10.4h-4v-4h4v-4h4v4h4v4h-4v10.3l7.2-7.2 2.8 2.9z')
symbol#icon-arrest(viewBox='0 0 32 32')
  title
    | arrest
  path(d='M26 4v24h-4v-24h4zM14 28h4v-24h-4v24zM6 28h4v-24h-4v24z')
symbol#icon-ascend(viewBox='0 0 32 32')
  title
    | ascend
  path(d='M28 4v24h-24v-4h4v-4h4v-4h4v-4h4v-4h4v-4h4z')
symbol#icon-ask(viewBox='0 0 32 32')
  title
    | ask
  path(d='M10 24h4v4h-4v-4zM10 4v4h8v4h-8v8h4v-4h8v-12h-12z')
symbol#icon-attract(viewBox='0 0 32 32')
  title
    | attract
  path(d='M18 24v-4h-8v-8h8v-4h-12v16h12zM26 12h-4v-4h4v4zM26 24h-4v-4h4v4z')
symbol#icon-bake(viewBox='0 0 32 32')
  title
    | bake
  path(d='M8 24h16v4h-16v-4zM8 4v16h16v-16h-16z')
symbol#icon-barbecue(viewBox='0 0 32 32')
  title
    | barbecue
  path(d='M29 7v3h-3v4h-4v14h-4v-14h-4v14h-4v-14h-4v-4h-3v-3h3v-3h20v3h3z')
symbol#icon-believe(viewBox='0 0 32 32')
  title
    | believe
  path(d='M20 4v16h-16v-16h16zM20 20v4h4v-4h-4zM24 24v4h4v-4h-4z')
symbol#icon-bite(viewBox='0 0 32 32')
  title
    | bite
  path(d='M24 18l4 4v4h-24v-4l4-4 4 4 4-4 4 4 4-4zM4 6v4l4 4 4-4 4 4 4-4 4 4 4-4v-4h-24z')
symbol#icon-blaze(viewBox='0 0 32 32')
  title
    | blaze
  path(d='M16 16h4v12h-12v-12h4v-4h4v4zM20 4v12h4v-12h-4z')
symbol#icon-bloom(viewBox='0 0 32 32')
  title
    | bloom
  path(d='M26 20v4h-8v4h-4v-4h-8v-4h8v-4h-4v-8h4v-4h4v4h4v8h-4v4h8z')
symbol#icon-blow(viewBox='0 0 32 32')
  title
    | blow
  path(d='M22 10v-8h-8v4h-8v8h4v8h4v8h4v-12h8v-8h-4zM18 14h-4v-4h4v4z')
symbol#icon-bookmark(viewBox='0 0 32 32')
  title
    | bookmark
  path(d='M24 4v24l-8-8-8 8v-24h16z')
symbol#icon-broadcast(viewBox='0 0 32 32')
  title
    | broadcast
  path(d='M6 12h4v8h-4v-8zM22 4v24h4v-24h-4zM14 24h4v-16h-4v16z')
symbol#icon-build(viewBox='0 0 32 32')
  title
    | build
  path(d='M28 12v16h-24v-12h4v-12h8v16h4v-4h4v-4h4z')
symbol#icon-caffeinate(viewBox='0 0 32 32')
  title
    | caffeinate
  path(d='M27 8v4h-4v16h-16v-20h20z')
symbol#icon-calculate(viewBox='0 0 32 32')
  title
    | calculate
  path(d='M6 16h4v4h-4v-4zM6 28h4v-4h-4v4zM14 28h4v-4h-4v4zM6 4v8h20v-8h-20zM22 20h4v-4h-4v4zM22 28h4v-4h-4v4zM14 20h4v-4h-4v4z')
symbol#icon-call(viewBox='0 0 32 32')
  title
    | call
  path(d='M28 22l-6 6-18-18 6-6 6 6-3 3 6 6 3-3 6 6z')
symbol#icon-camp(viewBox='0 0 32 32')
  title
    | camp
  path(d='M27.3 18l-5.7 5.7-5.6-5.7-5.7 5.7-5.6-5.7 11.3-11.3 11.3 11.3z')
symbol#icon-capture(viewBox='0 0 32 32')
  title
    | capture
  path(d='M4 2v28h24v-28h-24zM24 22h-16v-16h16v16z')
symbol#icon-celebrate(viewBox='0 0 32 32')
  title
    | celebrate
  path(d='M18 8h-4v-4h4v4zM24 22v-4h-6v-6h-4v6h-6v4h-4v6h24v-6h-4z')
symbol#icon-charge(viewBox='0 0 32 32')
  title
    | charge
  path(d='M4 8h12v16h-12v-16zM24 12v-4h-4v16h4v-4h4v-8h-4z')
symbol#icon-chop(viewBox='0 0 32 32')
  title
    | chop
  path(d='M28 10v12h-4v-12h4zM4 22h8v-12h-8v12zM16 22h4v-12h-4v12z')
symbol#icon-clamber(viewBox='0 0 32 32')
  title
    | clamber
  path(d='M20 28h4v-24h-4v4h-8v-4h-4v24h4v-4h8v4zM12 20v-8h8v8h-8z')
symbol#icon-climb(viewBox='0 0 32 32')
  title
    | climb
  path(d='M28.728 16.586l-2.828 2.828-5.657-5.657-2.828 2.828 2.828 2.828-2.828 2.828-5.657-5.657-5.657 5.657-2.828-2.828 8.485-8.485 2.828 2.828 5.657-5.656 8.485 8.486z')
symbol#icon-close(viewBox='0 0 32 32')
  title
    | close
  path(d='M8 20h16v4h-4v4h-8v-4h-4v-4zM20 8v-4h-8v4h-4v4h16v-4h-4z')
symbol#icon-code(viewBox='0 0 32 32')
  title
    | code
  path(d='M12 24h4v4h-12v-4h4v-4h4v4zM28 24v-4h-4v4h4zM4 16v4h4v-4h-4zM20 28h4v-4h-4v4zM24 12v4h4v-12h-4v4h-4v4h4zM20 16v-4h-4v-4h4v-4h-12v4h-4v4h4v4h4v4h4v4h4v-4h4v-4h-4z')
symbol#icon-collect(viewBox='0 0 32 32')
  title
    | collect
  path(d='M24 12v-8h-16v8.060l-4-0.005v15.945h24v-16h-4zM20 12h-8v-4h8v4z')
symbol#icon-condemn(viewBox='0 0 32 32')
  title
    | condemn
  path(d='M26 4v8h-4v-4h-8v16h4v4h-12v-4h4v-20h16z')
symbol#icon-connect(viewBox='0 0 32 32')
  title
    | connect
  path(d='M12 26v-4h8v4h-8zM4 10h24v-4h-24v4zM24 18v-4h-16v4h16z')
symbol#icon-cook(viewBox='0 0 32 32')
  title
    | cook
  path(d='M28 12v4h-4v12h-16v-12h-4v-4h4v-4h16v4h4z')
symbol#icon-copy(viewBox='0 0 32 32')
  title
    | copy
  path(d='M4 12h16v16h-16v-16zM12 4v4h12v12h4v-16h-16z')
symbol#icon-create(viewBox='0 0 32 32')
  title
    | create
  path(d='M22 4l4 4v20h-20v-24h16z')
symbol#icon-crop(viewBox='0 0 32 32')
  title
    | crop
  path(d='M20 8h-4v-4h4v4zM28 16v-4h-4v4h4zM28 24v-4h-4v4h4zM8 4v4h4v-4h-4zM20 16h4v4h-4v8h-16v-16h8v-4h4v4h4v4zM16 16h-8v8h8v-8zM28 4h-4v4h4v-4zM20 8v4h4v-4h-4z')
symbol#icon-cry(viewBox='0 0 32 32')
  title
    | cry
  path(d='M27 19l-5 5h-12l-5-5 11-11 11 11z')
symbol#icon-cut(viewBox='0 0 32 32')
  title
    | cut
  path(d='M15.172 16l8.485 8.485-2.828 2.828-8.485-8.485-2.828 2.828-2.828-2.828 2.827-2.828-2.828-2.828 2.828-2.828 2.828 2.828 8.485-8.485 2.828 2.828-8.484 8.485z')
symbol#icon-dazzle(viewBox='0 0 32 32')
  title
    | dazzle
  path(d='M27 13l-11 11-11-11 5-5h12l5 5z')
symbol#icon-decorate(viewBox='0 0 32 32')
  title
    | decorate
  path(d='M8 10l-4-4h8l-4 4zM24 26l4-4h-8l4 4zM20 6h-8l4 4 4-4zM28 6h-8l4 4 4-4zM16 26l4-4h-8l4 4zM8 18l4-4h-8l4 4zM16 18l4-4h-8l4 4zM24 18l4-4h-8l4 4zM8 26l4-4h-8l4 4z')
symbol#icon-defend(viewBox='0 0 32 32')
  title
    | defend
  path(d='M24 4v16l-8 8-8-8v-16h16z')
symbol#icon-develop(viewBox='0 0 32 32')
  title
    | develop
  path(d='M30 16l-8.485 8.485-2.828-2.828 5.656-5.657-5.657-5.657 2.828-2.828 8.486 8.485zM2 16l8.485-8.485 2.828 2.828-5.656 5.657 5.657 5.657-2.828 2.828-8.486-8.485z')
symbol#icon-die(viewBox='0 0 32 32')
  title
    | die
  path(d='M26 8v4h-8v16h-4v-16h-8v-4h8v-4h4v4h8z')
symbol#icon-dig(viewBox='0 0 32 32')
  title
    | dig
  path(d='M11.7 20.2l2.8-2.8-10.5-10.6 2.8-2.8 10.6 10.6 2.8-2.8 7.8 7.8v8.5h-8.4l-7.9-7.9z')
symbol#icon-divide(viewBox='0 0 32 32')
  title
    | divide
  path(d='M23 11.686l-11.314 11.314-2.828-2.828 11.314-11.314 2.828 2.828z')
symbol#icon-download(viewBox='0 0 32 32')
  title
    | download
  path(d='M16.001 19.314l-8.485-8.485 2.828-2.829 5.657 5.657 5.657-5.657 2.828 2.828-8.485 8.486zM8 28h16v-4h-16v4z')
symbol#icon-dream(viewBox='0 0 32 32')
  title
    | dream
  path(d='M28 8v20h-24v-20l4-4 4 4v4h8v-4l4-4 4 4z')
symbol#icon-drill(viewBox='0 0 32 32')
  title
    | drill
  path(d='M28 10v4h-4v4h-12v8h-4v-8h-4v-12h20v4h4z')
symbol#icon-drink(viewBox='0 0 32 32')
  title
    | drink
  path(d='M18 24h4v4h-12v-4h4v-10.529l-6.471-6.471 2.828-2.828 5.657 5.657 5.657-5.657 2.829 2.828-6.5 6.5v10.5z')
symbol#icon-drive(viewBox='0 0 32 32')
  title
    | drive
  path(d='M24 12v-8h-16v8h-4v12h4v4h4v-4h8v4h4v-4h4v-12h-4zM12 20h-4v-4h4v4zM12 12v-4h8v4h-8zM24 20h-4v-4h4v4z')
symbol#icon-drown(viewBox='0 0 32 32')
  title
    | drown
  path(d='M22 17l6 6-3 3-3-3-3 3-3-3-3 3-3-3-3 3-3-3 6-6 3 3 3-3 3 3 3-3zM10 11l3 3 3-3 3 3 3-3 3 3 3-3-6-6-3 3-3-3-3 3-3-3-6 6 3 3 3-3z')
symbol#icon-eat(viewBox='0 0 32 32')
  title
    | eat
  path(d='M28 4v12h-4v12h-4v-24h8zM12 8h-4v-4h-4v8h4v16h4v-16h4v-8h-4v4z')
symbol#icon-enlarge(viewBox='0 0 32 32')
  title
    | enlarge
  path(d='M6 4h8v8h-2v8h2v8h-8v-8h2v-8h-2v-8zM26 12v-8h-8v8h2v8h-2v8h8v-8h-2v-8h2z')
symbol#icon-enter(viewBox='0 0 32 32')
  title
    | enter
  path(d='M23 4v8h-4v16h-8v-4h4v-4h-4v-4h4v-4h-4v-8h12z')
symbol#icon-equal(viewBox='0 0 32 32')
  title
    | equal
  path(d='M8 18h16v4h-16v-4zM8 10v4h16v-4h-16z')
symbol#icon-explode(viewBox='0 0 32 32')
  title
    | explode
  path(d='M22 8v4h-4v-4h-4v4h-4v-4h-4v-4h20v4h-4zM18 16v-4h-4v4h-4v-4h-4v16h20v-16h-4v4h-4z')
symbol#icon-explore(viewBox='0 0 32 32')
  title
    | explore
  path(d='M29 24v4h-12v-4h2v-6h-6v6h2v4h-12v-4h2v-16h2v-4h4v4h2v2h6v-2h2v-4h4v4h2v16h2z')
symbol#icon-fight(viewBox='0 0 32 32')
  title
    | fight
  path(d='M14.586 20.243l2.828 2.828-2.828 2.828-2.828-2.828-2.828 2.828-2.828-2.828 2.828-2.828-2.828-2.828 2.828-2.828 2.828 2.828 11.313-11.315 2.828 2.828-11.313 11.315z')
symbol#icon-film(viewBox='0 0 32 32')
  title
    | film
  path(d='M28 12v-4h-24v4h4v8h-4v4h24v-4h-4v-8h4zM20 20h-8v-8h8v8z')
symbol#icon-find(viewBox='0 0 32 32')
  title
    | find
  path(d='M28 4v24h-4v-8h-12v-4h12v-12h4zM8 12h12v-8h-4v4h-12v20h16v-4h-12v-12z')
symbol#icon-finish(viewBox='0 0 32 32')
  title
    | finish
  path(d='M22.142 14.686l-3.5 3.5 4.985 4.985-2.828 2.829-4.985-4.985-4.986 4.985-2.828-2.828 4.985-4.985-3.5-3.5-2.828 2.828-5.657-5.657 5.657-5.657 9.157 9.157 9.157-9.157 5.657 5.657-5.657 5.657-2.829-2.829z')
symbol#icon-fit(viewBox='0 0 32 32')
  title
    | fit
  path(d='M4 6h10v4h-4v4h4v4h-4v4h4v4h-10v-20zM22 6v4h-4v4h4v4h-4v4h4v4h6v-20h-6z')
symbol#icon-flag(viewBox='0 0 32 32')
  title
    | flag
  path(d='M26 4v12h-16v12h-4v-24h20z')
symbol#icon-forbid(viewBox='0 0 32 32')
  title
    | forbid
  path(d='M18.828 16l4.243 4.243-2.828 2.828-4.243-4.243-4.243 4.243-2.828-2.828 4.243-4.243-4.243-4.243 2.828-2.828 4.243 4.243 4.243-4.243 2.828 2.828-4.243 4.243z')
symbol#icon-forward(viewBox='0 0 32 32')
  title
    | forward
  path(d='M22.314 16l-8.485 8.485-2.829-2.828 5.657-5.657-5.657-5.657 2.828-2.828 8.486 8.485z')
symbol#icon-gamble(viewBox='0 0 32 32')
  title
    | gamble
  path(d='M6 6v20h20v-20h-20zM14 22h-4v-4h4v4zM22 14h-4v-4h4v4z')
symbol#icon-game(viewBox='0 0 32 32')
  title
    | game
  path(d='M28 12v12h-5l-4-4h-6l-4 4h-5v-12l4-4h3l2 2h7l2-2h2l4 4z')
symbol#icon-give(viewBox='0 0 32 32')
  title
    | give
  path(d='M26 12v16h-20v-16h20zM13 6l-3 3 3 3 3-3-3-3zM22 9l-3-3-3 3 3 3 3-3z')
symbol#icon-go(viewBox='0 0 32 32')
  title
    | go
  path(d='M27.728 16.024l-8.485 8.482-2.828-2.835 3.656-3.671h-14.071v-4h14.071l-3.657-3.644 2.828-2.816 8.486 8.484z')
symbol#icon-groom(viewBox='0 0 32 32')
  title
    | groom
  path(d='M10.343 10.343l5.657 5.657-5.657 5.657-5.657-5.657 5.657-5.657zM21.657 10.343l-5.657 5.657 5.657 5.657 5.657-5.657-5.657-5.657z')
symbol#icon-grow(viewBox='0 0 32 32')
  title
    | grow
  path(d='M26 16v4h-6v8h-8v-4h-6v-4h6v-4h-4v-4h4v-8h8v4h4v4h-4v4h6z')
symbol#icon-hack(viewBox='0 0 32 32')
  title
    | hack
  path(d='M30.3 12.5l-8.5 8.5-5.7-5.7-11.3 11.3-2.8-2.8 19.8-19.8 8.5 8.5z')
symbol#icon-hammer(viewBox='0 0 32 32')
  title
    | hammer
  path(d='M26.2 28.2l-14.9-14.9-5.6 5.7-2.8-2.8 4.2-4.2-2.8-2.9 5.7-5.7 2.8 2.8 4.2-4.2 2.8 2.8-5.7 5.7 14.9 14.8-2.8 2.9z')
symbol#icon-hang(viewBox='0 0 32 32')
  title
    | hang
  path(d='M10 5v22l6-6 6 6v-22h-12zM18 13h-4v-4h4v4z')
symbol#icon-harvest(viewBox='0 0 32 32')
  title
    | harvest
  path(d='M26 14v14h-4v-10h-4v10h-4v-10h-4v10h-4v-14h8v-10h4v10h8z')
symbol#icon-home(viewBox='0 0 32 32')
  title
    | home
  path(d='M28 4v24h-8v-8h-8v8h-8v-24h4v4h4v-4h8v4h4v-4h4z')
symbol#icon-hurt(viewBox='0 0 32 32')
  title
    | hurt
  path(d='M28 8v8h-8v12h-8v-4h-8v-8h4v4h4v-16h8v8h4v-4h4z')
symbol#icon-impregnate(viewBox='0 0 32 32')
  title
    | impregnate
  path(d='M18 22v-4h10v8h-24v-8h10v4h4zM28 14v-8h-24v8h10v4h4v-4h10z')
symbol#icon-join(viewBox='0 0 32 32')
  title
    | join
  path(d='M28 14h-4v8h-4v-8h-8v8h-4v-8h-4v-4h24v4z')
symbol#icon-keep(viewBox='0 0 32 32')
  title
    | keep
  path(d='M22 12v-8h-12v8.060l-4-0.005v15.945h20v-16h-4zM18 12h-4v-4h4v4z')
symbol#icon-kill(viewBox='0 0 32 32')
  title
    | kill
  path(d='M27 8v4h-4v8h-4v-4h-4v12h-6v-12h-4v-8h22z')
symbol#icon-kiss(viewBox='0 0 32 32')
  title
    | kiss
  path(d='M28 16l-6 6h-12l-6-6 6-6 6 5.994 6-5.994 6 6z')
symbol#icon-label(viewBox='0 0 32 32')
  title
    | label
  path(d='M29 3h-11.3l-14.9 14.8 11.3 11.3 14.9-14.8v-11.3zM20 12v-4h4v4h-4z')
symbol#icon-launch(viewBox='0 0 32 32')
  title
    | launch
  path(d='M24 24h-6v4h-4v-4h-6l4-4v-13l4-4 4 4v13l4 4z')
symbol#icon-lift(viewBox='0 0 32 32')
  title
    | lift
  path(d='M32 14v4h-4v4h-4v4h-4v-8h-8v8h-4v-4h-4v-4h-4v-4h4v-4h4v-4h4v8h8v-8h4v4h4v4h4z')
symbol#icon-link(viewBox='0 0 32 32')
  title
    | link
  path(d='M28 12v12h-12v-4h8v-4h-8v-4h12zM8 16v-4h8v-4h-12v12h12v-4h-8z')
symbol#icon-listen(viewBox='0 0 32 32')
  title
    | listen
  path(d='M22 10v6l-4 4v2l-4 4h-4v-8h4v-4h-4v-4l4-4h4l4 4z')
symbol#icon-load(viewBox='0 0 32 32')
  title
    | load
  path(d='M24.48 19.243l-8.485 8.485-8.485-8.485 2.83-2.828 3.66 3.656v-14.071h4v14.071l3.654-3.657 2.826 2.829z')
symbol#icon-locate(viewBox='0 0 32 32')
  title
    | locate
  path(d='M27.314 16l-11.314 11.314-11.314-11.314 11.314-11.314 11.314 11.314z')
symbol#icon-lock(viewBox='0 0 32 32')
  title
    | lock
  path(d='M16 20v-4h4v8h-16v-8h4v4h8zM12 8v8h4v-4h8v4h4v-8h-16z')
symbol#icon-love(viewBox='0 0 32 32')
  title
    | love
  path(d='M28 13l-12 12-12-12 6-6 6 6.173 6-6.173 6 6z')
symbol#icon-marry(viewBox='0 0 32 32')
  title
    | marry
  path(d='M28 14v4h-8v2h-8v-2h-8v-4h8v-4h8v4h8z')
symbol#icon-merge(viewBox='0 0 32 32')
  title
    | merge
  path(d='M19.828 7.515l-2.828 2.828 3.657 3.657h-6.657v-10h-10v4h6v16h-6v4h10v-10h6.657l-3.657 3.657 2.828 2.828 8.486-8.485-8.486-8.485z')
symbol#icon-narrow(viewBox='0 0 32 32')
  title
    | narrow
  path(d='M28 6l-10 10v10h-4v-10l-10-10h24z')
symbol#icon-navigate(viewBox='0 0 32 32')
  title
    | navigate
  path(d='M27.314 16l-3.314 3.314v4.686h-4.686l-3.314 3.314-3.314-3.314h-4.686v-4.686l-3.314-3.314 3.314-3.314v-4.686h4.686l3.314-3.314 3.314 3.314h4.686v4.686l3.314 3.314z')
symbol#icon-open(viewBox='0 0 32 32')
  title
    | open
  path(d='M28 5v4h-8l-3 3 3 3-3 3 3 3-6 6-3-3 3-3-3-3 3-3-3-3 3-3h-10v-4h24z')
symbol#icon-pause(viewBox='0 0 32 32')
  title
    | pause
  path(d='M10 8h4v16h-4v-16zM18 8v16h4v-16h-4z')
symbol#icon-pay(viewBox='0 0 32 32')
  title
    | pay
  path(d='M4 7v18h24v-18h-24zM24 21h-16v-4h16v4z')
symbol#icon-perform(viewBox='0 0 32 32')
  title
    | perform
  path(d='M10 14h4v11h-4v-11zM18 25h4v-11h-4v11zM2.083 6l-0.083 19h4v-15h20.083l-0.083 15h4v-19h-27.917z')
symbol#icon-photograph(viewBox='0 0 32 32')
  title
    | photograph
  path(d='M24 10v-4h-4v4h-16v16h24v-16h-4zM24 18h-4v-4h4v4z')
symbol#icon-pin(viewBox='0 0 32 32')
  title
    | pin
  path(d='M24 13v7h-6v8h-4v-8h-6v-7h4v-5h-2v-4h12v4h-2v5h4z')
symbol#icon-ping(viewBox='0 0 32 32')
  title
    | ping
  path(d='M26 12v16h-4v-16h4zM6 20h4v-16h-4v16zM16 20h4v-4h-4v4z')
symbol#icon-plug(viewBox='0 0 32 32')
  title
    | plug
  path(d='M22 11v-8h-12v8h-2v14h6v4h4v-4h6v-14h-2zM18 11h-4v-4h4v4z')
symbol#icon-point(viewBox='0 0 32 32')
  title
    | point
  path(d='M16 4.686l-11.314 11.314 11.314 11.314 11.314-11.314-11.314-11.314zM10.343 16l5.657-5.657 5.657 5.657-5.657 5.657-5.657-5.657z')
symbol#icon-power(viewBox='0 0 32 32')
  title
    | power
  path(d='M26 23h-6v5h-8v-5h-6v-12h4v-8h4v8h4v-8h4v8h4v12z')
symbol#icon-prank(viewBox='0 0 32 32')
  title
    | prank
  path(d='M22 4v4h-12v-4h-4v24h20v-24h-4zM14 16h-4v-4h4v4zM22 16h-4v-4h4v4z')
symbol#icon-press(viewBox='0 0 32 32')
  title
    | press
  path(d='M4 8v16h24v-16h-24zM16 20h-8v-8h8v8z')
symbol#icon-primp(viewBox='0 0 32 32')
  title
    | primp
  path(d='M27.314 18.828l-8.485 8.485-14.143-14.141 8.485-8.485 2.829 2.828-2.828 2.828 2.828 2.829 2.828-2.828 2.828 2.828-2.828 2.828 2.828 2.828 2.829-2.828 2.829 2.828z')
symbol#icon-print(viewBox='0 0 32 32')
  title
    | print
  path(d='M24 20h-16v-16h16v16zM4 24v4h24v-4h-24z')
symbol#icon-produce(viewBox='0 0 32 32')
  title
    | produce
  path(d='M28 12v16h-8v-8h-8v8h-8v-24h4v4h4v4h16z')
symbol#icon-protect(viewBox='0 0 32 32')
  title
    | protect
  path(d='M28 15l-2.5 2.5-2.5-2.5-2.5 2.5-2.5-2.5v14h-4v-14l-2.5 2.5-2.5-2.5-2.5 2.5-2.5-2.5 12-12 12 12z')
symbol#icon-push(viewBox='0 0 32 32')
  title
    | push
  path(d='M18 12v6h4v10h-12v-10h4v-6h-2v-2h-4v-4h4v-2h8v2h4v4h-4v2h-2z')
symbol#icon-race(viewBox='0 0 32 32')
  title
    | race
  path(d='M8 24h4v4h-4v-4z')
  path(d='M4 4h24v4h-24v-4z')
  path(d='M24 24h4v4h-4v-4z')
  path(d='M4 20h4v4h-4v-4z')
  path(d='M16 24h4v4h-4v-4z')
  path(d='M12 20h4v4h-4v-4z')
  path(d='M4 12h24v4h-24v-4z')
  path(d='M20 20h4v4h-4v-4z')
symbol#icon-rain(viewBox='0 0 32 32')
  title
    | rain
  path(d='M14 14h4v4h-4v-4zM6 26h4v-4h-4v4zM22 18h4v-4h-4v4zM14 26h4v-4h-4v4zM6 10h4v-4h-4v4zM14 10h4v-4h-4v4zM22 6v4h4v-4h-4zM22 26h4v-4h-4v4zM6 18h4v-4h-4v4z')
symbol#icon-record(viewBox='0 0 32 32')
  title
    | record
  path(d='M24 8v16h-16v-16h16z')
symbol#icon-redo(viewBox='0 0 32 32')
  title
    | redo
  path(d='M28 24v4h-24v-20h10.071l-3.657-3.654 2.828-2.826 8.485 8.485-8.485 8.484-2.828-2.83 3.657-3.659h-6.071v12h20z')
symbol#icon-reflect(viewBox='0 0 32 32')
  title
    | reflect
  path(d='M8 4v16h6v8h4v-8h6v-16h-16zM20 16h-8v-8h8v8z')
symbol#icon-reply(viewBox='0 0 32 32')
  title
    | reply
  path(d='M26 18h-14.066l3.657 3.653-2.828 2.825-8.485-8.485 8.485-8.484 2.828 2.83-3.657 3.661h14.066v4z')
symbol#icon-report(viewBox='0 0 32 32')
  title
    | report
  path(d='M6 11h4v17h-4v-17zM22 16v12h4v-12h-4zM14 28h4v-24h-4v24z')
symbol#icon-resize(viewBox='0 0 32 32')
  title
    | resize
  path(d='M28 12v-8h-8v2h-8v-2h-8v8h2v8h-2v8h8v-2h8v2h8v-8h-2v-8h2zM22 20h-2v2h-8v-2h-2v-8h2v-2h8v2h2v8z')
symbol#icon-rewind(viewBox='0 0 32 32')
  title
    | rewind
  path(d='M15.343 16l5.657 5.657-2.828 2.828-8.486-8.485 8.485-8.485 2.829 2.828-5.657 5.657z')
symbol#icon-rule(viewBox='0 0 32 32')
  title
    | rule
  path(d='M26 16v12h-20v-12h4v4h4v-4h4v4h4v-4h4z')
symbol#icon-save(viewBox='0 0 32 32')
  title
    | save
  path(d='M30.48 13.243l-8.485 8.485-8.484-8.485 2.83-2.828 3.659 3.656v-6.071h-12v20h-4v-24h20v10.071l3.654-3.657 2.826 2.829z')
symbol#icon-saw(viewBox='0 0 32 32')
  title
    | saw
  path(d='M14 10l2.5 2.5-15.5 15.5 2 2h4v-4h4v-4h4v-4h4v-3l3 3 8-8-8-8-8 8zM22 13l-3-3 3-3 3 3-3 3z')
symbol#icon-scare(viewBox='0 0 32 32')
  title
    | scare
  path(d='M6 8v20h20v-20h-20zM14 16h-4v-4h4v4zM22 16h-4v-4h4v4z')
symbol#icon-schedule(viewBox='0 0 32 32')
  title
    | schedule
  path(d='M24 8v-4h-4v4h-8v-4h-4v4h-4v20h24v-20h-4zM20 24h-4v-8h-4v-4h8v12z')
symbol#icon-search(viewBox='0 0 32 32')
  title
    | search
  path(d='M21.343 18.556l4.243-4.243-11.314-11.313-11.314 11.314 11.314 11.314 4.243-4.243 5.657 5.657 2.828-2.829-5.657-5.657zM14.272 19.971l-5.657-5.657 5.657-5.657 5.657 5.657-5.657 5.657z')
symbol#icon-send(viewBox='0 0 32 32')
  title
    | send
  path(d='M2 6v20h28v-20h-28zM26 14h-4v4h-4v4h-4v-4h-4v-4h-4v-4h4v4h4v4h4v-4h4v-4h4v4z')
symbol#icon-shine(viewBox='0 0 32 32')
  title
    | shine
  path(d='M22 10v4h4v4h-4v4h-4v4h-4v-4h-4v-4h-4v-4h4v-4h4v-4h4v4h4zM26 26v-4h-4v4h4zM26 6h-4v4h4v-4zM6 6v4h4v-4h-4zM6 26h4v-4h-4v4z')
symbol#icon-sit(viewBox='0 0 32 32')
  title
    | sit
  path(d='M24 18v10h-4v-4h-8v4h-4v-24h4v14h12z')
symbol#icon-sleep(viewBox='0 0 32 32')
  title
    | sleep
  path(d='M28 9v14h-4v-4h-16v4h-4v-10h20v-4h4z')
symbol#icon-smell(viewBox='0 0 32 32')
  title
    | smell
  path(d='M24 8v4h4v4l-12 12-12-12v-4h4v-4h-4v-4h24v4h-4z')
symbol#icon-smoke(viewBox='0 0 32 32')
  title
    | smoke
  path(d='M24 16h-8v-4h4v-4h4v8zM4 20v4h24v-4h-24z')
symbol#icon-solve(viewBox='0 0 32 32')
  title
    | solve
  path(d='M28 12v4h-4v6h-6v4h-4v-4h-6v-6h-4v-4h4v-6h6v4h4v-4h6v6h4z')
symbol#icon-sound(viewBox='0 0 32 32')
  title
    | sound
  path(d='M26 17l-3 3-3-3-3 3-3-3-3 3-6-6 3-3 3 3 3-3 3 3 3-3 6 6z')
symbol#icon-spin(viewBox='0 0 32 32')
  title
    | spin
  path(d='M24 22h-6v6h-4v-6h-6v-12h6v-6h4v6h6v12z')
symbol#icon-spook(viewBox='0 0 32 32')
  title
    | spook
  path(d='M16 7l-12 12 6 6 3-3 3 3 3-3 3 3 6-6-12-12zM16 19l-3-3 3-3 3 3-3 3z')
symbol#icon-stack(viewBox='0 0 32 32')
  title
    | stack
  path(d='M6 14h20v4h-20v-4zM6 26h20v-4h-20v4zM6 6v4h20v-4h-20z')
symbol#icon-stamp(viewBox='0 0 32 32')
  title
    | stamp
  path(d='M27 16l-3 3 3 3-5 5-3-3-3 3-3-3-3 3-5-5 3-3-3-3 3-3-3-3 5-5 3 3 3-3 3 3 3-3 5 5-3 3 3 3z')
symbol#icon-steam(viewBox='0 0 32 32')
  title
    | steam
  path(d='M20 14l-3 3 3 3-6 6-3-3 3-3-3-3 3-3-3-3 6-6 3 3-3 3 3 3z')
symbol#icon-stop(viewBox='0 0 32 32')
  title
    | stop
  path(d='M10 2v28h12v-28h-12zM18 26h-4v-4h4v4zM18 18h-4v-4h4v4zM18 10h-4v-4h4v4z')
symbol#icon-store(viewBox='0 0 32 32')
  title
    | store
  path(d='M16 5l-12 12v11h24v-11l-12-12zM24 24h-16v-4h16v4z')
symbol#icon-strike(viewBox='0 0 32 32')
  title
    | strike
  path(d='M21 6h-10l-5 5v11l4 4h12l4-4v-11l-5-5zM14 16h-4v-4h4v4zM18 20h-4v-4h4v4zM22 16h-4v-4h4v4z')
symbol#icon-subtract(viewBox='0 0 32 32')
  title
    | subtract
  path(d='M24 14v4h-16v-4h16z')
symbol#icon-swim(viewBox='0 0 32 32')
  title
    | swim
  path(d='M18 5l-6 6-4-4-5 5 4 4-4 4 5 5 4-4 6 6 11-11-11-11zM17 16l3-3 3 3-3 3-3-3z')
symbol#icon-tag(viewBox='0 0 32 32')
  title
    | tag
  path(d='M26 14v-4h-4v-4h-4v4h-4v-4h-4v4h-4v4h4v4h-4v4h4v4h4v-4h4v4h4v-4h4v-4h-4v-4h4zM18 18h-4v-4h4v4z')
symbol#icon-target(viewBox='0 0 32 32')
  title
    | target
  path(d='M6 6v20h20v-20h-20zM22 22h-12v-12h12v12zM18 18h-4v-4h4v4z')
symbol#icon-time(viewBox='0 0 32 32')
  title
    | time
  path(d='M22 18h-8v-8h4v4h4v4zM30 2v28h-28v-28h28zM26 6h-20v20h20v-20z')
symbol#react-logo(viewBox='0 0 256 228')
  title
    | react
  path(fill='#00D8FF', d='M210.483 73.824c-2.655-.914-5.407-1.78-8.24-2.597.465-1.9.893-3.777 1.273-5.62 6.238-30.282 2.16-54.677-11.77-62.71-13.354-7.7-35.195.33-57.253 19.527-2.12 1.846-4.248 3.8-6.375 5.848-1.416-1.355-2.83-2.664-4.24-3.917C100.758 3.83 77.588-4.822 63.672 3.233 50.33 10.957 46.38 33.89 51.995 62.588c.542 2.772 1.176 5.603 1.892 8.48-3.28.932-6.445 1.924-9.474 2.98C17.31 83.498 0 98.308 0 113.668c0 15.865 18.582 31.778 46.812 41.427 2.227.762 4.54 1.482 6.92 2.165-.772 3.113-1.444 6.163-2.01 9.138-5.353 28.2-1.172 50.59 12.135 58.266 13.744 7.926 36.812-.22 59.273-19.855 1.776-1.56 3.557-3.2 5.342-4.93 2.314 2.23 4.623 4.33 6.92 6.31 21.758 18.72 43.246 26.28 56.54 18.58 13.73-7.95 18.194-32.01 12.4-61.27-.442-2.24-.957-4.52-1.535-6.85 1.62-.48 3.21-.97 4.76-1.486C236.905 145.46 256 129.74 256 113.664c0-15.417-17.868-30.326-45.517-39.844zm-6.365 70.984c-1.4.463-2.836.91-4.3 1.345-3.24-10.257-7.612-21.163-12.963-32.432 5.106-11 9.31-21.76 12.46-31.95 2.618.76 5.16 1.56 7.61 2.4 23.688 8.16 38.14 20.22 38.14 29.51 0 9.9-15.607 22.75-40.947 31.14zm-10.514 20.834c2.562 12.94 2.927 24.64 1.23 33.787-1.524 8.21-4.59 13.69-8.382 15.89-8.067 4.67-25.32-1.4-43.927-17.41-2.133-1.84-4.28-3.8-6.437-5.87 7.214-7.89 14.423-17.06 21.46-27.25 12.375-1.1 24.067-2.9 34.67-5.35.522 2.1.986 4.17 1.386 6.19zM87.276 214.515c-7.882 2.783-14.16 2.863-17.955.675-8.07-4.657-11.43-22.636-6.85-46.752.53-2.762 1.15-5.6 1.87-8.5 10.49 2.32 22.09 3.99 34.5 4.995 7.09 9.967 14.5 19.128 21.98 27.15-1.63 1.576-3.26 3.077-4.87 4.492-9.93 8.682-19.88 14.842-28.66 17.94zM50.35 144.747c-12.484-4.267-22.793-9.812-29.86-15.863-6.35-5.437-9.554-10.836-9.554-15.216 0-9.322 13.897-21.212 37.076-29.293 2.813-.98 5.757-1.905 8.812-2.773 3.204 10.42 7.406 21.315 12.477 32.332-5.13 11.18-9.39 22.25-12.63 32.792-2.18-.627-4.29-1.286-6.32-1.98zm12.377-84.26c-4.81-24.587-1.616-43.134 6.425-47.79 8.564-4.957 27.502 2.112 47.463 19.836 1.276 1.133 2.557 2.318 3.84 3.545-7.437 7.987-14.786 17.08-21.807 26.988-12.04 1.116-23.565 2.908-34.16 5.31-.667-2.68-1.257-5.314-1.76-7.888zm110.427 27.268c-2.533-4.375-5.134-8.647-7.785-12.803 8.16 1.033 15.99 2.404 23.34 4.08-2.21 7.072-4.96 14.465-8.2 22.045-2.33-4.41-4.78-8.854-7.37-13.322zm-45.032-43.86c5.044 5.464 10.096 11.565 15.065 18.185-5.007-.236-10.076-.36-15.187-.36-5.063 0-10.094.12-15.07.354 4.974-6.56 10.07-12.652 15.192-18.18zM82.802 87.83c-2.53 4.388-4.94 8.81-7.227 13.24-3.184-7.554-5.91-14.98-8.134-22.153 7.31-1.634 15.1-2.97 23.21-3.984-2.69 4.194-5.31 8.497-7.84 12.897zm8.08 65.353c-8.384-.936-16.29-2.203-23.592-3.793 2.26-7.3 5.045-14.885 8.298-22.6 2.29 4.426 4.71 8.848 7.257 13.246 2.594 4.48 5.28 8.868 8.038 13.147zm37.543 31.03c-5.184-5.592-10.354-11.78-15.403-18.433 4.902.192 9.9.29 14.978.29 5.218 0 10.376-.117 15.453-.343-4.985 6.774-10.018 12.97-15.028 18.486zm52.198-57.817c3.422 7.8 6.306 15.345 8.596 22.52-7.43 1.694-15.44 3.058-23.88 4.07 2.65-4.21 5.28-8.556 7.85-13.025 2.6-4.52 5.08-9.05 7.42-13.56zm-16.898 8.1c-4.002 6.94-8.11 13.563-12.28 19.816-7.598.543-15.446.823-23.445.823-7.967 0-15.716-.248-23.178-.732-4.34-6.335-8.537-12.978-12.513-19.846-3.97-6.85-7.62-13.758-10.93-20.627 3.3-6.884 6.94-13.8 10.89-20.637 3.95-6.854 8.11-13.465 12.41-19.76 7.61-.576 15.42-.876 23.31-.876 7.92 0 15.74.303 23.35.883 4.23 6.25 8.36 12.838 12.33 19.695 4.01 6.934 7.7 13.803 11.03 20.54-3.324 6.853-7 13.792-11 20.722zm22.56-122.123c8.572 4.944 11.906 24.88 6.52 51.026-.344 1.66-.73 3.36-1.15 5.08-10.622-2.45-22.155-4.28-34.23-5.41-7.034-10.02-14.323-19.13-21.64-27.01 1.967-1.9 3.93-3.7 5.888-5.4 18.9-16.45 36.564-22.94 44.612-18.3zM128 90.808c12.625 0 22.86 10.235 22.86 22.86s-10.235 22.86-22.86 22.86-22.86-10.235-22.86-22.86 10.235-22.86 22.86-22.86z')
symbol#icon-tower(viewBox='0 0 32 32')
  title
    | tower
  path(d='M28 4v24h-24v-6h12v-18h4v4h4v-4h4z')
symbol#icon-travel(viewBox='0 0 32 32')
  title
    | travel
  path(d='M28 4v15l-8 8-8-8-8 8v-15l8-8 8 8 8-8z')
symbol#icon-type(viewBox='0 0 32 32')
  title
    | type
  path(d='M4 4v24h24v-24h-24zM22 14h-4v8h-4v-8h-4v-4h12v4z')
symbol#icon-undo(viewBox='0 0 32 32')
  title
    | undo
  path(d='M28 8v20h-24v-4h20v-12h-6.071l3.657 3.66-2.828 2.83-8.485-8.484 8.485-8.485 2.828 2.826-3.657 3.653h10.071z')
symbol#icon-unlock(viewBox='0 0 32 32')
  title
    | unlock
  path(d='M16 20v-4h4v8h-16v-8h4v4h8zM12 8v8h4v-4h8v4h4v-8h-16z')
symbol#icon-upload(viewBox='0 0 32 32')
  title
    | upload
  path(d='M24 12h-16v-4h16v4zM16.001 16.52l-8.485 8.485 2.828 2.828 5.657-5.657 5.657 5.657 2.828-2.828-8.485-8.485z')
symbol#icon-urbanize(viewBox='0 0 32 32')
  title
    | urbanize
  path(d='M14 4v4h-8v20h20v-24h-12zM14 24h-4v-4h4v4zM14 16h-4v-4h4v4zM22 20h-4v-4h4v4zM22 12h-4v-4h4v4z')
symbol#icon-use(viewBox='0 0 32 32')
  title
    | use
  path(d='M22 21h-4v-4l4-4v-6l-4-4h-4l-4 4v6l4 4v4h-4l-4 4v7h20v-7z')
symbol#icon-wait(viewBox='0 0 32 32')
  title
    | wait
  path(d='M21 8v-4h-10v4h-5v16h5v4h10v-4h5v-16h-5zM22 20h-12v-8h12v8z')
symbol#icon-watch(viewBox='0 0 32 32')
  title
    | watch
  path(d='M4 4v20h8v4h8v-4h8v-20h-24zM24 20h-16v-12h16v12z')
symbol#icon-wear(viewBox='0 0 32 32')
  title
    | wear
  path(d='M26 7v4h-4v14h-12v-14h-4v-4h8v4h4v-4h8z')
symbol#icon-weld(viewBox='0 0 32 32')
  title
    | weld
  path(d='M21 8v-4h-10v4h-5v16h5v4h10v-4h5v-16h-5zM22 17h-12v-5h12v5z')
symbol#icon-win(viewBox='0 0 32 32')
  title
    | win
  path(d='M26 20v8h-20v-12h6v-4h8v8h6z')
symbol#icon-wonder(viewBox='0 0 32 32')
  title
    | wonder
  path(d='M26 24v4h-20v-4h4v-16h12v16h4z')
symbol#icon-write(viewBox='0 0 32 32')
  title
    | write
  path(d='M24.485 24.485l-4.243-1.414-14.141-14.142 2.828-2.829 14.142 14.142 1.414 4.243z')
symbol#symbol-0(viewBox='0 0 90 90')
  g
    rect(x='0.2', y='-0.1', width='90', height='90', style='fill:none')
    path(d='M 11.4 8.7 L 6.5 12.4 C 6.5 12.4 2.8 17.3 6 19.5 C 9.2 21.7 15.3 21.6 15.3 21.6 C 15.3 21.6 20.4 14.3 20.4 13.1 C 20.4 11.9 11.9 9 11.4 8.7 Z', style='fill:rgba(0,0,0,.5)')
    path(d='M 44.6 41.2 C 44.6 41.2 43.6 40 40.7 41.4 C 37.8 42.8 38.5 48.3 39.2 49.7 C 39.9 51.1 45.3 53.9 47.5 53.4 C 49.7 52.9 52.9 50.2 52.9 50.2 C 52.9 50.2 55.3 45.6 53.4 43.9 C 51.5 42.2 44.8 40.7 44.6 41.2 Z', style='fill:#000')
    path(d='M 76.3 9.4 L 73.9 7.5 C 73.9 7.5 70.5 8.2 69.8 12.9 C 69.1 17.6 67.3 21.9 75.9 21.4 C 84.5 20.9 84.2 19.5 83.7 15.1 C 83.2 10.7 76.6 9.7 76.3 9.4 Z', style='fill:rgba(0,0,0,.5)')
    path(d='M 16.9 39.2 L 9.8 39.3 C 9.8 39.3 5.6 42.1 4.8 47.1 C 4.1 52.1 4.4 53 13.4 52.5 C 22.5 52 18.7 50.5 18.2 45.8 C 17.7 41 17.2 39.5 16.9 39.2 Z', style='fill:rgba(0,0,0,.5)')
