title
  | bitbucket
path(d='M9.094 7.712c0 .597-.49 1.08-1.094 1.08a1.087 1.087 0 01-1.094-1.08c0-.597.49-1.081 1.094-1.081.604 0 1.094.484 1.094 1.08z')
path(fill-rule='evenodd', d='M15 2.306c0 .06-.007.12-.02.178l.02.002-1.436 7.394c-1.288.962-3.286 1.58-5.528 1.58-2.3 0-4.341-.65-5.625-1.655l-1.357-7.21A.81.81 0 011 2.306C1 1.033 4.134 0 8 0s7 1.033 7 2.306zm-2.406-.252c0 .577-2.073 1.045-4.63 1.045-2.558 0-4.63-.468-4.63-1.045S5.405 1.01 7.963 1.01c2.557 0 4.63.468 4.63 1.045zM8 9.874c1.208 0 2.188-.968 2.188-2.162S9.207 5.55 8 5.55c-1.208 0-2.188.968-2.188 2.162S6.793 9.874 8 9.874z')
path(d='M2.657 11.115l.567 3.011C3.224 15.141 5.382 16 8 16s4.74-.859 4.74-1.874l.57-2.938c-1.289.874-3.174 1.425-5.274 1.425-2.157 0-4.088-.582-5.379-1.498z')
