doctype html
html(lang='en')
  head
   style. 
    svg{outline: 1px #eee solid; width: 3rem}
    body{font-family: sans-serif;}
    td{
     border-radius: 10px;
     padding-top: 1rem;
     font-family: sans-serif;
     text-align: center;
     width: 11%;
     margin: 2%;
     box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
    }

  body
    h1 Background Icon Browser
    table
      tbody(cellspacing="1rem")
        tr
          td
            svg#icon-bitbucket(viewBox='0 0 16 16')
             include _symbol-bitbucket
             h4 #icon-bitbucket
          td  
            svg#icon-ruby(viewBox='0 0 16 16')
             include _symbol-ruby
             h4 #icon-ruby
          td
            svg#icon-php(viewBox='0 0 16 16')
             include _symbol-php
             h4 #icon-php
          td  
            svg#icon-eye(viewBox='0 0 16 16')
             include _symbol-eye
             h4 #icon-eye
          td
            svg#icon-css3(viewBox='0 0 16 16')
             include _symbol-css3
             h4 #icon-css3
          td  
            svg#icon-html5(viewBox='0 0 16 16')
             include _symbol-html5
             h4 #icon-html5 
        tr
          td
            svg#icon-stats-bar(viewBox='0 0 16 16')
             include _symbol-stats-bar
             h4 #icon-stats-bar
          td  
            svg#icon-sphere(viewBox='0 0 16 16')
             include _symbol-sphere
             h4 #icon-sphere
          td
            svg#icon-rocket(viewBox='0 0 16 16')
             include _symbol-rocket
             h4 #icon-rocket
          td  
            svg#icon-bug(viewBox='0 0 16 16')
             include _symbol-bug
             h4 #icon-bug
          td
            svg#icon-magic-wand(viewBox='0 0 16 16')
             include _symbol-magic-wand
             h4 #icon-magic-wand
          td  
            svg#icon-wrench(viewBox='0 0 16 16')
             include _symbol-wrench
             h4 #icon-wrench 
        tr
          td
            svg#icon-key2(viewBox='0 0 16 16')
             include _symbol-key2
             h4 #icon-key2
          td  
            svg#icon-search(viewBox='0 0 16 16')
             include _symbol-search
             h4 #icon-search
          td
            svg#icon-binoculars(viewBox='0 0 16 16')
             include _symbol-binoculars
             h4 #icon-binoculars
          td  
            svg#icon-quotes-right(viewBox='0 0 16 16')
             include _symbol-quotes-right
             h4 #icon-quotes-right
          td
            svg#icon-bullhorn(viewBox='0 0 16 16')
             include _symbol-bullhorn
             h4 #icon-bullhorn
          td  
            svg#icon-quill(viewBox='0 0 16 16')
             include _symbol-quill
             h4 #icon-quill 
        tr
          td
            svg#icon-pen(viewBox='0 0 16 16')
             include _symbol-pen
             h4 #icon-pen
          td  
            svg#icon-mobile(viewBox='0 0 16 16')
             include _symbol-mobile
             h4 #icon-mobile
          td
            svg#icon-laptop(viewBox='0 0 16 16')
             include _symbol-laptop
             h4 #icon-laptop
          td  
            svg#icon-authors(viewBox='0 0 16 16')
             include _symbol-authors
             h4 #icon-authors
          td
            svg#icon-bullhorn(viewBox='0 0 16 16')
             //include _symbol-bullhorn
             //h4 #icon-bullhorn
          td  
            svg#icon-quill(viewBox='0 0 16 16')
             //include _symbol-quill
             //h4 #icon-quill 