section#templates.huge-module.anchor.clearfix
  h2.huge-module__title Templates
  ul.huge-list--unstyled.templates-group
    li
      img(src='assets/images/template01.svg', width='200', alt='Home')
      .template-name Home
