section#introduction.huge-module.anchor.clearfix
  h2.huge-module__title Introduction
  .feedback
    p.huge-module__paragraph
      | Hello! Welcome to the Styleguide, A tool to make
      | creating and maintaining styleguides easy.
    p.huge-module__paragraph
      | Please feel free to collaborate with the project 
      a(href='http://github.com/hugeinc/styleguide') on Github
      | . You can read the documentation 
      a(href='http://hugeinc.github.io/styleguide/') here
              | .