
section#colors.huge-module.anchor.clearfix
  h2.huge-module__title Colors
  p.huge-module__paragraph
    | Huge have two main colors: Magenta and Black. Additional Blue might be
    | found on slides or t-shirts.
  ul.huge-list--unstyled.list-colors
    li.small-12.medium-2.column
      .color.bg-magenta
        p .bg-magenta
    li.small-12.medium-2.column
      .color.bg-black
        p .bg-black
    li.small-12.medium-2.column
      .color.bg-grey
        p .bg-grey
    li.small-12.medium-2.column.end
      .color.bg-blue
        p .bg-blue