section#tables.huge-module.anchor.clearfix
  h2.huge-module__title Tables
  tfooter
  table.snippet
    thead
      tr
        th Offices
        th Job Openings in Technology
    tbody
      tr
        td Atlanta
        td 6
      tr
        td Brooklyn
        td 12
      tr  
        td London
        td 1
      tr
        td Rio de Janeiro
        td 3
      tr
        td San Francisco
        td 3
      tr
        td Singapore
        td 2
      tr
        td Washington DC
        td 2
    tbody
      tr