section#buttons.huge-module.anchor.clearfix
  h2.huge-module__title Buttons
  .grid-center
    .col-4
      button.unlock_button.large  Unlock the library
    .col-4
      button.unlock_button  Unlock the library
    .col-4
      button.unlock_button.small  Unlock the library
  .grid-center
    .col-4
      button.paypal_button.large
        img(src='../images/paypal-white.svg')
        | Checkout
    .col-4
      button.paypal_button
        img(src='../images/paypal-white.svg')
        | Checkout
    .col-4
      button.paypal_button.small
        img(src='../images/paypal-white.svg')
        | Checkout
  .grid-center
    .col-4
      button.cta.large
        | Visit The Library
    .col-4
      button.cta
        | Visit The Library
    .col-4
      button.cta.small
        | Visit The Library