section#panels.huge-module.anchor.clearfix
  h2.huge-module__title Panels
  p You'll see I've happily used padding on the top and bottom of the .panels below. 
  section.panel.grid-center
    .col-6.textcenter
      h3 Read books on frameworks, languages, tools and projects.    
      button.cta.large Visit The Library

  section.panel.grid-spaceAround
    .col-7.textcenter
      img(src='https://alexmwalker.github.io/landing/images/SVG/laptop-static.svg') 
    .col-4
      h3 It's time to move beyond the humble PDF!
      p SitePoint's 'Next-gen' Reader redefines how coding ebooks should work - features that will never exist in garden-variety PDFs and eBooks.
      .textcenter
        button.unlock_button.large  Unlock the library

  section.panel.grid-spaceAround.fawn
    .col-3.textcenter
      img.iconheader(src='https://d3qm4387qle9v6.cloudfront.net/svg_icons/linear-live.svg')
      h3 Live Code in your book
      p Yep. Write code as you work and learn - CodePen.io, CodeSandbox.io, JSFiddle.net and other dynamic code playgrounds.
    .col-7
      img(src='https://alexmwalker.github.io/landing/images/sandbox.gif', style="width: 100%") 
      