section#lists.huge-module.anchor.clearfix
  h2.huge-module__title Lists
  h5.huge-module__title--small Unordered
  ul.snippet.list_huge
    li Item 1
    li Item 2
    li Item 3
  h5.huge-module__title--small Ordered
  ol.snippet.list_huge
    li Item 1
    li Item 2
    li Item 3