section#introduction.huge-module.anchor.clearfix
  h1 Introduction
  :markdown-it(linkify langPrefix='language-')
  
    The core of our site layout revolves around major points:

    1. We set a `font-size` and `line-height` on our HTML element (or `:root{}`) in pixels. This gives us our base body text settings and the only time we use pixels.
    2. Media queries let us scale-up this base body-text/line-height as screens get bigger.
    3. Using this line-height and a CSS gradient, we can create a lined grid that perfectly fits and contains our base text. We can set a CSS variable (i.e `var(--baseline);`) to make it easy to re-use this line-height measurement.  
    4. From then on, ALL vertical dimensions (e.g. margin-top, margin-bottom, padding-top, padding-bottom, line-height, height, etc) are set using this CSS variable as our 'unit of measure'.  Forget pixels, REMs, and EMs.
    5. For instance, a simple bottom margin is set as `margin-bottom: var(--baseline);`. 
    6. A half-height margin is set using a CSS calc like this: `margin-top: calc(var(--baseline) / 2);`. 
    7. A container panel requiring extra padding might use multiples of our --baseline like this: `padding-top: calc(var(--baseline) * 3)`.   
    8. Often it's even worth setting the heights of IMGs or SVG logos in --baseline (and letting the width set itself), as it guarantees the IMG will fit into the grid.

