.catalog-Menu
    //header.sg-header
        //h1 SitePoint library 
        img(id='logo' src='https://www.gitcdn.xyz/repo/alexmwalker/038d08ab767b9fa0ae765b00d7f41622/raw/cae0ad85c9b3af1d9e6f849c75da729b8f3f4fde/sp-logo.svg')
        h4 Styleguide &amp; Component Library
    ul
        li 
            div
                a(href='/styleguide/sg.html') Introduction
                    ul 
                        li 
                            a(href='/styleguide/sg-grid.html') Basics of our Vertical grid
        li 
            div
                a(href='/sg-1-headers.html') Typography
                    ul 
                        li 
                            a(href='/styleguide/sg-typography.html') How headings are scaled
                        li 
                            a(href='/styleguide/sg-typography.html#headings') Headings
                        li 
                            a(href='/styleguide/sg-typography.html#bodytext') Body text
                        li 
                            a(href='/styleguide/sg-typography.html#smalltext') Small text
        li 
            div
                a(href='/styleguide/sg-buttons.html') Buttons
                    ul 
                        li 
                            a(href='/styleguide/sg.html') Main CTAs



      
