.article-title-unit {
  background: #1C94C6 url(../../images/art3.svg#bitbucket) 20% 50% no-repeat;
  //background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewbox='0 0 200 200' width='200px' height='200px' fill='none'%3E%3Cdefs%3E%3Cfilter id='organic' width='200%25' height='200%25' x='-50%25' y='-50%25' filterUnits='objectBoundingBox'%3E%3CfeTurbulence baseFrequency='2.5' numOctaves='4' result='turb' seed='200'/%3E%3CfeDisplacementMap in='SourceGraphic' in2='turb' scale='15' xChannelSelector='A' yChannelSelector='B'/%3E%3C/filter%3E%3Csymbol id='icon-mail' viewBox='0 0 200 200'%3E%3Cpath d='M196 73.011c-3.198 3.563-6.821 6.694-10.658 9.392-17.8 12.2-35.706 24.506-53.08 37.245-8.953 6.693-20.038 14.897-31.655 14.897h-.214c-11.617 0-22.702-8.204-31.655-14.897-17.374-12.847-35.28-25.046-52.973-37.245-3.944-2.699-7.567-5.83-10.765-9.392v85.716C5 168.227 12.674 176 22.054 176h156.892c9.38 0 17.054-7.773 17.054-17.273V73.011zm0-31.738c0-9.5-7.781-17.273-17.054-17.273H22.054C10.649 24 5 33.068 5 43.648c0 9.824 10.765 22.023 18.333 27.204 16.52 11.66 33.254 23.319 49.775 35.086 6.928 4.857 18.652 14.789 27.285 14.789h.214c8.633 0 20.357-9.932 27.285-14.789 16.521-11.767 33.255-23.427 49.882-35.086C187.153 64.267 196 53.364 196 41.272z'/%3E%3C/symbol%3E%3C/defs%3E%3Cstyle%3E%0Apath%7Bfill:%2339a7dd%7D%0A%3C/style%3E%3Cuse href='%23icon-mail' /%3E%3Cuse href='%23icon-mail' style='transform-origin: 50%25 50%25;transform:scale(.98)' /%3E%3Cuse fill='none' stroke='rgba(60,25,160,.7)' stroke-width='4' filter='url(%23organic)' href='%23icon-mail' transform='translate(-3 -3)'/%3E%3C/svg%3E");
  background-size: 120% auto;
  padding: 0;
}

.share {
  clear: both;
  line-height: calc(var(--baseline) *1.5);

  a {
    color: #fff
  }

  /* color the icon currentColor*/
}

.titlebox {
  //background: rgba(0,0,0,0.2);
  color: #eee;
}

.article-title-section {
  //background: url(../../images/art.svg?r=2) center center;
  //background: url(https://raw.githubusercontent.com/alexmwalker/Complete-Cover-Archive/master/misc/svg-mock.png?r=2) center center;
  //background-image: url('../../images/art3.svg#html5');
  //background: #345;

  background: rgba(0, 0, 0, 0.4);
  background-size: 100% auto;
  padding: 0;
  min-height: calc(var(--baseline) * 8);

  h1 {
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
    padding-left: 1rem;
  }
}

.booklist {
  margin: 0 1rem calc(var(--baseline) /2) 0rem;
  padding: calc(var(--baseline) /2) 1rem;

  ul {
    padding: 0;
    list-style: none;
  }

  li {
    width: 100%;
    clear: both;
  }

  .cover {
    height: calc(var(--baseline) * 2.5);
    float: left;
    margin: 0 .5rem calc(var(--baseline) /2) 0;
    -webkit-box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    box-shadow: 0.1rem 0.1rem 0.25rem rgba(0, 0, 0, 0.2);
  }
}