.article-body-section {
  padding-top: calc(var(--baseline) * 2);
  p:first-child{
    font-size: calc(var(--typescale) * 1rem);
    line-height: calc(var(--baseline) * 1);
    margin-top: 0;
    margin-bottom: calc(var(--baseline) /1);
    font-weight: 300;
  }
}
.author-profile{
  width: 300px;

  border-left: 1px #999 solid;
  h4, h5{
    margin: 0 0 calc(var(--baseline) /2) 1rem;
    
  }
  p{
    font-size: calc(1rem / var(--typescale) / var(--typescale));
    line-height: calc(var(--baseline) / 2);
    margin: 0 0 calc(var(--baseline) /1) 1rem;
  }
}
.avatar{
  width: calc(var(--baseline) * 2);
  border: 1px #999 solid;
  border-radius: 50%;
  margin: 0 1rem calc(var(--baseline) /2) 1rem;
  float: left;
}
