.article-title-unit {
  background: #333;

}

.article-title-section {
  background: url(../../images/art.svg?r=1) center center;
  background-size: 100% auto;
  color: #eee;
  padding: calc(var(--baseline) /4) 0;
  min-height: calc(var(--baseline) * 8);
  h1 {
    background: rgba(0,0,0,0.4);
  }
}

