.authors{
  padding: calc(var(--baseline)*3) 0 calc(var(--baseline)*1);
  h2{
    margin-bottom: calc(var(--baseline)*2);
  }
  .col{
    text-align: center;
    img{
      border-radius: 50%;
      width: 50%;
      margin-bottom: calc(var(--baseline)*1);
    }
  }
} 

.feedback{
  position: fixed;
  width: 150px;
  background: yellow;
  font-size: 12px;
  color:#000;
  z-index: 999;
  top: 0;
  right: 1;
}