button { /* button defaults */
    font-size: 1rem;
    margin: calc(var(--baseline)*1) 0 calc(var(--baseline)*1);
    line-height: calc(var(--baseline));
    padding-left: 2rem;
    padding-right: 2rem;
    position: relative;
    &.large{
        font-size: calc(1rem * var(--typescale));
        line-height: calc(var(--baseline) * 1.5);
        height: calc(var(--baseline)* 1.5);
    }
}
.pink {
    //height: calc(var(--baseline));
    background: #FA3292;
    color: #eee;
    border-radius: 4px;
    border: 0 none;
    -webkit-box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
    box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
    
}


.search-type { /* (active) */
    height: calc(var(--baseline));
    background: #fff;
    color: #0F56B3;
    border-radius: 12px;
    font-size: calc(1rem / var(--typescale));
    border: 1px solid #5096F1;
    padding: 0 1rem;
    text-indent: 1rem;
    &:before{
        display: block;
        position: absolute;
        content: '';
        width: calc(var(--baseline) / 2);
        height: calc(var(--baseline) / 2);
        outline: 1px red dashed;
        top: calc(var(--baseline) / 4);
        left: .65rem;
    }
    &.inactive{
        background: #fff;
        color: #616161; 
        border: 1px solid #E0E0E0;
    }
}
.tick-switch{
    width: 2rem;
    height: 2rem;
    background-size: 900% auto;
    background-position: top left;
    background-image: url("data:image/svg+xml,%3Csvg width='671' height='75' viewBox='0 0 671 75' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M670.5 0H0v74.6h670.5V0z' fill='%23fff'/%3E%3Cpath d='M61.4 55.7L42.3 36.5l19.1-19.1a5.5 5.5 0 000-7.7 5.4 5.4 0 00-7.6 0L34.6 28.9 15.5 9.7a5.4 5.4 0 00-7.7 7.7L27 36.5 7.8 55.7a5.4 5.4 0 007.7 7.7l19.1-19.2 19.2 19.2c4.9 5 12.7-2.8 7.6-7.7z' fill='%23C4C4C4'/%3E%3Cpath d='M136.3 9.7c-6.2-7.5-22.1 16.7-26.5 19l-19-14.5c-3.9-3.8-12 2.6-8 7.1l9 9c5.9 7.7 7.3 4 .9 11.9 0 0-11.2 13.1-10.6 13.8-3.5 5.1 3.1 12 8 7.6 1.8-1.5 15.5-15.5 18.1-18.1.4-.4 17.7 15.9 18.2 15.4 4.5 4.1 11.6-3 7.5-7.6.5-.5-15.8-17.7-15.4-18.1L132.7 21c3-2.7 7.7-7.3 3.6-11.3z' fill='%23ADB6C2'/%3E%3Cpath d='M211.3 9.7C205 2.2 189.4 26.2 185 28.5l-18.7-9.9c-3.1-2.7-11.1 2.7-8.5 6.6l6.2 6.1c5.1 7.4 3.5 4-.2 11.3 0 0-8.7 12.3-7.3 13.7-2.4 7.9 6.1 11.6 10.8 5.1 20.3-19.1 8.8-17 31.7-3 4.3 3.3 10.6-3.2 7.4-7.4 1-1-12.4-16.4-11.6-17.2 4.1-5.7 23.2-18.3 16.5-24.1z' fill='%2397A9C0'/%3E%3Cpath d='M286.5 9.7c-6.2-7.5-21.7 16.3-26 18.6L242 23c-5-1.6-12 5-5.5 9.3 3.5 2.3 1.5 6.2-1.4 10.6-4.6 6.6-6.6 30.4 7 19 20.7-19.1 18.3-11 29.8-5.9 11.5 5 8.5-3.8 7.3-7.4-1.2-3.6-9.1-14.9-7.9-16.2 4.7-6.3 21.4-16.2 15.2-22.7z' fill='%23809BBE'/%3E%3Cpath d='M362 9.6c-6.1-7.4-21.4 16.2-25.7 18.5-7.7.1-25.4-3.4-27.1 5.3-.2 1.6 1.3 3.1-.3 4.2-4.5 4.8-6.9 30.3 5.9 26.5 18.2-13.3 6.4-17.6 30.3-10.6 13.9.7 3.6-16.5 3.1-22.4 5.2-6.9 19.5-14.4 13.8-21.5z' fill='%236A8DBC'/%3E%3Cpath d='M438.3 9.7c-6.1-7.4-21.2 16-25.5 18.2-6.6 2.2-19.1 2.3-24.3 7.5-1.7 1.8-2.3 2.6-3.4 1.5-3.2-3.3-3.1-4.5-4.6 1.1-.7 2.5-1.5 5.2-1.5 8 0 16.2 9.5 26.4 26.1 4.8 4.6-1.6 14 3.5 18.5-1.5 6.3-4.5.7-14.5 2.2-19.5 5.8-7.6 17.4-12.5 12.5-20.1z' fill='%23537FB9'/%3E%3Cpath d='M515.3 9.6c-6.1-7.3-21 15.8-25.2 18.1l-17.9 8.6c-1.7.7-6.5 4.4-7.6 6-1.1 1.6-3.5-1.6-3.1-1.3l-4.5-5.5c-2.6-3.3-5.8 6-4.9 8.6.7 2.1 8 23.6 15.4 20.4 3.2-1.4 7.4-6.7 13.3-12.4 2.5-2.4 8.6-.7 13-3.5 7.5-4.8 7.8-14.4 10.3-20.3 6.3-8 15.8-10.9 11.2-18.7z' fill='%233C72B7'/%3E%3Cpath d='M592.3 9.5c-6-7.3-20.7 15.7-24.9 17.9l-17.7 13.2c-1.5.7-6.2 5.3-7.4 6.6-1.2 1.3-1.8-1.2-3.1-2.6l-7.9-8.2c-4.1-4-9.4 4.8-6.1 8.1 2.7 2.7 14 25.8 21.1 19.1 15.2-17.9 24.9-12.3 36.2-36.7 6.7-8.5 14.2-9.5 9.8-17.4z' fill='%232664B5'/%3E%3Cpath d='M669.4 9.4a5.2 5.2 0 00-7.3 0l-21 21.4-21 21.4-14.5-14.8c-4.7-4.9-12.1 2.8-7.3 7.4l18.2 18.5a4.8 4.8 0 006.5.6c.6-.3 11.9-11.9 23.3-23.4 11.4-11.5 22.6-23.3 23.1-23.7a5.3 5.3 0 000-7.4z' fill='%230F56B3'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='670.9' height='74.6' fill='%23fff'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    transition: .15s steps(8);
    &:hover{
        background-position: top right;
    }
}