/* chapter 
:root {
--basebackground: #fff; // flipped in dark mode
--basefontcolor: #222;
}*/

#reeedr-body {
  background-color: var(--basebackground);
  color: var(--basefontcolor);
  margin-bottom: 0;
  margin-top: 0;
  padding: 0 0 calc(var(--baseline) * 2);
  width: 100%;
  transition: all .6s;

  a:link {
    border-bottom: 1px dotted;
  }
}

.frontmatters {
  padding-top: calc(var(--baseline) * 2);
}

.dedication {
  margin: calc(var(--baseline) * 2) 0;
}

#reeedr .ch-head {
  font-size: 9rem;
  color: #445266;
  line-height: 5.33333rem;
  vertical-align: middle;
  margin-top: 5.33333rem;
  font-weight: 600;
  font-family: 'Raleway', 'Roboto', sans-serif;
  position: relative;
  //top: 0rem;
  height: calc(var(--baseline) * 7);
  padding-top: calc(var(--baseline) * 2);
  left: 0;
  text-align: center;
  width: 100%;

  &:before {
    display: block;
    position: absolute;
    font-family: 'Raleway', 'Roboto', sans-serif;
    content: '';
    width: 2px;
    height: calc(var(--baseline) * 7);
    background: #445266;
    top: 0;
    left: 1rem;
  }
}

#reeedr .ch-head .chapter-head {
  font-size: 1.5625rem;
  position: absolute;
  top: calc(var(--baseline) * -1.0);
  font-family: Raleway, Roboto, sans-serif;
  color: #9ab;
  font-weight: 600;
  margin-top: 0rem;
  margin-left: 0;
  width: 100%;
  //right: 10%;
  text-align: center;

}

#reeedr .chapter .chapter-start {
  margin-top: 5.33333rem;
}

#reeedr h1.chaptertitle {
  color: #345;
  margin-bottom: calc(var(--baseline) / 2);
  text-align: right;
}

#reeedr p code,
#reeedr li code {
  padding: 0 3px;
  background: #F5F2F0;
}

#reeedr .author {
  color: #949494;
  width: 100%;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 0 2.66667rem 0;
}

.intro {
  font-size: calc(var(--typescale) * 1rem);
  line-height: calc(var(--baseline) * 1);
  font-weight: 400;
}

#reeedr .image-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

#reeedr img {
  max-width: 100%;
}

.chapter+p,
.preview>p:first-of-type {
  // lead-in paragraph for each chapter
  font-weight: 400;
  font-size: calc(1rem * var(--typescale));
  margin-top: calc(var(--baseline) * 2);
}


/* ====  SOCIAL PANEL  ==== */ 


$social-panel-width: 12vw;
$panel-reveal: all 0.3s;

.anchor{
  position: relative;
  .social-anchor{
    position: absolute; 
    right: -2rem;
    width: 1.5rem;
    
    img{
      width: 1.5rem;
      height: 1.5rem;
      border-radius:50%;
      border: 1px solid #99AABB;
    }
  }
  .anchor-body{
    position: absolute; 
    width: $social-panel-width - 2;
    right: 0;
    opacity: 0;
    transition: $panel-reveal;
    pointer-events: none;
    .small{
      line-height: calc(var(--baseline) / 2);
      //outline: 1px red dashed;
      color: #777;

    }
    .cite{
      display: block;
      //font-weight: 500;
      margin-top: calc(var(--baseline) / 2);
      a{
        color: #777;
        position: relative;
      }
    }
    .cite-logo{ // has icon leading the cite
      position: relative;
      text-indent: 1rem;
      &:before{
        background-image: url(https://cdn.statically.io/gh/alexmwalker/landing/fd8f436e/images/social-spcom.svg);
        // Default is SitePoint - override icon placed below
        display: block;
        position: absolute;
        content: '';
        width: 1rem;
        height: 1rem;
        top: 0rem;
        left: 0;
      }
    }
    .twitter:before{
      background-image: url(https://cdn.statically.io/gh/alexmwalker/landing/846cab25/images/social-tweet.svg);
    } 
    .spcom:before{
      background-image: url(https://cdn.statically.io/gh/alexmwalker/landing/fd8f436e/images/social-spcom.svg);
    }      
  }
}

.social-panel{
  padding-right: $social-panel-width; // creates gutter for social content to render in.
  transition: $panel-reveal;
}
.social-panel .anchor .anchor-body{ // show social-body
  right: -$social-panel-width - 2;  
  transition: $panel-reveal;
  opacity: 1;
  pointer-events: initial;
}

#reeedr-body .anchor a.social-anchor{
  border: 0 none;
}
#reeedr-body>.container{
  transition: $panel-reveal;
}