.community-landing{
  background: #333;
  background-image: 
    linear-gradient(180deg, rgba(0,0,55,0.25) 0%, rgba(0,0,55,0.65) 100%),
    url(../../images/working.jpg);
  background-size: auto 100%  ;
  background-position: center top;
  background-repeat:  no-repeat;
  h1, h2{
    margin-top: calc(var(--baseline)*2);
  }
  h1, h2, h4{
    color: #fff;
    margin-left: 1rem;
    text-shadow:  0 0 05px rgba(0,0,0,0.5),
                  0 0 10px rgba(0,0,0,0.5);
  }
  .community{
    padding: calc(var(--baseline)*2) 0;
    img{
      width: 94%;
    }
  }
}

