

@mixin box-icon {
  content: " ";
  height: calc(var(--baseline));
  width: calc(var(--baseline));
  display: block;
  font-family: Raleway, sans-serif;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  //top: -5pt;
  //left:-5pt;
}

/*  feature boxes  */

.box {
  background-color: #f5faff;
  margin: calc(var(--baseline)) 0 ;
  position: relative;
  z-index: 1;
  border: 0px #ebf2fa solid;
  border-width: 0 1px 1px 1px;
  border-radius: 25px;
  top: -1px;
}

.box h4 {
  background-color: #ebf2fa;
  padding: 0 0;
  margin: 0 0 calc(var(--baseline)/2) 0;
  line-height: calc(var(--baseline));
  border-radius: 25px;
  color: #345;
}

.box .body {
  font-size: calc(1rem / var(--typescale));
  padding: 0 2rem;
}
.box.codepen .body{
  padding: 0 2px calc(var(--baseline) / 2); /*  kill the padding for the codepen box */
}
.box .body p {
    margin: 0;
    padding: 0 0 calc(var(--baseline) / 2) 0;
    line-height: calc(var(--baseline) / 1);
    font-weight: 300;
}

.box.tip h4,
.box.codepen h4,
.box.note h4,
.box.github h4,
.box.attention h4,
.box.warning h4 {
    padding-left: 3rem;
}

.box.tip .body,
.box.note .body,
.box.github .body,
.box.attention .body,
.box.warning .body {
    //padding-left: 3rem;
}

.box.tip:before {
    background: url(../../images/SVG/box-tip.svg);
    @include box-icon;
}

.box.note:before {
    background: url(../../images/SVG/box-note.svg);
    @include box-icon;
}

.box.attention:before {
    background: url(../../images/SVG/box-attention.svg);
    @include box-icon;
}

.box.warning:before {
    background: url(../../images/SVG/box-warning.svg);
    @include box-icon;
}

.box.codepen:before {
    background: url(../../images/SVG/box-codepen.svg);
    @include box-icon;
}

.box.github:before {
  background: url(../../images/SVG/box-github.svg);
  @include box-icon;
}


/*   Image treatment */

.image-wrapper img{
  outline: 1px #eee dotted;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.05)
}



figure{
    margin: 0;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin-bottom: 1.5rem;
}

/* tables */
table {
    border-collapse: collapse;
    margin-top: 1em;
}

table caption {
    font-weight: bold;
    text-align: left;
    font-size: 12pt;
    padding-bottom: 5pt;
}

table tbody{
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

table thead{
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

th {
    background-color: color(backgrounds, table-header);
    padding: 0.3em;
    text-align: left;
}

td {
    padding: 0.3em;
    vertical-align: top;
}

.table-striped tr:nth-child(2n){
    background-color: color(backgrounds, table-row);
}

/* figures*/
img {
  max-width: 100%;
  //max-height: $page-height - 50pt;
}

.imagefig {
    text-align: center;

}

.imagefig img {
    display: block;
    max-width: 100%;
}

.imagefig figcaption {
    font-size: 8pt;
    margin-bottom: 1.5rem;
    line-height: 1.5rem;
    font-family: "Libre Franklin";
}

/* other images */

.image-inline {
    max-width: 100%;
}

.image-left {
    float: left;
    margin: 0 10pt 10pt 0;
}

.image-right {
    float:right;
    margin: 0 0 10pt 10pt;
}

.image-center {
    display: block;
    margin: 0 auto;
}

.image-left + p, .image-right + p {
    margin-top: 0;
}

.block{
    page-break-inside: avoid;
    page-break-after: always;
}

.breakbefore{
    page-break-before: always;
    break-before: always
}



/* blockquotes */
blockquote {
    background: #f0f2f5;
    margin: 0 0 1.5rem;
    padding: 1.5rem 2em;
    letter-spacing: 1px;
    border-left: 5px solid #c6c8dd;
    p {
        color: #505275;
        font-family: Georgia, Times, "Times New Roman", serif;
        font-style: italic;
        margin-bottom: 0;
        font-weight: 300;
    }
}
.chapter p code, .chapter li code{
    font-style: italic;
    background: #f5f2f0;
    font-size: 0.9rem;
    padding: 0 5px;
}
table {
    width:95%
}