.companies{
  color: #aaa;
  background: #2a2a2a;
  padding: (calc(var(--baseline)*1.5)) 0 ;
  .container{
    width: 90%;
  }
  h4{
    color: #ccc;
    margin-bottom: calc(var(--baseline)/1) ;
    text-align: center;
  }
  .col{
    text-align: center;
    min-height: calc(var(--baseline) * 2.0);
    color: #aaa;
    &:hover{
      color: #fff;
      }
    p{
    font-size: calc(1rem / var(--typescale) / var(--typescale));     
    position: relative;
    bottom: 0;
    }

  }
  .company-logo, .publisher-logo{
    height: calc(var(--baseline) * 1.5) ;
    margin: 0 auto;
  }
  .publisher-logo{
    width: 70% ;
  }
}

.tech{
  color: #aaa;
  background: #2a2a2a;
  padding: calc(var(--baseline) * 1.5) 0;
  .container{
    width: 90%;
    //outline: 1px red dashed;
  }
  h3{
    color: #ccc;
    margin-bottom: calc(var(--baseline)/1) ;
    text-align: center;
  }
  .col {
    //outline: 1px red dashed;
    text-align: center;

    img{ height: calc(var(--baseline) * 2.0);}
    a{ 
      min-height: calc(var(--baseline) * 1.0);
      color: #aaa;
      &:hover{color: #fff;}
    }
    p{
      font-size: calc(1rem / var(--typescale) / var(--typescale));     
      position: relative;
      bottom: 0;
      margin-bottom: 0;
    }
  }
}

