.account-creation{
    padding: calc(var(--baseline)*2) 0;
    
    .container{ 
        border-radius: 6px;
        box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
        padding-bottom: calc(var(--baseline)/1); 
        border: 2px solid transparent;
        border-image: linear-gradient(to right, #1e3591, #fdbb2d,#b21f1f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
        border-image-slice: 1;
    }
    h2{
        margin: calc(var(--baseline) * 1)  0 calc(var(--baseline)/2);    
        }
    button.pink{
        margin: calc(var(--baseline) / 1) 0;
        width: 100%;
        }
     .reasons{
        margin: calc(var(--baseline) * 1)  0 calc(var(--baseline)/2); 
     }
}
/* THE PRICE FLIPPER */ 
/* Needs `.monthly-account` added to .price-unit to trigger */ 

.main-price{
    text-align: right;
    line-height: calc(var(--baseline) * 2);
    display: flex;
    align-items: center;
    justify-content: center;
    .price-frame{
        display: flex;
        //outline: 1px red dashed;
        perspective: 600px;
        perspective-origin: center center;
        transform-style: preserve-3d;
        position: relative;
        font-size: calc(1rem * var(--typescale) * var(--typescale) * var(--typescale) * var(--typescale) * var(--typescale) * var(--typescale));
        line-height: calc(var(--baseline) * 2);
        width: 1.25em;
        bottom: calc(var(--baseline));
    }
    .price-annual, .price-monthly{
        position: absolute;
        font-weight: 700;
        //outline: 1px green dashed;
        margin: 0;
        padding: 0 0.5rem 0 0;
        transition: all .6s cubic-bezier(.32,.01,.48,1.44);
        }
    .price-annual{
        opacity: 1;
        transform: perspective(600px) rotate3d(0, 0, 0, 360deg);
        &:before{
            display: block;
            position: absolute;
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 455 455' xml:space='preserve'%3E%3Cg style='fill: orange'%3E%3Cg%3E%3Cpolygon points='227.5 150 133.7 200 45.5 150 84.3 330 370.7 330 409.5 150 321.2 200'/%3E%3C/g%3E%3Cg%3E%3Crect width='280' height='55' x='87.5' y='360'/%3E%3C/g%3E%3Cg%3E%3Ccircle cx='40' cy='80' r='40'/%3E%3C/g%3E%3Cg%3E%3Ccircle cx='415' cy='80' r='40'/%3E%3C/g%3E%3Cg%3E%3Ccircle cx='227.5' cy='80' r='40'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            width: 1rem;
            height: 1rem;
            //outline: 1px red dashed;
            top: -.75rem;
            left: 35%;
        }
    }
    .price-monthly{
        transform: perspective(600px) rotate3d(0, 1, 0, 360deg);
        opacity: 0;
    }
        
}
.monthly-account .main-price{ /* spinner animation */
    .price-annual{
        opacity: 0;
        transform: perspective(600px) rotate3d(0, 1, 0, -360deg);
    }
    .price-monthly{
        opacity: 1;
        transform: perspective(600px) rotate3d(0, 0, 0, -360deg);
    }

}


/* THE RADIO BUTTON SWITCHES */

.price-unit{
    margin: calc(var(--baseline) * 1) 0 calc(var(--baseline) / 2);
    .switcher-wrapper{
        //outline: 1px red dashed;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center; 
    }

    input{
        height: 1rem;
        margin: 0;
        //outline: 1px greenyellow dashed;
        width: 1rem;

        //appearance: none;
        &:checked + label{
            color: #333;
            
        }
    }
    label{
        color:#aaa;
        padding: 0 .5rem;
        transition: all .3s ease-out;
        //outline: 1px cyan dashed;
        line-height: calc(var(--baseline)*2);
    }
    .fnote{
        position: absolute;
        font-size: calc(1rem / var(--typescale) / var(--typescale) );
        bottom: calc(var(--baseline) / -2.5);    
        transition: color .6s;
    }
    
    input#radios2:checked ~ .fnote{
        color: rgba(0,0,0,0);

    }
}
