/* ===  HEADER === */
$easing: .4s cubic-bezier(.45, .45, .37, 1.36);
/* overflip pop ease */
$easing-menu: .4s cubic-bezier(0, .86, .15, 1);
$text-color: #fff;

.sitepoint-branding ul.nav {
  padding: 0;
  margin: 0;
  float: right;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  text-align: right;

  li {
    padding: 0 1rem;
    list-style-type: none;
    line-height: calc(var(--baseline)*2);
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    height: calc(var(--baseline)*2);

    a {
      color: #E5E5E5;
      padding: 0 1px;
      position: relative;

      &:after {
        /* The underscore nav marker */
        display: block;
        position: absolute;
        content: '';
        width: 0%;
        height: 2px;
        background: rgba(255, 255, 255, 0);
        transition: all .1s ease-out;
        border-radius: 2px;
        bottom: -0.4rem;
        right: 0;
      }

      &.youarehere:after {
        width: 100%;
        background: rgba(255, 255, 255, .3);
        transition: all .1s ease-out;
      }

      &:hover {
        color: #fff;
        font-weight: 500;
        padding: 0 0;

        &:after {
          width: 100%;
          background: rgba(255, 255, 255, .3);
          transition: all .1s ease-out;
        }
      }
    }
  }
}

.dark {
  background: #232023;
  color: #fff;
}

.sitepoint-branding {
  background: #232023;
  color: #ddd;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: calc(var(--baseline)*2);

  .hamburger {
    color: #fff;
  }

  .pink {
    margin-top: calc(var(--baseline)/2);
  }

}


.branding {
  height: calc(var(--baseline) * 2);
  margin: 0 0 0 1rem;

  .branding-logo {
    height: calc(var(--baseline));
    margin-top: calc(var(--baseline)/2);
  }
}



/* button */

button.pink {
  margin: calc(var(--baseline)*1) 0 calc(var(--baseline)*1);
}

.pink {
  height: calc(var(--baseline));
  background: #FA3292;
  color: #eee;
  border-radius: 4px;
  font-size: calc(1rem / var(--typescale));
  border: 0 none;
  padding: 0 1rem;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}




/*  CSS-only hamburger */

@mixin hiddenInput {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.hamburger {
  padding: 0;
  width: 100%;
  //position: relative;
  pointer-events: none;
  margin: 0;

  ul {
    padding: 0;
    margin: 0;
    border-bottom: 1rem solid #000;
  }

  li {
    list-style-type: none;
    line-height: calc(var(--baseline) * 3);
    pointer-events: auto;

    a:link,
    a:visited {
      color: $text-color;
      text-decoration: none;
      display: block;
      padding: 0rem 2rem;

      &:hover {
        background: #000;
      }
    }
  }

  &_input {
    pointer-events: auto;
    @include hiddenInput;

    &:checked {
      ~.hamburger_body {
        width: 100%;
        //outline: 1px red dashed;
        display: block;
        transition: width 0s;

        ul {
          transform: translateX(0%);
          transition: transform $easing-menu;
        }
      }
    }
  }

  &_label {
    display: block;
    font-weight: bold;
    font-size: inherit;
    cursor: pointer;
  }

  &_body {
    width: 0;
    overflow: hidden;
    left: 0;
    position: absolute;
    transition: width 0s linear 0.3s;

    ul {
      margin: 0;
      padding: 0;
      background: #161616;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
      transform: translateX(100%);
      transition: all $easing-menu;
    }

    li {
      list-style: none;
      //background: #111;
      line-height: calc(var(--baseline) * 1.5);
      font-size: calc(1rem * var(--typescale));
      padding: 0;

      a:link {
        color: #ccc;
      }

      a:hover,
      a:active {
        color: #fff;
        font-weight: 500;
      }
    }
  }
}

.hamburger_label {
  font-size: calc(1rem * var(--typescale));
  height: calc(var(--baseline)*2);
  width: 100%;
  pointer-events: auto;

  span {
    background: $text-color;
    border-radius: 0.5rem;
    display: block;
    float: right;
    height: 0.3rem;
    margin: 0 1.5rem 0 0.5rem;
    width: 2.5rem;
    transform-origin: 50% 50%;
    transform: translateY(1.6rem);
    transition: background-color $easing;

    &:before,
    &:after {
      background-color: $text-color;
      border-radius: inherit;
      display: inherit;
      position: absolute;
      content: '';
      width: inherit;
      height: inherit;
      top: 0;
      left: 0;
      transform-origin: 50% 50%;
      transform: translateY(.7rem); // rotate(45deg);
      transition: transform $easing;
    }

    &:before {
      transform: translateY(-.7rem); // rotate(45deg);
    }
  }
}

//switch hamburger to x animation
.hamburger {
  input:checked+.hamburger_label span {
    background: transparent;
    transition: background-color $easing;

    &:after {
      transform: translateY(0) rotate(-135deg);
      transition: transform $easing
    }

    &:before {
      transform: translateY(0) rotate(135deg);
      transition: transform $easing
    }
  }
}


.loggedout {
  display: none;
}

.membership {

  //outline: 1px red dashed;
  .loggedin {
    //outline: 1px yellow dashed;
    display: none;
  }

  .loggedout {
    display: block;
  }
}