/* ===  HEADER === */


.sitepoint-branding ul.nav{
  padding: 0; margin: 0;
  float: right;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  text-align: right;
 
  li{
    padding: 0 1rem;
    list-style-type: none;
    line-height: calc(var(--baseline)*2);
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    height: calc(var(--baseline)*2);
    a{
      color:#E5E5E5;
      padding: 0 1px;
      position: relative;
      &:after{ /* The underscore nav marker */
        display: block;
        position: absolute;
        content: '';
        width: 0%;
        height: 2px;
        background: rgba(255,255,255,0);
        transition: all .1s ease-out;
        border-radius: 2px;
        bottom: -0.4rem;
        right: 0;
      }
      &.youarehere:after{
        width: 100%;
        background: rgba(255,255,255,.3);
        transition: all .1s ease-out;
      }
      &:hover{
        color:#fff;
        font-weight: 500;
        padding: 0 0;
        &:after{
          width: 100%;
          background: rgba(255,255,255,.3);
          transition: all .1s ease-out;
        }
      }
    }
  }
}


.sitepoint-branding {
  background: #232023;
  color: #ddd;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  height: calc(var(--baseline)*2);
  input{
    border-radius: 5px;
    border: 3px #333 solid;
    line-height: calc(var(--baseline) * 1);
    background: #ddd;
    padding-left: 0.5rem;
    margin-left: 1rem;
    font-size: calc(1rem/var(--typescale));
    &::placeholder{color:#999; font-size: calc(1rem/var(--typescale));}
    &:focus{background: #eee;}
    } 
    .hamburger{
      color: #fff
    }
    .pink{
      margin-top: calc(var(--baseline)/2);
    }
}


.branding {
    height: calc(var(--baseline) * 2);
    margin: 0 0 0 1rem;
    .branding-logo {
      height: calc(var(--baseline));
      margin-top: calc(var(--baseline)/2);
    }
}

/* hamburger animation */
.hamburger {
    font: inherit;
    display: inline-block;
    overflow: visible;
    text-align: right;
    margin: calc(var(--baseline)/2) 0 0 0;
    padding: 15px 0;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .25s;
    transition-property: opacity;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;
}
.hamburger-box {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 1rem;
}
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    position: absolute;
    display: block;
    width: 2.5rem;
    height: .3rem;
    transition-timing-function: ease;
    transition-duration: .35s;
    transition-property: all;
    border-radius: 3px;
    background-color: #fff;
}
.hamburger-inner {
    top: 50%;
    margin-top: -2px;
    transform: translateX(-0.5rem);
}
.hamburger-inner:after, .hamburger-inner:before {
    content: "";
    transition: bottom .1s cubic-bezier(.55,.055,.675,.19) .35s,
      transform .45s cubic-bezier(.49,-0.32,.42,1.35);
}
.hamburger-inner:after {
  transform: translateY(10px);
}
.hamburger-inner:before {
  transform: translateY(-10px);
}


/* Hide mobile hamburger on size up */
.showmobile{
  display: none;
  text-align: right;
  padding-right: 0rem;

}
.open{
	.hamburger-inner:before{
		transform: rotate(-225deg) translate(7px, 7px);
	}
	.hamburger-inner:after{
		transform: rotate(225deg) translate(7px, -7px);
	} 
	.hamburger-inner{
    background-color: #232023;
    transition: all .45s cubic-bezier(.49,-0.32,.60,1.7);
    transform: translateX(0.5rem);
	} 
}
.open + .mobilenav{
  //transform: translateY(5.3rem) scaley(1);
  opacity: 1;
  display: block;
  transition: all .15s ease-out;
  transform: translateY(1.2rem) scaley(1);
}
.mobilenav{
  transition: all .15s ease-in;
  background: #232023;
  display: none;
  opacity: 0;
  width: 100%;
  margin-left: 0.5rem;
  padding-bottom: calc(var(--baseline) * 1.5);
  z-index: 2;
  transform: translateY(1.2rem) scaley(.2);
  transform-origin: top center;
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
  position: static; 
  ul{
    padding: 0;
    margin: 0;
    background: #232023;
    border-width: 1px 0 3px;
  }
  li{
    list-style: none;
    padding-left: 2.5rem;
    //text-align: right;
    font-size: calc(var(--typescale) * var(--typescale) * 1rem);
    line-height: calc(var(--baseline) * 1.5);
    &:nth-child(2n-1){
      background: #1a1a1a;
    }
    a{
    color: #eee;
      &:hover{ 
      font-weight: 500;
      }
    }
    label{
      width: 8rem;
      display: inline-block;
      float: none;
    }

  }
}
button.go{
  line-height: calc(var(--baseline) * 0.9);
  border-radius: 8px;
  background: #111;
  font-weight: 600;
  color: #ddd;
  border: 3px #888 solid
}
@media (max-width: 48em) {
  .showmobile{
    display: block;
  }
  header.sitepoint-branding {
    height: calc(var(--baseline)*3);
    .branding-logo {
      height: calc(var(--baseline)*1.5);
      margin-top: calc(var(--baseline)/1.5);
    }
  }
}


/* button */

button.pink {
  margin: calc(var(--baseline)*1) 0 calc(var(--baseline)*1);
}

.pink {
    height: calc(var(--baseline));
    background: #FA3292;
    color: #eee;
    border-radius: 4px;
    font-size: calc(1rem / var(--typescale));
    border: 0 none;
    padding: 0 1rem;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
.login{
  margin: 0;
  padding: 0;
}



.login-panel, .account-items ul{ 
  //display: none;
  opacity: 0;
  transition: all .25s cubic-bezier(0,.76,.47,1);
  transform-origin: top right;
  transform: translatex(0rem) scaley(.05) ;
  position: absolute;
  background: #232023;
  padding: calc(var(--baseline)/2) 1rem 0;
  border-radius: 6px;
  top: calc(var(--baseline)*1.9);
  right: -9rem;
  width: 20rem;
  z-index: 9;
    p{
      margin-bottom: calc(var(--baseline)/2);
    }
    button.go{
      position: relative;
      bottom: 2px;
    }
}
.login-panel.open, .account-items.open ul{
  display: block;
  transition: all .25s cubic-bezier(0,.76,.47,1);
  opacity: 1;
  transform: translatex(0rem) scaley(1);  
}
.sitepoint-branding .account-items ul{
  width: 12rem;  
  right: 0;
  padding: calc(var(--baseline)/2) 1rem calc(var(--baseline)/2);
  /*text-align: left;*/
  li{
    height: calc(var(--baseline)* 1.0);
    line-height: calc(var(--baseline)* 1.0);
  }
}
label{
  width: 5rem;
  display: block;
  float: left;
}


.search-nav{
  form {
    line-height: 3rem;
    margin: 0;
    padding: 0;
  }
}


/* temporary authentication control */
.logged-in, .logged-out{
  position: relative;
}

.logged-in{
  display: none;
}
.logged-out{
  display: block;
}    
.member{
  .logged-in{
    display: block;
  }
  .logged-out{
    display: none;
  }  
}
      


.logged-in{
  align-self: stretch;
  a{
    color:#E5E5E5;
    &:hover{
      color:#fff;
    }
    img{
      width: calc(var(--baseline)*1.2);
      margin: 0 0 calc(var(--baseline)/-2.25) 1rem;
      position: relative;
      z-index: 2;
    }
  }
}



/* Search */

.search-nav{
  position: relative;
  &:before{
    display: block;
    position: absolute;
    content: ' ';
    width: calc(var(--baseline)* 0.5);
    height: calc(var(--baseline)* 0.5);
    margin: calc(var(--baseline)* .75) 0 0 2.75rem;
    top: 0;
    left: -1rem;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 19 19'%3E%3Cpath fill='%23C4C4C4' fill-opacity='.6' d='M8.829 6.328a1 1 0 1 0 0-2 1 1 0 0 0 0 2z'/%3E%3Cpath fill='%23C4C4C4' fill-opacity='.6' fill-rule='evenodd' d='M11.95 2.05a7.002 7.002 0 0 1 .657 9.143l5.707 5.707-1.415 1.414-5.707-5.707A7.002 7.002 0 0 1 2.05 2.05a7 7 0 0 1 9.9 0zm-1.414 8.486a5 5 0 1 0-7.072-7.072 5 5 0 0 0 7.072 7.072z' clip-rule='evenodd'/%3E%3C/svg%3E");
  }
  input{
    background: #333;
    font-size: 1rem;
    margin: calc(var(--baseline)* .5) 0 0;
    font-weight: 400;
    border: 0 none;
    color: #eee;
    border-radius: 1rem;
    transition: all .4s ease-out;
    width: 6rem;
    padding-left: 2rem; /* protecting mag glasss */
    &:focus{
      width: 11rem;
      transition: all .4s ease-out;
      color: #333;
    }
    &::placeholder{
      color: #888;
      font-size: 1rem;
      font-weight: 300;
    }
  }
}