/* bookpanel */ 

#reeedr .bookpanel {
  background-color: #333;
  margin-bottom: 0;
  color: #fff;
  padding-top: calc(var(--baseline)*2);
  width: 100%;
  .thumbnail-book img{
    /* height: calc(var(--baseline)* 7.5); */
    margin: calc(var(--baseline)*1) 20% calc(var(--baseline)*1) 0;
    width: 100%;
  }
  h1{
    color: #fff;
    font-size: 1.95313rem;
    font-weight: 300;
  }
}
