/* While our default is to  try to scale everything relative to the  HTML{} there are elements 
that need device level targeting. This is where we do it. */
.showmobile, .mobilenav{
  display: none;
}


@media (max-width: 60em) { /* tablet adjustments */ 
  .bookcard .bookframe {
    height: 24vw;
  }
  .container{
    width: 97%;
    margin: 0 1%
  }
  
}


@media (max-width: 48em) { /* phone adjustments */ 
  [class~="grid"] > [class*="col-12"], [class*="grid-"] > [class*="col-12"], [class*="grid_"] > [class*="col-12"] {
    -ms-flex-preferred-size: 98%;
    flex-basis: 98%;
  }

  

  #reeedr .ch-head {
    //font-size: 13rem;
    padding: calc(var(--baseline)*1) 0 0 0;
  }

  .landing-parent .laptop {
    margin: calc(var(--baseline)/2) calc(var(--baseline)*1) calc(var(--baseline)*1) calc(var(--baseline)*1);
  }
  .landing-parent {
    background-size: auto 100% ;
  }
  .showmobile, .mobilenav{
    display: block;
  }
  .search-big{
    margin: 0 0 calc(var(--baseline) / 2);
    .grid-noGutter-center{
      padding: calc(var(--baseline) * 1.5) 0 0;
      margin: 0;
    }
    input[type*="text"]{
      font-size: calc(1rem * var(--typescale) * var(--typescale));
      height: calc(var(--baseline) * 2.5);
      border: 2px solid #ddd;
      border-radius: calc(var(--baseline) * 2) 0 0 calc(var(--baseline) * 2);
    }
    
    .insetbutton{
      padding: 1rem;
      height: calc(var(--baseline) * 2.75);
      width: calc(var(--baseline) * 2.75);
    }
  }

  [class*="sm-only"] {
      display: none;
  }

  .result-book{
    background: #fff;
    text-align: center;
    .col-12_sm-2 {
      text-align: left;
    }
    .thumbframe{
      height: calc(var(--baseline) * 3.5);
      overflow: hidden;
    }
    img{
      height: 60%;
      width: auto;
      margin-top: calc(var(--baseline)/2);
    }
    .go{
      line-height: calc(var(--baseline) * 2);
      height: calc(var(--baseline) * 2);
      font-size: calc(1rem * var(--typescale) * var(--typescale));
    }
  }
  .result-text blockquote {
    background: #F8F8F8;
    margin: 0 0 0 0;
    border-radius: 4px;
    max-height: calc(var(--baseline) * 3.5);
    overflow: scroll;
    padding: calc(var(--baseline)/4) 1rem;
    p{
      margin: 0;
    }
  }
  .result-book .go span:before {
    width: calc(var(--baseline) / 1);
    height: calc(var(--baseline) / 1);
    top: 0;
    left: -2rem;
  }

  .bookcard .bookframe {
    height: 47vw;
  }
  
} /*  <--  end of the media query  */ 


@media (min-width: 48em) {
  [class*="sm-only"] {
      display: block;
  }
  .price-unit{
    margin: calc(var(--baseline) * 2) 0 calc(var(--baseline) / 2);
  }
  .laptop-wrapper{
    margin: 0 0 0 -25%;
    svg{
      width: 125%;
    }
  }
}





