


.reader-demo{
  color: #ccc;
  background: #2a2a2a;
  background-image: url(/images/tile.png);
  padding: (calc(var(--baseline)*1.5)) 0 ;
  .container{
    width: 90%;
  }
  h3,a{
    color: #ccc;
    margin-bottom: calc(var(--baseline)/1) ;
  }
  .laptop {
    height: calc(var(--baseline) * 11);
    img{height: 100%}
  } 
}
.laptop-unit{
  background-image: url(../../images/SVG/laptop-bg.svg);
  background-repeat: no-repeat;
  background-size: 100% auto ;
  width: calc(var(--baseline) * 15);
  height: calc(var(--baseline) * 10);
  padding: 3% 5%;
  outline: 1px yellow dashed!important;
  .screen{
    outline: 1px cyan dashed!important;
    width: 100%;
    height: 90%;
  }
}
