$b-rad: 6px;

.library-nav{
  background: #F7F7F7;
  padding-top: calc(var(--baseline) /1);
  input[type='search']{
    border: 1px solid #E0E0E0; 
    font-size: calc(1rem / var(--typescale));
    padding: 15px;
    background: #fff;
    margin: 0 0 0 0;
    width: 100%;
    border-radius: 8px;
  }
}

.catnav {
  font-size: calc(1rem / var(--typescale));
  display: flex;
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  flex-wrap: wrap;
  list-style-type: none;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  align-content: space-around;
  li{
    text-align: center;
    white-space: nowrap;
    flex: 0 0 0;
    margin: 5px;
    a{ 
      color: #333;
    }
    &.on a{
      font-weight: 700;
    }
    &:hover{
      font-weight: 500
    }
  }
}

/* Book results */

.contentbody{
  background-color: #f7f7f7;
  padding: 0 0 calc(var(--baseline)*2);
  h3{
    color: #333;
  }
}
.results-total{
  font-size: calc(1rem / var(--typescale));
  line-height: calc(var(--baseline) / 2);
  margin-top: calc(var(--baseline) / 2);
  margin-bottom: calc(var(--baseline) / 2);
}

.search-big{
  margin: 0 0 calc(var(--baseline) / 2);
  .grid-noGutter-center{
    padding: calc(var(--baseline) * 1.5) 0 0;
    margin: 0;
  }
  input[type*="text"], select{ 
    font-size: calc(1rem * var(--typescale));
    height: calc(var(--baseline) * 1.5);
    border: 2px solid #ddd;
    width: 100%;
    padding: 0 1.5rem;
    box-shadow: 2px 3px 6px inset rgba(0,0,0,.1);
    border-radius: calc(var(--baseline) * 2) 0 0 calc(var(--baseline) * 2); /* this field is round on the left end */
    &::placeholder{
      color: #999;
    }
  }
  
  .insetbutton{
    padding: 1rem;
    position: relative;
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 19 19'%3E%3Cpath fill='%23fff' d='M8.829 6.328a1 1 0 1 0 0-2 1 1 0 0 0 0 2z'/%3E%3Cpath fill='%23666'  d='M11.95 2.05a7.002 7.002 0 0 1 .657 9.143l5.707 5.707-1.415 1.414-5.707-5.707A7.002 7.002 0 0 1 2.05 2.05a7 7 0 0 1 9.9 0zm-1.414 8.486a5 5 0 1 0-7.072-7.072 5 5 0 0 0 7.072 7.072z' /%3E%3C/svg%3E") no-repeat left center;
    background-size: auto 50% , 100% 100%;
    background-position: center center, 100% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    font-size: 1rem;
    line-height: calc(var(--baseline) / 4);
    margin: 0px;
    overflow: hidden;
    //padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    //width: 300px;
    -webkit-border-radius: 0 calc(var(--baseline) * 2) calc(var(--baseline) * 2) 0;
    -moz-border-radius: 0 calc(var(--baseline) * 2) calc(var(--baseline) * 2) 0;
    border-radius: 0 calc(var(--baseline) * 2) calc(var(--baseline) * 2) 0;
    transition: background-size .3s ease-out;
    &:hover{ 
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 19 19'%3E%3Cpath fill='%23fff' d='M8.829 6.328a1 1 0 1 0 0-2 1 1 0 0 0 0 2z'/%3E%3Cpath fill='%23000'  d='M11.95 2.05a7.002 7.002 0 0 1 .657 9.143l5.707 5.707-1.415 1.414-5.707-5.707A7.002 7.002 0 0 1 2.05 2.05a7 7 0 0 1 9.9 0zm-1.414 8.486a5 5 0 1 0-7.072-7.072 5 5 0 0 0 7.072 7.072z' /%3E%3C/svg%3E") no-repeat left center;
    background-size: auto 50% , 100% 100%;  
    background-position: center center, 100% center;
    transition: background-size .3s ease-out;
    }
  }
  button{
    line-height: calc(var(--baseline) * 1.25);
    width: calc(var(--baseline) * 1.75);
    font-size: calc(1rem * var(--typescale));
    border: 3px #bbb solid;
    font-weight: 400600;
    border-radius: $b-rad;
    margin: 0 1rem;
  }
}

.inset{  
  margin: 0 0.5rem;
}  
.showall{
  font-size: calc(1rem / var(--typescale));
  line-height: calc(var(--baseline) / 2);
  margin-top: calc(var(--baseline) / 2);
  margin-bottom: calc(var(--baseline) / 2);
  text-align: right;
}
.search-body h4{
  margin: 0 0.5rem;
} 

.underline{
  border-bottom: 1px #999 solid;
  margin: calc(var(--baseline) * 2) 0 0;
  padding: 0 0 0;
  
}
.rel{
  position: relative;
}
.label{
  position: absolute;
  top: calc(var(--baseline) / -1.25);
  color: #888;
  font-size: calc(1rem / var(--typescale) / var(--typescale));
}