/*------------------------------------*\
  #FLOATING HEADER BAR CSS
\*------------------------------------*/

.header-float { 
    width: 96%;
    max-width: 58rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: top;
    align-content: normal;
    position: fixed;
    z-index: 999;
    background: #eee;
    border-radius: 3px;
    box-shadow: 0 .2rem .2rem rgba(0,0,0,.15);
    padding: calc(var(--baseline) / 2) 0 0;
    &>*{
      display: block;
      margin: 0 1%;
      //outline: 1px rgba(0,0,0,.2) dashed;
    }
    .nav{
      width: 5%;
    }
    .branding {
      text-align: center;  
      width: 30%;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: stretch;
      align-content: center;
      font-weight: 400;
      margin-top: 0;
    }
  // hamburger
  /*------------------------------------*\
  #Hamburger & animation
  \*------------------------------------*/
    #showmenu{ 
      position: relative;
      cursor: hand;
      height: 2em;
      width: 2rem;
      //outline: 1px green dashed;
      top: calc(var(--baseline) / 2);
      span{
        position: relative;
        perspective: none;
        height: .2em;
        width: 2rem;
        transform: translateY(calc(var(--baseline) / 2));
        //outline: 1px green dashed;
        background: var(--basefontcolor);
        display: block;
        transition: .3s;
        &:after, &:before{
          display: block;
          position: absolute;
          content: '';
          height: inherit;
          width: inherit;
          background: var(--basefontcolor);
          transform: translateY(calc(var(--baseline) / 3));
          left: 0;
          transition: .3s;
        }
        &:before{
          transform: translateY(calc(var(--baseline) / -3));
        }
      }
      
  }
  
    .pagestate {
      width: 45%;
      //margin-top: calc(var(--baseline) / 2);
      dl {
        width: 100%;
      }
      dt {
        float: left;
        text-align: right;
        font-weight: bold;
        width: 25%;
        //outline: 1px red dashed;
      }
      dt::after {
        content: ":";
      }
      dd {
        margin: 0 0 0 2%;
        padding: 0;
        //outline: 1px red dashed;
        float: left;
        width: 15%;
      }
    }
  }
  
  .devicestate{
    //outline: 1px red dashed;
    width: 10%;
    text-align: center;
    position: relative;
  }
  .device{
    //width: 10%;
    position: relative;
    display: inline-block;
    left: auto;
    right: auto;
    top:0
  }
  .controls{
    clear: both;
    li {display: inline-block;}
     [type=checkbox] {
    position: absolute;
    left: -150vw;
    }
    label {
      background: #eee;
      line-height: calc(var(--baseline) * 1);
      padding: .2rem .3rem;
      color: #999;
      border: 1px solid#999;
      transition: 400ms;
      border-radius: .2rem;
    }
    /* Selected */
    [type=checkbox]:checked + label {
      background: rgb(200, 255, 0);
      font-weight: 600;
      color: rgb(21, 90, 0);
      border: 1px solid rgb(21, 90, 0);
      transition: 400ms;
    }
  }

  .showmenu .header-float #showmenu{ //clicked hamburger animation
    span{
      background: rgba(0,0,0,0);//clear
      transition: .3s;
      &:before{
        transform: rotateZ(405deg);
        transition: inherit;
    }
      &:after{
        transform: rotateZ(-405deg);
        transition: inherit;
    }
  }
}

