

#toolstrip {
  background-color: #222;
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);
  transform-origin: 50% calc(var(--baseline)*-1) 0;
  transition: transform .1s ease-in;
  width: 100%;
  z-index: 999;
  display: none;  /* Note: this is hidden by default (mobile) and only display on tablet and larger */
}

.fixed-nav {
	position: fixed;
	top: calc(var(--baseline) * 1);
  width: 100%;
  z-index: 2;
}

#downloadBook svg{
margin:0 0 -0.6rem 1rem;
}

.toolbar {
  height: calc(var(--baseline) * 1.5);
  z-index: 100;

}
.toolbar .grid-12>div:first-of-type a.toolbarLink {
  border-left: 1px #383838 solid;
}
.toolbar .toolbarLink {
  color: #eee;
  font-weight: 400;
  width: 100%;
  display: inline-block;
  text-align: center;
  line-height: calc(var(--baseline) * 1.5);
  border-right: 1px solid #383838;
  font-size: calc(1rem /  var(--typescale));
  &:hover{
    font-weight: 500;
    //background-color: #111;
    transition: all .2s ease-out;
  }
  .svg-icon {
    margin-left: 0;
  }
}

/* Center  */
#offlinemode{
  height: calc(var(--baseline) * 1.5);
  position: relative;
  .state{
    margin:0.889rem;
  }
}

$dialog-speed: 9s;

.tooltip-dialog{
  opacity: 0;
  position: absolute;
  width: 283px;
  background: #333333;
  padding: calc(var(--baseline) / 2) 0;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  .tooltip-loader{
    position: relative;
    margin: calc(var(--baseline) / 2) 1rem 0;
    height: calc(var(--baseline) / 2);
    background: #222;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    .tooltip-progress{
      background: #1094F6;
      width: 0%;
      height: calc(var(--baseline) / 2);
      box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.25);
    }
  }
}


.button-library {
  width:  calc(var(--baseline) * 1);
  height:  calc(var(--baseline) * 1);
  margin: calc(var(--baseline) / 2);
  float: left;
  outline: 1px red dashed;

}

#offlinemode input[type='checkbox']:checked ~ .tooltip-dialog{
  animation: onoff $dialog-speed forwards;
  .screen-1{
    display:block;
    animation: screens $dialog-speed backwards;
    animation-delay: ($dialog-speed/-2);
  }
  .screen-2{
    display:none;
    animation: screens $dialog-speed forwards;
    animation-delay: ($dialog-speed/2);
  }
  .tooltip-loader .tooltip-progress{ // progress indicator
    animation: progress ($dialog-speed/2) forwards;
  }
}

@keyframes screens {
  0%{
    opacity: 0;
    display: none;
  }
  49%{
    display: none;
  }
  50%{
    opacity:0;
    display: block;
  }
  53%{
    opacity:1;
  }
  96%{
    opacity:1;
  }
  99%{
    opacity:0;
  }
  100%{
    display: none;
  }
}


@keyframes onoff {
  0%{
    opacity: 0;
  }
  5%{
    opacity: 1;
  }
  95%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@keyframes progress {
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}




/* ==== Chapter menu  === */ 


#toc-anchor{
  //outline: 1px red dashed;
  z-index: 2000;
  width: 100%;
  position: fixed;
  top: calc(var(--baseline) * 2);
}

.toc-container{
  position: absolute;
  transform: scaleY(0);
  transform: translateX(-110%);
  width: 100%;
  transition: transform .2s ease-out;
  &.open{
    transform: scaleY(1);
    transform: translateX(0px);
    transition: transform .2s ease-out;
  }
  .toc{
    margin: 0;
    color: #111;
    padding-top: calc(var(--baseline) * 1);
    padding-bottom: calc(var(--baseline) * 1);
    position: absolute;
    background-color: #f5efea;
    list-style-position: inside;
    font-size: calc(1rem / var(--typescale));
    font-weight: 400;
    line-height: calc(var(--baseline) * 1.25);
    width: 100%;
    padding-left: 1rem;
    i{
      margin-left: 2rem;
    }

  }
}

#closetoc{
  width:  calc(var(--baseline) * 1);
  height: calc(var(--baseline) * 1);
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 21 21'%3E%3Ccircle cx='10.5' cy='10.5' r='10.5' fill='%23000'/%3E%3Cpath fill='%23fff' d='M15.803 15.803a1.5 1.5 0 0 0 0-2.121L12.621 10.5l3.182-3.182a1.5 1.5 0 1 0-2.121-2.121L10.5 8.379 7.318 5.197a1.5 1.5 0 0 0-2.121 2.121L8.379 10.5l-3.182 3.182a1.5 1.5 0 1 0 2.121 2.121l3.182-3.182 3.182 3.182a1.5 1.5 0 0 0 2.121 0z'/%3E%3C/svg%3E");
  background-size: 100% 100%;
  position: absolute;
  font-size: calc(var(--baseline) * 1);
  cursor: pointer;
  right: 1rem;
  top:   1rem;
  z-index: 999;
}
li.toc-chapter{
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 85%;
  overflow: hidden;
}


