.ad-300x600 {
  margin: var(--baseline) 0;
  width: 300px;
  height: 600px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 300 600' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='.5' y='.5' width='299' height='599' fill='%23EFEFEF' stroke='%23DCDCDC'/%3E%3Cline y1='-.5' x2='667.196' y2='-.5' transform='matrix(-.44916 .89345 -.33355 -.94273 299.675 1.805)' stroke='%23DCDCDC'/%3E%3Cpath d='M1.006 2.997L300 597.003' stroke='%23DCDCDC'/%3E%3Crect x='50' y='278' width='187' height='45' fill='%23EFEFEF'/%3E%3Ctext fill='%23C2C2C2' style='white-space:pre' font-family='Roboto' font-size='12' letter-spacing='0em'%3E%3Ctspan x='83.322' y='303.602'%3EHalf-Page – 300 x 600 px%3C/tspan%3E%3C/text%3E%3C/svg%3E%0A");
}

.ad-300x250 {
  margin-top: calc(var(--baseline) /2);
  width: 300px;
  height: 250px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 300 250' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='.5' y='1.5' width='299' height='249' fill='%23EFEFEF' stroke='%23DCDCDC'/%3E%3Cline y1='-.5' x2='389.707' y2='-.5' transform='matrix(-.76898 .63928 -.64614 -.76322 299.675 .997)' stroke='%23DCDCDC'/%3E%3Cpath d='M1.006 1.496L300 249.747' stroke='%23DCDCDC'/%3E%3Crect x='90' y='99' width='114' height='56' fill='%23EFEFEF'/%3E%3Ctext fill='%23C2C2C2' style='white-space:pre' font-family='Roboto' font-size='12' letter-spacing='0em'%3E%3Ctspan x='97.664' y='124.602'%3EInline Rectangle – %3C/tspan%3E%3Ctspan x='111.545' y='138.602'%3E300 x 250 px%3C/tspan%3E%3C/text%3E%3C/svg%3E%0A");
  img{
    width: 300px;
    height: 250px;
  }
}

.ad-320x100 {
  width: 320px;
  height: 100px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 320 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='.5' y='.5' width='319' height='99' fill='%23EFEFEF' stroke='%23DCDCDC'/%3E%3Cline y1='-.5' x2='334.738' y2='-.5' transform='matrix(-.95494 .2968 -.91477 -.40398 319.654 .3)' stroke='%23DCDCDC'/%3E%3Cpath d='M1.073.5L320 99.5' stroke='%23DCDCDC'/%3E%3Crect x='88' y='31' width='141' height='36' fill='%23EFEFEF'/%3E%3Ctext fill='%23C2C2C2' style='white-space:pre' font-family='Roboto' font-size='12' letter-spacing='0em'%3E%3Ctspan x='99.113' y='46.102'%3ELarge Mobile Banner – %3C/tspan%3E%3Ctspan x='125.545' y='60.102'%3E320 x 100 px%3C/tspan%3E%3C/text%3E%3C/svg%3E%0A");

}

