/* chapter */ 

#reeedr-body {
  color: #333;
  margin-bottom: 0;
  background-color: #fff;
  margin-top: 0;
  width: 100%;
}



#reeedr .ch-head  {
  font-size: 9rem;
  color: #445266;
  line-height: 5.33333rem;
  vertical-align: middle;
  margin-top: 5.33333rem;
  font-weight: 600;
  font-family: 'Raleway', 'Roboto', sans-serif;
  position: relative;
  //top: 0rem;
  height: calc(var(--baseline) * 7);
  padding-top: calc(var(--baseline) * 2); 
  left: 0;
  text-align: center;
  width: 100%;
  &:before{
    display: block;
    position: absolute;
    font-family: 'Raleway', 'Roboto', sans-serif;
    content: '';
    width: 2px;
    height: calc(var(--baseline) * 7);
    //outline: 1px red dashed;
    background: #445266;
    top: 0;
    left: 1rem;
  }
}
#reeedr .ch-head .chapter-head {
  font-size: 1.5625rem;
  position: absolute;
  top: calc(var(--baseline) * -1.0);
  //outline: 1px cyan dashed;
  font-family: Raleway;
  color: #9ab;
  font-weight: 600;
  //border-left: 1px solid #999; 
  margin-top: 0rem;
  margin-left: 0;
  width: 100%;
  //right: 10%;
  text-align: center;
  
}
#reeedr .chapter .chapter-start {
  margin-top: 5.33333rem;
}
#reeedr h1.chaptertitle {
  color: #345;
  margin-bottom: calc(var(--baseline) / 2);
  text-align: right;
}


#reeedr .author {
  color: #949494;
  width: 100%;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 0 2.66667rem 0;
}

.intro{
  font-size: calc(var(--typescale) * 1rem);
  line-height: calc(var(--baseline) * 1);  
}

#reeedr .image-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
#reeedr img {
  max-width: 100%;
}