$br: 3px;


$bp-tablet: 48em;
$bp-laptop: 64em;
$bp-wide: 80em;

@import 'sg-reset';
@import 'basic-typography';
//@import 'basic-grid-typography';


@import "gridlex-vars";
@import "gridlex-preprocessing";
@import "gridlex-mixins";
@import "gridlex-classes";
@import "utilities";

@import 'header';
@import 'hero-landing-2';
// @import 'tech'; /* combined in companies */
@import 'companies';
@import 'search-nav';
@import 'books-landing';
@import 'why-landing';
//@import 'sushi-train';
@import 'reader-demo';
@import 'social-landing';

@import 'social-login';

@import 'talks-landing';
@import 'course-landing';
@import 'blog-landing';

//@import 'authors';
@import 'reviews';
@import 'community';
@import 'footer';

@import 'media-tweaks';
@import 'under-construction';
@import 'buttons-CTAs';
//@import '3d';

.sitepoint-branding{
  position: fixed;
}
.landing-parent{
  padding-top: calc(var(--baseline) * 2);  // buffer for the fixed nav 
}

.pink{
  height: calc(var(--baseline));
  background: var(--cta-1);
  color: #eee;
  border-radius: 4px;
  font-size: calc(1rem / var(--typescale));
  border: 0 none;
  padding-left: 1rem;
  padding-right: 1rem;
  box-shadow: 0 3px 5px rgba(0,0,0,0.2);
  &:hover{
    background: var(--cta-1-hover);  
    color: #fff;
  }
  &.large{
    font-size: calc(1rem * var(--typescale));
    height: calc(var(--baseline) * 1.5);
  }
}

.imageshadow{
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

button.pink{
  margin: calc(var(--baseline)*1) 0 calc(var(--baseline)*1);
  
}
.team-membership{
  a{
    color: #fff;
  }
}

/* temp column borders */
[class*="col"]{
  outline: 0px dashed rgba(125,200,200,.3);
}
/*
.animate{
  background: #FA0B7E;
}
.waiting{
  background: rgb(39, 250, 11);
}


[class~="grid"], [class*="grid-"], [class*="grid_"] {
  margin: 0 0.5rem;  }
  */

.mobilemenu{
  display: none;
  outline: 1px yellow dashed;
}

@media (max-width: 48em) {
  .mobilemenu{
    display: block;
    outline: 1px red dashed;
    
  }
}