
@import 'basic-grid-typography';
//@import '_kindling'; // grid layout

@import "gridlex-vars";
@import "gridlex-preprocessing";
@import "gridlex-mixins";
@import "gridlex-classes";

@import 'header';
@import 'hero-library';
@import 'search-nav';
@import 'footer';
@import 'animate';
//@import '3d';

.bodycontent{
  background: #F7F7F7;
  padding-bottom: calc(var(--baseline) * 1);
}

.card {
  width: 96%;
  margin:0 2%;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.05);
  padding: calc(var(--baseline)/2) 0;
  height: calc(var(--baseline)* 11.5);
  transition: all .33s;
  position: relative;
  z-index: 5;
  &:before{
    display: block;
    position: absolute;
    content: '';
    width: 20%;
    height: 5%;
    //outline: 1px red dashed;
    z-index: 70;   
    cursor: hand;
    left: 0;
    margin: 0 40%;
    bottom: calc(var(--baseline) / -10);
  }/*
  &:hover:before{
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 58 19'%3E%3Cpath fill='%23040404' d='M0 4.02L2.506 0 29 13.885 55.852 0 58 4.02 29 19 0 4.02z'/%3E%3C/svg%3E") no-repeat;
  }
  &:hover{
    transform: scale(1.05);
    transition: all .33s;
    z-index: 999;
    figure .frame span:before{ 
      opacity: .9;
      transition: all .33s;  
      }
    }*/
  
figure{
  width: 90%;
  margin: 0  5%;
  position: relative;
  .frame{ /* crop taller coversasdasd */
    overflow: hidden;
    width: 100%;
    height: calc(var(--baseline) * 9);
    position: relative;
    z-index: 1;
    //outline: 1px greenyellow dashed;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    img{
      width: 100%;
    }
    span{
      width: 100%;
      position: absolute;
      display: block;
      top: 70%;
      &:before{
        display: block;
        position: absolute;
        content: 'Read now';
        width: 60%;
        margin: 0 20%;
        background: rgba(0, 0, 0, .75);
        font-size: calc(1rem);
        font-weight: 400;
        z-index: 99;
        opacity: 0;
        left: 0;
        color: #fff;
        text-align:  center;
        transition: all .33s;
        border-radius: 1rem;
        }
      }
    }
  &.opened{ /* overlay bookmark */
    &:before { 
      display: block;
      position: absolute;
      background-image: url("data:image/svg+xml,%3Csvg width='29' height='50' viewBox='0 0 29 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 47V1H28V47L14.3043 36.3846L1 47Z' fill='%2382C472' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-size: 100% auto;
      content: '';
      width: 15%;
      height: 20%;
      top: -2%;
      left: 7%;
      z-index: 100;
    }
  }
}

figcaption{
  color:  #333;
  font-weight: 400;
  margin-bottom: 0;
  text-align: center;
  min-height: calc(var(--baseline)*2); 
  display: flex;
  line-height: calc(var(--baseline) / 2);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: hand;
}

span{ /* The fold out trigger */
  //outline: 1px rgb(14, 238, 44) dashed;
  width: 100%;
  height: calc(var(--baseline) / 1);
  input{
    width: 100%;
    height: calc(var(--baseline) / 1);
    &[type=checkbox]:checked{
      outline: purple 1px solid;
      }
    } 
  }
}
/*  === Offline Mode ===  */ 
.offline .card{
  filter: saturate(0) opacity(.6);
  pointer-events: none;
  a{
    pointer-events: none;
  }
}

/* switch */ 
.pretty.p-switch.p-fill{
  position: absolute; 
  font-size: calc(1rem / var(--typescale)/ var(--typescale));
  line-height: 2;
  bottom: calc(var(--baseline) * -0.75);
  .state.p-success {
    label{
      font-size: calc(1rem / var(--typescale)/ var(--typescale));
      text-indent: 2rem;
      color: #999;
      &:after, &:before {
        content: '';
        width: calc(1rem / var(--typescale));
        height: calc(1rem / var(--typescale));
        top: calc(0.25rem / var(--typescale));
      }
    }
    &:before {
      top: calc((0% - (100% - .25em)) - 16%);
      //outline: 1px red dashed;
      width: calc(1.75rem / var(--typescale));
    }
  }
}
.pretty.p-switch.p-fill input[type=checkbox] + .state.p-success label{
  color: #aaa;
  transition: 1s linear
}
.pretty.p-switch.p-fill input[type=checkbox]:checked + .state.p-success label{
  color: #333;
  transition: 1s linear
}


/*
    // fold down expanded modal 
div.grid-4_md-2 .col:hover{ 
  &:before{
    display: block;
    position: absolute;
    content: '';
    width: 100vw;
    height: 400vh;
    //outline: 1px red dashed;
    background: rgba(0, 0, 0, 0.35);
    top: 0;
    left: 0;
    z-index: 200;
    pointer-events: none;
  }
}

div.grid-4_md-2 .col ~ .grid .expanded{
  height: 0; 
  opacity: 0;
  transition: all .3s ease-out;
}


div.grid-4_md-2 .col:hover, div.grid-4_md-2 .col ~ .grid .expanded{
  z-index: 300;
}

div.grid-4_md-2 .col:nth-child(1):hover ~ .grid:nth-child(5) .expanded{
  height: calc(var(--baseline) * 10); 
  opacity: 1;
  transition: all .3s ease-out;
  margin-bottom: 2rem;
}
div.grid-4_md-2 .col:nth-child(2):hover ~ .grid:nth-child(6) .expanded{
  height: calc(var(--baseline) * 10); 
  opacity: 1;
  transition: all .3s ease-out;
  margin-bottom: 2rem;
}
div.grid-4_md-2 .col:nth-child(3):hover ~ .grid:nth-child(7) .expanded{
  height: calc(var(--baseline) * 10); 
  opacity: 1;
  transition: all .3s ease-out;
  margin-bottom: 2rem;
}
div.grid-4_md-2 .col:nth-child(4):hover ~ .grid:nth-child(8) .expanded{
  height: calc(var(--baseline) * 10); 
  opacity: 1;
  transition: all .3s ease-out;
  margin-bottom: 2rem;
}
*/

.bodycontent h4{
  margin-top: calc(var(--baseline) * 1.5);
  margin-bottom: calc(var(--baseline) * 0.5);
}






span input[type=checkbox]{
  width: 100%;
  appearance: none;
}

.card figure.opened .frame span:before{
  content: 'Resume'; 
}
.borders div {
outline: 1px rgba(255, 0, 0, .1) dashed;
}

.borders section {
  outline: 1px rgba(255, 0, 255, .1) dashed;
};
/*

.expanded{
  position: relative;
  //display: none;
  top: calc(var(--baseline) * 1);
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.08);

}
.expanded-comment{
  background: #333 url(../../images/tile.png) top left;
  color: #ccc;
  border-radius: 0 4px 4px 0;
}
*/
.wrapper{
  margin: calc(var(--baseline) * 1);
}
table.specs{
  width: 100%;
  border-collapse: collapse;
  td{
    border: 1px #ddd solid;
    padding-left: 1rem;
  }
}

.collapsed{
  height: 0;
  overflow: hidden
}
.active{
  background: limegreen
}