$b-rad: 6px;

@import 'basic-grid-typography';

@import "gridlex-vars";
@import "gridlex-preprocessing";
@import "gridlex-mixins";
@import "gridlex-classes";


@import 'overrides'; // overrides for generated Prism CSS

@import 'header';
@import 'footer';

@import 'media-tweaks';

@import 'under-construction';


[class*="col"] {
  outline: 0px dashed rgba(125, 200, 200, 1);
}


.container {
  max-width: 58rem;
  margin: 0 auto;
}

.col-3 .device {
  float: left;
  font-size: 1rem;
  width: 5rem;
  height: 5rem;
  left: 10%;
  margin: 40% 20%;
  position: relative;
  transform: scale(1.5);
}


.imageshadow {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


/* temp column borders */
[class*="col"] {
  outline: 0px dashed rgba(125, 200, 200, .3);
}

.container [class*="grid"] {
  margin: 0 1rem;
}

/* ========   Switching up the font sizing for books on the phone   ============= */

@media (max-width: 48em) {

  h1,
  .is-size1 {
    line-height: calc(var(--baseline) * 1.5);
    /* 4 grid lines */
  }

  h2,
  .is-size2 {
    line-height: calc(var(--baseline) * 1.0);
  }


  .showmobile {
    display: block;
  }

}

.clearright {
  clear: right
}

.clearleft {
  clear: left
}

.clearboth {
  clear: both
}