/*------------------------------------*\
  #LAYOUT UNITS FROM GRIDLEX
\*------------------------------------*/

@import "gridlex-vars";
@import "gridlex-preprocessing";
@import "gridlex-mixins";
@import "gridlex-classes";



/*------------------------------------*\
    #STYLEGUIDE LAYOUT UNITS
  
    CSS Specific to this particular layout
  
  \*------------------------------------*/
.container {
    /* This is handy for stopping layouts running 
      wide on super wide monitors. It's unneccessary 
      if you have proper layout CSS */
    width: 96%;
    max-width: 58rem;
    margin: 0 auto !important;
    color: var(--basefontcolor);
    background: #fff;
    //outline: 1px red dashed;
}



.layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    grid-gap: 1rem;
    //outline: 1px red dashed;
    //background: cyan;
    padding: 0 !important;
    margin: 0 !important;
}


/*------------------------------------*\
    #STYLEGUIDE GUIDEBODY LAYOUT & CONTROL
  \*------------------------------------*/


.header-float+.guidebody {
    padding-top: calc(var(--baseline) * 4.0); // top clearance for the floating header
}

.guidebody {
    width: 100%; // show no reports
    transition: .2s;

    .report span.ui-unit {
        overflow: hidden;
        width: 0;
        opacity: 0;
    }
}

.feedback .guidebody {
    width: 70vw; // show reports in the margin 
    transition: 0.2s;

    .report span.ui-unit {
        right: -21vw;
        width: 15vw;
        opacity: 1;
    }
}

.section {
    //border-bottom: 1px solid #999;
    background: #eee;
    color: #666;
    margin: calc(var(--baseline)/2) 0;
    padding: calc(var(--baseline)/2) 1rem;
    text-indent: 1rem;
}

.section--preview {
    padding: 0 calc(var(--baseline)/2) calc(var(--baseline)/2);
    border: 1px solid rgb(232, 232, 232);
    border-radius: 3px;
    width: 100%;
    //display: inline-block;
    box-sizing: border-box;
    margin: -1px 0; // allows for border width when stacking on grid
    [class~=col], [class*=col-], [class*=col]{
        padding: 0; //calc(var(--baseline)/2) 0;
        //outline: 1px red dashed;
    }
    figcaption{
        margin-bottom: calc(var(--baseline) / 2);
        font-size: calc(1rem / var(--typescale));
        color: #777;
        border-bottom: 1px rgb(180, 180, 180) solid;
        //box-sizing: content-box;
        margin: -1px 0 calc((var(--baseline) / 2) - 1px);
    }   
}
.dark{
    background-color: grey;
}
.center{
    text-align: center;
}

.catalog-Menu {
    // hidden menu
    width: 20rem;
    height: 100vh;
    z-index: 999;
    position: absolute;
    background: #eee;
    top: calc(var(--baseline) * 3);
    margin: calc(var(--baseline) / 2) 0;
    padding: calc(var(--baseline) / 2) 1rem calc(var(--baseline) / 2) 0;
    box-shadow: .2rem .2rem .2rem rgba(0, 0, 0, .3);
    opacity: 0;
    transform: perspective(500px) scale3d(0.05, 1, 1);
    transform-origin: top left;
    transition: .3s;
}

.showmenu .catalog-Menu {
    // show menu
    opacity: 1;
    transform: perspective(500px) scale3d(1, 1, 1);
    transition: .3s;
}

.tag-group{
    outline: 1px #ccc dotted;
}


.style-definition{
    padding: calc(var(--baseline) / 2) 0;
    // outline: 1px purple dashed;
}


input.codeshow{
    height: calc(var(--baseline) / 2);
    appearance: none;
    width: 100%;
    position: absolute;
    z-index: 99;
    &:focus{
        outline: none;
    }
}
.showcode{
    font-size: calc(1rem / var(--typescale)/ var(--typescale)/ var(--typescale));
    line-height: calc(var(--baseline) / 2);
    padding: 0 2rem;
    position: absolute;
    background:  #eee;
    color: #999;
    border: 1px solid #ccc;
    border-radius: 4px;
    &::after{
        display: block;
        position: absolute;
        content: '';
        width: calc(var(--baseline) / 4);
        height: calc(var(--baseline) / 4);
        top: calc(var(--baseline) / 8);
        right: 0.5rem;
        transition: .3s steps(5);
        background-size: auto 100% ;
        background-position: left top;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 600 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23888'%3E%3Crect y='43' width='100' height='15'/%3E%3Crect x='102.9' y='69' width='100' height='15' transform='rotate(-30 103 69)'/%3E%3Crect x='218.6' y='90.1' width='100' height='15' transform='rotate(-60 218.6 90)'/%3E%3Crect x='357.2' y='100.7' width='100' height='15' transform='rotate(-105 357.2 100.7)'/%3E%3Crect x='483.2' y='91.2' width='100' height='15' transform='rotate(-135 483.2 91.2)'/%3E%3Crect x='57.5' y='.5' width='100' height='15' transform='rotate(90 57.5 .5)'/%3E%3Crect x='150.5' y='-.1' width='100' height='15' transform='rotate(81.5 150.5 0)'/%3E%3Crect x='234.6' y='3.3' width='100' height='15' transform='rotate(60.4 234.6 3.3)'/%3E%3Crect x='500' y='43' width='100' height='15'/%3E%3Crect x='403.6' y='30.3' width='100' height='15' transform='rotate(15 403.6 30.3)'/%3E%3Crect x='310.7' y='19' width='100' height='15' transform='rotate(30 310.7 19)'/%3E%3C/g%3E%3C/svg%3E");
    }
}
.codeview{
    margin: calc(var(--baseline) / 2) 2% calc(var(--baseline) / 1);
    position: relative;
    //height: calc(var(--baseline) / 2);
    pre {
        background-color: #f9f9fc;
        position: relative;
        top: calc(var(--baseline) / 2);
        padding: calc(var(--baseline) / 2) 0 calc(var(--baseline) / 2);
        border: 1px solid #ccc;
        overflow: hidden;        
        display: none;
        code {
            background-color: #f0f0f3;
            font-size: calc(1rem / var(--typescale)/ var(--typescale)/ var(--typescale));
            line-height: calc(var(--baseline) / 2);
        }
    }
    input.codeshow:checked ~ pre{
        height: auto;
        display: block;
    }
    input.codeshow:checked ~ .showcode{
        border-radius: 4px 4px 0 0;
        &::after{
            background-position: right top;
        }
    }
}



/* CSS MODULES */

// in styles.css




/* STYLEGUIDE MODULES */

@import 'sg-header-float';

@import 'sg-report';

@import 'sg-construction';

@import 'prism';